//--------------------------------------------
//company-story
//--------------------------------------------


body {
  &.story {
    section {
      .main-visual {
        background: url(../../img/en/company/story/img-story-main.png) center no-repeat;
        background-size: cover;
        height: 490px;
      }

      p.question {
        font-family: $f-yugoth;
        text-align: left;
        line-height: 24px;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 30px;
        line-height: 1.8;
        letter-spacing: 1px;
        // padding-left: 99px;
      }

      .contents {
        font-family: $f-yugoth;
        padding: 100px 0;
        margin: 0 auto;
        
        .txt {
          line-height: 1.8;
          text-align: left;
          font-family: $f-yugoth;
        }
      }

      &.sec01 {
        .txt {
          font-size: 16px;
          margin-top: 80px;
          text-align: center;
        }
        .title {
          vertical-align: middle;
          font-family: $f-yumin;
          font-size: 36px;
          letter-spacing: 4px;
          text-align: center;
          padding: 0;
          background: none;
          margin-bottom: 0;

          span {
            margin: 0 40px;
            font-size: 50px;
            vertical-align: middle;
            background: url(../../img/en/company/story/img-story-cross.png) center -2px no-repeat;
            display: inline-block;
            width: 48px;
            height: 54px;
          }
        }
      }

      &.sec02 {
        @include clearfix;
        .left {
          background: url(../../img/en/company/story/img-story-01.png) center no-repeat;
          min-height: 584px;
          background-size: cover;
        }
        .right {
          background: #f5f5f5;
          .inner {
            // width: 470px;
            padding: 50px 0 50px 50px;
            float: left;
            
            .txt {
              @include clearfix;
            }
          }
        }
      }

      &.column02 {
        @include clearfix;

        .left,
        .right {
          @include clearfix;
          width: 50%;

          .inner {
            width: 470px;
            // padding: 50px 0 50px 50px;
          }
        }

        .left {
          float: left;
        }
      }

      &.sec04 {
        .left {
          background: #f5f5f5;

          .inner {
            float: right;
            padding: 50px 50px 50px 0px;
          }
        }

        .right {
          background: url(../../img/en/company/story/img-story-02.png) center no-repeat;
          min-height: 639px;
          background-size: cover;
        }
      }

      &.sec05 {
        background: url(../../img/en/company/story/img-story-03.png) center no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 550px;
      }

      .left,
      .right {
        width: 50%;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
      .title {
        font-size: 24px;
        font-family: $f-yumin;
        line-height: 1.8;
        letter-spacing: 2px;
        text-align: left;
        margin-bottom: 60px;
        background: url(../../img/en/company/story/img-story-title.png) left 20px no-repeat;
        padding-left: 71px;

      }
    }
    .name {
      width: 65px;
      padding-right: 35px;
      text-align: left;
      float: left;
      padding-top: 7px;
      

      &.p1 {
        color: #7a553f;
      }
      &.p2 {
        color: #3f3f7a;
      }
    }
    .comment {
      margin-left: 100px;
      line-height: 2;
      letter-spacing: 1px;
      text-align: left;
    }
  }
}