//--------------------------------------------
//company-access
//--------------------------------------------


body {
  &.award {
    .wrapper {
      article {
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 60px;
        margin-bottom: 60px;
        
        &:last-child {
          margin-bottom: 0;
        }

        .title {
          font-family: $f-yumin;
          font-size: 24px;
          letter-spacing: 2px;
          margin-bottom: 40px;

          span {
            font-size: 14px;
            letter-spacing: 1.5px;
          }
        }

        .contents {
          @include clearfix;
          .img {
            float: left;
            width: 290px;
          }
          .txt {
            font-family: $f-yugoth;
            width: auto;
            margin-left: 320px;
            font-size: 14px;
            line-height: 2;
            letter-spacing: 1px;
            
            a {
              text-decoration: underline;
              color: #ababab;
            }
          }
        }
      }
    }
  }
}
