//--------------------------------------------
//company-access
//--------------------------------------------


body {
  &.profile {
    .wrapper {
      h4 {
        font-size: 26px;
        font-family: $f-yumin;
        letter-spacing: 2px;
        margin-bottom: 40px;
      }

      .img_block {
        display: block;
        min-height: 240px;
      }
      .author {
        margin-top: 10px;
        display: block;
        font-size: 12px;

        p {
          line-height: 1.9;
        }
      }

      section {
        margin-bottom: 200px;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .col2 {
        display: table;
        margin-bottom: 120px;
        // padding-top: 30px;

        &.first {
          padding-top: 30px;
          margin-bottom: 60px;
        }


        article {
          display: table-cell;
          padding-left: 60px;

          &:first-child {
            padding-left: 0;
          }

          .img {
            // float: none;
            // width: 212px;
            margin-bottom: 20px;

            img {
              // width: 100%;
            }
          }

          .txt {
            margin-left: 323px;
            width: 117px;

            .name {
              font-size: 20px;
              margin-top: 80px;
              // text-align: center;

              span {
                font-size: 12px;
              }
            }
          }
        }
      }

      article {
        @include clearfix;
        margin-bottom: 90px;
        &:last-child {
          margin-bottom: 0;
        }
        
        .img {
          @include clearfix;
          width: 293px;
          float: left;
          display: block;
        }
        

        .txt {
          width: auto;
          margin-left: 323px;
          font-family: $f-yugoth;
          
          .name {
            font-size: 24px;
            margin-bottom: 20px;
            
            span {
              font-size: 14px;
              padding-right: 15px;
              vertical-align: middle;
            }
          }

          table {
            tr {
              td {
                padding: 12px 0;
                line-height: 1.5;
                vertical-align: top;

                &.year {
                  width: 70px;
                }

                &.year_month {
                  width: 90px;
                }

                &.career_text {
                  border-bottom: none;
                  line-height: 2;
                }
              }
            }
          }
        }
      }
    }
  }
}
