//--------------------------------------------
//company-identity
//--------------------------------------------

body.identity #body .wrapper {
    width: 820px;
}

body.identity .pageTtl {
    border-bottom: none;
}

body.identity .pageTtl h2 {
    width: 392px;

    /*596*/
    height: 45px;

    /*46*/
    background: url(../../img/en/company/title01.gif) no-repeat;
    margin: 0 auto;
}

body.identity .sections {
  width: 580px;
  margin: 0 auto 80px;
  text-align: left;
  
   h3,
   h4,
   h5 {
    text-indent: -9999px;
    overflow: hidden;
   }
}

body.identity .sections .sec {
  margin-bottom: 62px;
}

body.identity .sections h5 {
  height: 22px;
  margin-bottom: 30px;
}

body.identity .sec1 h4 {
    background: url(../../img/en/company/identity/title01.gif) no-repeat center center;
    height: 35px;
    margin-bottom: 70px;

    /*40*/
    margin-top: 79px;
}

body.identity .sec1 h5 {
    background: url(../../img/en/company/identity/title02.gif) no-repeat center center;
}

body.identity .sec1 p {
    background: url(../../img/en/company/identity/copy02.gif) no-repeat center center;
    height: 23px;
}

body.identity .sec2 h5 {
    background: url(../../img/en/company/identity/title03.gif) no-repeat center center;
}

body.identity .sec2 p {
    background: url(../../img/en/company/identity/copy03.gif) no-repeat center center;
    height: 61px;
}

body.identity .sec3 {
    font-size: 16px;
    line-height: 28px;
}

body.identity .sec3 h5 {
    background: url(../../img/en/company/identity/title04.gif) no-repeat center center;
}

body.identity .sec3 li {
    padding: 0 0 23px 30px;
    width: 600px;
    margin-right: -50px;
}

body.identity .sec3 li.li1 {
    background: url(../../img/en/company/identity/num01.gif) no-repeat left 5px;
}

body.identity .sec3 li.li2 {
    background: url(../../img/en/company/identity/num02.gif) no-repeat left 5px;
}

body.identity .sec3 li.li3 {
    background: url(../../img/en/company/identity/num03.gif) no-repeat left 5px;
}

body.identity .sec3 li.li4 {
    background: url(../../img/en/company/identity/num04.gif) no-repeat left 5px;
}

body.identity .sec3 li.li5 {
    background: url(../../img/en/company/identity/num05.gif) no-repeat left 5px;
}