//--------------------------------------------
//contact
//--------------------------------------------

body.contact #body .wrapper {
    width: 820px;
}

body.contact .pageTtl {
    border-bottom: none;
}

body.contact .pageTtl h2 {
    width: 371px;
    height: 58px;
    background: url(../form/contact_lime-x/contact/img/title01.gif) no-repeat;
    margin: 0 auto;
}

body.contact .note {
    text-align: right;
    margin: -70px auto 60px;
    width: 795px;
}

body.contact h3 {
    background: url(../form/contact_lime-x/contact/img/title02.gif) no-repeat;
    width: 36px;
    height: 232px;
    float: left;
}

body.contact #form {
    width: 720px;
    float: right;
}

body.contact #form dl {
    padding-bottom: 100px;
}

body.contact #form dl dt {
    float: left;
    line-height: 1.5;
    clear: both;
}

body.contact #form dl dd {
    width: 540px;
    padding: 0 20px 32px 0;
    float: right;
}

body.contact #form dl dd label {
    margin-right: 20px;
}

body.contact #form dl dd.btn {
    width: 350px;
    padding-left: 190px;
}

body.contact #form select {
    background: #f6f6f6 url(../form/contact_lime-x/contact/img/bg_select.png) no-repeat 285px center;
    border: 1px solid #dcdcdc;
    width: 290px;
    padding: 5px 0 5px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    box-sizing: content-box;
}

body.contact #form .input_001, body.contact #form .post {
    border: none;
    background: #eee;
    font-size: 16px;
    padding: 8px 5px;
    width: 530px;
}

body.contact #form textarea.input_001 {
    height: 200px;
}

body.contact #form .agree01 {
    padding: 20px 0;
    line-height: 1.5;
}

body.contact #form .agree01 a {
    text-decoration: underline;
}

body.contact #form .agree02 {
    padding: 0px 0;
    line-height: 1.5;
    text-align: center;
}