//--------------------------------------------
//news
//--------------------------------------------

body {
  &.news {

    #body {
      .wrapper {
        width: 780px;
      }

      .wp-pagenavi {
        text-align: center;
        a,
        span {
          // @include borderRadiuspage;
          display: inline-block;
          text-align: center;
          font-size: 13px;
          width: 35px;
          border: 1px solid #c6c6c6;
          padding: 11px 0;
          vertical-align: middle;
          margin-left: 10px;
          
          &.current {
            background: #000;
            color: #fff;
          }

          &:hover {
            text-decoration: none;
            background: #000;
            color: #fff;
          }
        }

        a {
          width: 35px;
          border: 1px solid #c6c6c6;
          padding: 11px 0;
          vertical-align: middle;

          &.page {
            width: 35px;
            border: 1px solid #c6c6c6;
            padding: 11px 0;
            vertical-align: middle;
          }

          &.previouspostslink {

          }
        }
      }

      .archive {
        display: table;
        margin: 0 auto 55px;

        &.news_all {
          margin: 79px auto 55px;
        }

        li {
           display: table-cell;
           width: 105px;
          a {
            display: inline-block;
            width: 100%;
            padding: 10px 0;
            text-align: center;
            border: 1px solid #c6c6c6;
            border-collapse: collapse;
            vertical-align: middle;

            span {
              background: url(../../img/news/news-arrow-bottom_off.png) center right no-repeat;
              display: inline-block;
              width: 10px;
              height: 6px;
              float: right;
              margin-right: 10px;
              float: right;
              margin: 4px 10px 0 0;
            }

            &.cur {
              background: #000;
              color: #fff;
              border-top: 1px solid #000;
              border-bottom: 1px solid #000;
              span {
                background: url(../../img/news/news-arrow-bottom_on.png) center right no-repeat;
              }
            }

            &:hover {
              text-decoration: none;
              background: #000;
              color: #fff;
              border-top: 1px solid #000;
              border-bottom: 1px solid #000;
              
              span {
                background: url(../../img/news/news-arrow-bottom_on.png) center right no-repeat;
              }
            }
          }
        }
      }
    }

    .pageTtl {
      border-bottom: none;
      
      h2 {
        width: 206px;
        height: 45px;
        background: url(../../img/news/title01.gif) no-repeat;
        margin: 0 auto;
        
        &.media01 {
          width: 264px;
          height: 52px;
          background: url(../../img/news/media/title01.gif) no-repeat;
          margin: 0 auto;
        }
      }
    }

    .data {
      padding-top: 0px;
      
      .title {
        font-size: 22px;
        text-align: center;
        line-height: 30px;
        margin-bottom: 22px;
      }
      
      article {
        padding-bottom: 70px;
        
        .movie {
          margin: 30px auto 0;
          text-align: center;
        }
        
        &.col-2 {
          .col {
            @include clearfix;
            .img {
              float: left;
              max-width: 294px;
              margin: 0 30px 20px 0;
            }

            .txt {
              // margin-left: 329px;
              width: auto;
            }
          }
        }
        
        // img {
        //   float: left;
        //   margin: 7px 35px 0px 0;
        // }

        p {
          font-size: 14px;
          line-height: 28px;
          margin-bottom: 0px;
        }
        .txt {
          letter-spacing: 1px;
          margin-bottom: 11px;
          line-height: 2;
          letter-spacing: 0.8px;
          
          a {
            text-decoration: underline;
            color: #ababab;
          }
        }

        .youtube01 {
          text-align: center;
          padding: 7px 0 0 0;
          margin: 0 auto;
        }
      }

      .date {
        font-size: 14px;
        text-align: center;
        border-bottom: 1px solid #ccc;
        line-height: 1;
        padding-bottom: 28px;
        margin-bottom: 35px;
      }
    }
  }
}