//--------------------------------------------
//recruit
//--------------------------------------------

body.recruit .pageTtl {
    border-bottom: none;

    /* padding-bottom:100px;*/
}

body.recruit .pageTtl h2 {
    width: 392px;

    /*352*/
    height: 45px;

    /*45*/
    background: url(../company/img/title01.gif) no-repeat;
    margin: 0 auto;
}

body.recruit .pageTtl10 h2 {
    background: url(../company/recruit/img/title01.gif) no-repeat center center;
    height: 37px;
    margin-bottom: 70px;

    /*40*/
    margin-top: 79px;
}

body.recruit .pageTtl10 p {
    line-height: 30px;
    font-size: 14px;
}

body.recruit .pageTtl02 {
    border-bottom: none;
    padding-top: 60px;

    /*41*/
    padding-bottom: 88px;
}

body.recruit .pageTtl02 h2 {
    width: 205px;
    height: 42px;
    background: url(../company/recruit/img/title01-02.gif) no-repeat;
    margin: 0 auto;
}

body.recruit .pageTtl03 {
    border-bottom: none;
    padding-top: 14px;
    padding-bottom: 88px;
}

body.recruit .pageTtl03 h2 {
    width: 235px;
    height: 42px;
    background: url(../company/recruit/img/title01-03.gif) no-repeat;
    margin: 0 auto;
}

body.recruit .photo {
    height: 450px;
    background: url(../company/recruit/img/image01.jpg) no-repeat center center;
    margin-bottom: 50px;
}

body.recruit .sec h3 {
    width: 36px;
    float: left;
}

body.recruit .sec .data p {
    line-height: 24px;
    font-size: 14px;
}

body.recruit table {
    width: 705px;
    table-layout: fixed;
    border-top: 1px solid #ccc;
}

body.recruit table td, body.recruit table th {
    border-bottom: 1px solid #ccc;
    padding: 17px;
    font-size: 14px;
}

body.recruit table th {
    width: 130px;
    background: #eee;
    text-align: center;
}

body.recruit .sec1,
body.recruit .sec2,
body.recruit .sec3,
body.recruit .sec4,
body.recruit .sec5,
body.recruit .sec6 {
    margin-bottom: 75px;
}

body.recruit .sec7 {
    margin-bottom: 54px;
}

body.recruit .sec1 .data,
body.recruit .sec2 .data,
body.recruit .sec3 .data,
body.recruit .sec4 .data,
body.recruit .sec5 .data,
body.recruit .sec6 .data,
body.recruit .sec7 .data {
    width: 780px;
    float: right;
}

body.recruit .sec1 h3 {
    height: 81px;
    background: url(../company/recruit/img/title02-01.gif) no-repeat;
    margin-left: 90px;
}

body.recruit .sec2 h3 {
    height: 126px;
    background: url(../company/recruit/img/title02-02.gif) no-repeat;
    margin-left: 90px;
}

body.recruit .sec3 h3 {
    height: 217px;
    background: url(../company/recruit/img/title02-03.gif) no-repeat;
    margin-left: 90px;
}

body.recruit .sec4 h3 {
    height: 219px;
    background: url(../company/recruit/img/title02-04.gif) no-repeat;
    margin-left: 90px;
}

body.recruit .sec5 h3 {
    height: 77px;
    background: url(../company/recruit/img/title02-05.gif) no-repeat;
    margin-left: 90px;
}

body.recruit .sec6 h3 {
    height: 310px;
    background: url(../company/recruit/img/title02-06.gif) no-repeat;
    margin-left: 90px;
}

body.recruit .button01 {
    text-align: center;
    padding-bottom: 20px;
}

body.recruit .att01 {
    text-align: center;
    padding-bottom: 134px;
}