@charset "utf-8";

@import "base/variable";
@import "base/mixins";
@import "base/base";

/*--------------------
init
--------------------*/

#top .fv_story{
	display:none;
}
#top .fv_img img, #top .fv_logo img{
	visibility:hidden;
}

/*--------------------
common
--------------------*/

#top img{
	display:block;
}
.btn, .btn_slide{
	cursor:pointer;
}
.over{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	background-repeat:no-repeat;
	background-position:top left;
}

/*--------------------
#top .fv
--------------------*/

#top{
	width: 100%;
	min-width: 940px;
}
#top .fv{
	position:relative;
}
#top .fv_main{
	position:relative;
	overflow:hidden;
	width:100%;
	background-color:#000000;
}
#top .fv_img > img{
	position:relative;
	width:100%;
	min-width:1280px;
}
#top .fv_img > img + img, #top .fv_img > img + img + img{
	position:absolute;
	top:0px;
	width:100%;
	min-width:1280px;
}
#top .fv_logo{
	position:absolute;
	z-index:2;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:940px;
	height:280px;
	margin:auto;
}
#top .fv_logo > div > img:first-child{
	position:absolute;
	top:0px;
	right:-15px;
}
#top .fv_logo > div > img + img{
	position:absolute;
	top:90px;
}
#top .fv_logo > img{
	position:absolute;
	top:40px;
}
#top .fv .btn_open{
	position:absolute;
	z-index:2;
	bottom:50px;
	left:0px;
	right:0px;
	margin:auto auto 0px auto;
}

#top .fv_story{
	position:absolute;
	z-index:3;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}
#top .story_bk{
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background-color:#000000;
}
#top .story_img{
	position:absolute;
	overflow:hidden;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:940px;
	margin:auto;
}
#top .stone{
	position:absolute;
	top:-60px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
}
#top .story_txt{
	position:absolute;
	top:-30px;
	bottom:0px;
	right:0px;
	margin:auto;
}
#top .mask_left{
	position:absolute;
	top:-30px;
	bottom:0px;
	left:0px;
	margin:auto auto auto -170px;
}
#top .mask_right{
	position:absolute;
	top:-30px;
	bottom:0px;
	right:0px;
	margin:auto -170px auto auto;
}
#top .story_control{
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:940px;
	margin:auto;
}
#top .fv .btn_prev{
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	margin:auto;
}
#top .fv .btn_next{
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	margin:auto;
}
#top .fv .btn_close{
	position:absolute;
	bottom:30px;
	left:0px;
	right:0px;
	margin:auto auto 0px auto;
}

#top .fv_control{
	position:relative;
	width:50%;
	left:50%;
	margin:8px auto 40px -42px;
}
#top .fv_control .btn_slide{
	float:left;
	margin:4px;
}

/*--------------------
#top .news
--------------------*/

#top {
	.news {
		position:relative;
		width:940px;
		margin:0px auto 100px auto;
		
		h2 {
			position:relative;
			top:16px;
			height:18px;
		}

		hr {
			height:1px;
			padding-top:18px;
			margin-bottom:20px;
			border:solid #ccc;
			border-width:0px 0px 1px 0px;
		}

		.fb {
			position:absolute;
			top:0px;
			right:0px;
		}

		.news_thumb {
			margin-top: 30px;
			// min-height: 620px;

			ul {
				@include clearfix;
				
				li {
					width: 440px;
					float: left;
					text-align: left;
					margin-right: 60px;
					margin-top: 40px;
					
					&:first-child {
						margin-top: 0;
					}
					
					&:nth-child(2) {
						margin-top: 0;
					}

					&:nth-child(2n){
						margin-right: 0;
					}
					
					a {
						display: inline-block;
						width: 100%;
						@include clearfix;
						
						&:hover {
							text-decoration: none;
							opacity: 0.7;
						}
						.img {
							float: left;
							max-width: 150px;
							max-height: 150px;
							
							img {
								max-width: 150px;
								max-height: 150px;
							}
						}

						.thumb {
							width: auto;
							margin-left: 180px;
							
							.cate {
								background: #f1f1f1;
								padding: 7px;
								font-size: 12px;
								font-family: $f-yumin;
	    						text-align: center;
	    						margin-bottom: 20px;
							    letter-spacing: 1px;
    						
    							&.top_press_release {
	    							width: 10em;
	    							background: #ececec;
	    							border: 1px solid #c9c9c9;
	    						}

	    						&.top_topics {
	    							width: 5em;
	    							background: #c9c9c9;
	    						}
	    						&.top_media {
	    							width: 4.5em;
	    							background: #fff;
	    							border: 1px solid #c9c9c9;
	    						}
							}

							.txt {
								font-size: 14px;
								line-height: 1.5;
							}

							.date {
								font-size: 12px;
							}
						}
					}
				}
			}
		}

		.date {
			margin-top:24px;
			font-size:12px;
			line-height:1em;
		}

		.cat {
			display:inline-block;
			margin-right:10px;
			vertical-align:middle;
		}

		.body {
			margin-top:12px;
			font-size:14px;
			line-height:24px;
		}

		.more {
			position:absolute;
			bottom:-30px;
			right:0px;
			padding:6px 0px;
			padding:0px\9;
			margin:0px;
		}

		.category {
			@include clearfix;
			width: 100%;

			li {
				float: right;
				margin-right: 20px;
				font-size: 13px;
				font-family: $f-yumin;

				
				&:first-child {
					margin-right: 0;
				}

				&.cur {
					font-weight: bold;
					border-bottom: 1px solid #000;
				}
				
				a {
					&:hover {
						text-decoration: none;
						opacity: 0.5;
					}
				}
			}
		}
	}
}

.cate_pr,
.cate_all {
	cursor: pointer;
}

.press-release {
	display: none;
}
/*--------------------
#top .link
--------------------*/

#top .link{
	position:relative;
	width:940px;
	height:580px;
	margin:0px auto 110px auto;
}
#top .link > a:first-child + a img{
	position:absolute;
	top:0px;
	right:0px;
}
#top .link > a:first-child + a + a img{
	position:absolute;
	bottom:0px;
}
#top .link > a:first-child + a + a + a img{
	position:absolute;
	bottom:0px;
	right:0px;
}

/*--------------------
#top 0324
--------------------*/

#top .fv_img > div > img {
    position: absolute;
    width: 100%;
    min-width: 1280px;
}

#top .fv_img > div {
    position: absolute;
    width: 100%;
    min-width: 1280px;
    top: 0px;
    left: -100%;
    z-index: 0;
}


#top .fv_img > div.first {
	left: 0px;
	z-index: 2 !important;
	position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 945px;
    background-color: #000000;
    top: 0px;

    & > img {
    	position: static;
    	min-width: 1280px;
    }
}
.overlay_link {
	width: 100%;
	padding-top: 36.7187%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	z-index: 3;
}
.kv_slider {
	& > div {
		width: 100%;
	    min-width: 1280px;
	}
}

#top .fv_img .slide {
	min-height: 470px;
	width: 100%;
	z-index: 1;
	& > img {
		opacity: 1 !important;
	}
}

#youtube-movie {
  margin: 0 auto;
}
.mbYTP_wrapper {
	opacity: 1 !important;
}
#youtube-movie-content {
  padding-top: 0;
  position: relative;
  width: 100%;
}
 
#youtube-movie-content iframe {
  left: 0;
  position: absolute;
  top: 0;
}
.section-top-main {
	padding-top: 36.7187%;
    width: 100%;
}
#youtube-movie-content {
	overflow: hidden;
}