@charset "utf-8";

/*--------------------
common
--------------------*/

#mission img{
	display:block;
}
.over{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	background-repeat:no-repeat;
	background-position:top left;
}
.clear{
	color:rgba(255, 255, 255, 0);
	visibility:hidden\9;
}

.ts16{
	font-size:16px;
	line-height:32px;
}
.ts32{
	font-size:32px;
	line-height:32px;
}
.ts64{
	font-size:64px;
	line-height:64px;
}
.ts14{
	font-size:14px;
	line-height:32px;
	letter-spacing:0.7px;
	text-align:left;
}
.ts30{
	font-size:30px;
	line-height:30px;
	text-align:left;
}

/*--------------------
#mission
--------------------*/

#mission{
	width:100%;
	min-width:940px;
	overflow:hidden;
}
#mission .fv{
	width:940px;
	margin:0px auto;
}
#mission .fv > h2{
	height:60px;
	margin-top:80px;
}
#mission .fv > h2 + p{
	height:40px;
	margin-top:65px;
}
#mission .fv > h2 + p + p{
	height:126px;
	margin:40px auto 80px auto;
}
#mission .view1, #mission .view2, #mission .view3, #mission .view4{
	position:relative;
}
#mission .bk{
	position:relative;
	width:100%;
	min-width:1440px;
}
#mission .bk + div{
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:940px;
	margin:auto;
}
#mission .bd{
	position:absolute;
	top:0px;
	bottom:0px;
	margin:auto 0px;
}
#mission .view1 .bd{
	right:0px;
	width:400px;
	height:220px;
}
#mission .view2 .bd{
	left:0px;
	width:400px;
	height:534px;
}
#mission .view3 .bd{
	right:0px;
	width:470px;
	height:586px;
}
#mission .view4 .bd{
	left:0px;
	width:420px;
	height:220px;
}
#mission .bd > p{
	position:absolute;
	top:0px;
}
#mission .bd > p + p{
	position:absolute;
	display:block;
	top:60px;
}





