@charset "utf-8";

@import "base/variable";
@import "base/mixins";
@import "base/base";

/*--------------------
common
--------------------*/

.fs-14 { 
	font-size: 14px;
}
.fs-16 {
	font-size: 16px;
	line-height: 2;
    letter-spacing: 0.6px;
    text-align: left;
}
.fs-18 {
	font-size: 18px;
	line-height: 2;
    letter-spacing: 1.5px;
}

.fs-19 { 
	font-size: 19px;
}
.fs-20 { 
	font-size: 20px;
	text-align: left;
}

body {
	&.paper,
	&.plastic,
	&.future {
		#about {
		.sub-nav {
			margin: 100px auto 5px;
			}
		}
	}

	&.paper {
		#about {
			.cnt {
				 height: 660px;
			}
		}
	}

	&.plastic {
		#about {
			.cnt {
				 height: 920px;
			}
		}
	}

	&.future {
		#about {
			.cnt {
				 height: 242px;
			}
		}
	}

	&.about {
		.movie {
			margin: 0 auto 100px;
		}
	}

	&.about,
	&.paper,
	&.plastic,
	&.future {
		.pageTtl {
			h2 {
				width: 278px;
				height: 58px;
				background: url(../img/about/title01.gif) no-repeat;
				margin: 0 auto;
			}
		}
		#subNav01 {
      ul {
        width: 540px;
        left: 424px;

        li {

          &.nav1 {
              width: 117px;

            a {
              background-position: 16px 0;
              &:hover,
              &.cur {
                background-position: 16px -19px;
              }
            }
          }

          &.nav2 {
            width: 111px;
            a {
              background-position: -100px 0;
              &:hover,
              &.cur {
                background-position: -100px -19px;
              }
            }
          }

          &.nav3 {
              width: 173px;

            a {
              background-position: -209px 0;
              &:hover,
              &.cur {
                background-position: -209px -19px;
              }
            }
          }

          &.nav4 {
              width: 137px;

            a {
              background-position: -380px 0;
              &:hover,
              &.cur {
                background-position: -380px -19px;
              }
            }
          }

          a {
              background: url('../img/about/subnav01.gif') no-repeat;
          }
        }
      }
    }
	}
	#about {
		font-family: $f-yumin;
		.sub-nav {
			margin: 70px auto 5px;
			a {
				font-family: $f-yumin;
				display: inline-block;
  			border: 1px solid #e2e2e2;
  			text-align: left;
  			font-size: 18px;
  			letter-spacing: 1.3px;
  			
  			&.about-index {
  				width: 250px;
  				text-align: center;
  				padding: 20px 0;
  				margin-bottom: 45px;
  				
  				span {
  					width: 6px;
  					min-height: 15px;
  					background: url('../img/common/arrow-right.png') left center no-repeat;
  					padding-right: 15px;
  				}
  			}
  			&:hover {
  				@include transition-2;
  				text-decoration: none;
  				background: #f1f1f1;
  				color: #474747;
				}
			}
	  	p {
	  		position: inherit;
	  	}
	  	ul {
	  		@include clearfix;
	  		width: 710px;
	  		margin: 0 auto;

	  		li {
	  			float: left;
	  			max-width: 215px;
	  			height: 70px;
	  			margin-right: 30px;

	  			&:last-child {
	  				margin-right: 0;
	  			}

	  			a {
	  				width: 215px;
	  				padding: 25px 0;
	  				line-height: 1.3;

	  				p {
	  					text-align: center;
  					    vertical-align: middle;
	  				}

	  				span {
	  					display: inline-block;
	  					// float: left;
	  					width: 6px;
	  					min-height: 17px;
	  					background: url('../img/common/arrow-right.png') left top no-repeat;
	  					padding-right: 10px;
  					    vertical-align: middle;
	  				}
	  			}

	  			&:nth-child(2){
	  				a {
	  					@include clearfix;
	  					padding: 14px 0;

	  					p {
	  						text-align: left;
						    width: 140px;
    						margin: 0 auto;
	  					}

	  					span {
	  						min-height: 40px;
	  						float: left;
	  						background: url('../img/common/arrow-right.png') left 16px no-repeat;
	  					}
	  				}
	  			}
	  		}
	  	}
	  }
	}
}

#about img, #about p{
	display:block;
	position:absolute;
}
.clear{
	color:rgba(255, 255, 255, 0);
	visibility:hidden\9;
}
#about hr{
	width:1px;
	border:solid #ccc;
	border-width:0px 1px 0px 0px;
}

.ts14{
	font-size:14px;
	line-height:24px;
	text-align:left;
	margin-top:-5px;
}
.ts16{
	font-size:16px;
	line-height:32px;
	letter-spacing:0.5px;
	text-align:left;
	margin-top:-8px;
}
.ts20{
	font-size:20px;
	line-height:32px;
	text-align:center;
	margin-top:-6px;
}
.ts20l{
	font-size:20px;
	line-height:20px;
	text-align:left;
}
.ts26{
	font-size:26px;
	line-height:26px;
	letter-spacing:5px;
	text-align:left;
}
.ts34{
	font-size:34px;
	line-height:34px;
	text-align:left;
}
.ts40{
	font-size:40px;
	line-height:40px;
	letter-spacing:10px;
	text-align:left;
}

/*--------------------
#about
--------------------*/

#about{
	width:100%;
	min-width:940px;
}
#about .cnt{
	position:relative;
	overflow:hidden;
	width:940px;
	height:1960px;
	margin:0px auto;
}
#about #about_bk{
	top:266px;
}

#about hr{
	position:absolute;
}
#about #line11{
	top: 366px;
	left:305px;
	height:310px;
}
#about #line12{
	top: 366px;
	left:635px;
	height:310px;
}

/*--------------------
#about p
--------------------*/

#txt1{
	top:407px;
	left:0px;
	width:280px;
	height:86px;
}
#txt2{
	top:407px;
	left:330px;
	width:280px;
	height:86px;
}
#txt3{
	top:407px;
	left:660px;
	width:280px;
	height:86px;
}
#txt4{
	top:415px;
	left:0px;
	width:280px;
	height:92px;
}
#txt5{
	top:415px;
	left:330px;
	width:280px;
	height:92px;
}
#txt6{
	top:415px;
	left:660px;
	width:280px;
	height:92px;
}
#txt7{
	top:880px;
	left:130px;
	width:680px;
	height:62px;
}
#txt8{
	top:304px;
	left:0px;
	width:940px;
	height:60px;
}
#txt9{
	top:451px;
	left:500px;
	width:440px;
	height:40px;
}
#txt10{
	top:520px;
	left:500px;
	width:440px;
	height:183px;
}
#txt11{
	top:1035px;
	left:0px;
	width:440px;
	height:40px;
}
#txt12{
	top:1104px;
	left:0px;
	width:440px;
	height:154px;
}
#txt13{
	top:1035px;
	left:500px;
	width:440px;
	height:40px;
}
#txt14{
	top:1104px;
	left:500px;
	width:440px;
	height:154px;
}
#txt15{
	top:1984px;
	left:240px;
	width:460px;
	height:100px;
}
#txt16{
	top:2161px;
	left:0px;
	width:940px;
	height:40px;
}
#txt17{
	top:2352px;
	left:0px;
	width:940px;
	height:54px;
}
#txt18{
	top:2468px;
	left:0px;
	width:940px;
	height:30px;
}
#txt19{
	top:2526px;
	left:0px;
	width:280px;
	height:32px;
}
#txt20{
	top:2526px;
	left:330px;
	width:280px;
	height:32px;
}
#txt21{
	top:2526px;
	left:660px;
	width:280px;
	height:32px;
}
#txt22{
	top:2936px;
	left:0px;
	width:940px;
	height:40px;
}
#txt23{
	top:3127px;
	left:0px;
	width:940px;
	height:54px;
}
#txt24{
	top:3243px;
	left:0px;
	width:940px;
	height:30px;
}
#txt25{
	top:370px;
	left:0px;
	width:280px;
	height:32px;
}
#txt26{
	top:370px;
	left:330px;
	width:280px;
	height:32px;
}
#txt27{
	top:370px;
	left:660px;
	width:280px;
	height:32px;
}
#txt28{
	top:3944px;
	left:0px;
	width:940px;
	height:40px;
}
#txt29{
	top:4136px;
	left:0px;
	width:940px;
	height:54px;
}

/*--------------------
#about top
--------------------*/

#about_top1{
	top:0px;
	left:0px;
	width:940px;
	height:150px;
}
#about_top2{
	top:190px;
	left: 80px;
	width: 780px;
	height: 60px;
	line-height: 2;
    letter-spacing: 1.5px;
}
#about_b1t{
	top:337px;
	left:500px;
	width:440px;
	height:40px;
}
#about_b11{
	top:400px;
	left:500px;
	width:440px;
	height:183px;
	line-height: 2;
    letter-spacing: 0.6px;
    text-align: left;
}
#about_b1i{
	top:609px;
	left:500px;
	width:440px;
	height:252px;
}
#about_b2t{
	top:921px;
	left:0px;
	width:440px;
	height:40px;
}
#about_b21{
	top:985px;
	left:0px;
	width:440px;
	height:154px;
	line-height: 2;
    letter-spacing: 0.6px;
    text-align: left;
}
#about_b2i1{
	top:1144px;
	left:0px;
	width:440px;
	height:190px;
}
#about_b2i2{
	top:1334px;
	left:0px;
	width:440px;
	height:50px;
}
#about_b2i3{
	top:1384px;
	left:0px;
	width:440px;
	height:190px;
}
#about_b3t{
	top:921px;
	left:500px;
	width:440px;
	height:40px;
}


#about_b31{
	top:983px;
	left:500px;
	width:440px;
	height:154px;
	line-height: 2;
    letter-spacing: 0.6px;
    text-align: left;
}
#about_b3i1{
	top:1144px;
	left:500px;
	width:440px;
	height:190px;
}
#about_b3i2{
	top:1334px;
	left:500px;
	width:440px;
	height:50px;
}
#about_b3i3{
	top:1384px;
	left:500px;
	width:440px;
	height:190px;
}
#about_cnt1{
	top:1666px;
	left:240px;
	width:460px;
	height:160px;
}
#about_cnt2{
	top:1860px;
	left:240px;
	width:460px;
	height:100px;
}




#about_c1t{
	top: 0px;
    left: 0px;
    right: 0;
    width: 392px;
    height: 34px;
    margin: auto;
}
#about_c1i1{
	top:78px;
	left:0px;
	width:67px;
	height:80px;
}
#about_c1i2{
	top:78px;
	left:67px;
	width:90px;
	height:80px;
}
#about_c1i3{
	top:78px;
	left:157px;
	width:107px;
	height:80px;
}
#about_c1i4{
	top:78px;
	left:264px;
	width:86px;
	height:80px;
}
#about_c1i5{
	top:78px;
	left:350px;
	width:86px;
	height:80px;
}
#about_c1i6{
	top:78px;
	left:436px;
	width:96px;
	height:80px;
}
#about_c1i7{
	top:78px;
	left:532px;
	width:115px;
	height:80px;
}
#about_c1i8{
	top:78px;
	left:647px;
	width:87px;
	height:80px;
}
#about_c1i9{
	top:78px;
	left:734px;
	width:103px;
	height:80px;
}
#about_c1i10{
	top:78px;
	left:837px;
	width:103px;
	height:80px;
}
#about_c1r{
	top:193px;
	left:0px;
	width:940px;
	height:54px;
}
#about_c1bt{
	top:310px;
	left:0px;
	width:940px;
	height:30px;
}
#about_c1b1t{
	top:366px;
	left:0px;
	width:280px;
	height:32px;
}
#about_c1b1i{
	top:493px;
	left:0px;
	width:280px;
	height:185px;
}
#about_c1b2t{
	top:366px;
	left:330px;
	width:280px;
	height:32px;
}
#about_c1b2i{
	top:493px;
	left:330px;
	width:280px;
	height:185px;
}
#about_c1b3t{
	top:366px;
	left:660px;
	width:280px;
	height:32px;
}
#about_c1b3i{
	top:493px;
	left:660px;
	width:280px;
	height:185px;
}

//*-----------------
// plastic
//------------------

#about #line21{
	top:365px;
	left:305px;
	height:105px;
}
#about #line22{
	top:365px;
	left:635px;
	height:105px;
}

#about_c2t{
	top:0px;
	left:0px;
	right:0px;
	margin: auto;
	width:432px;
	height:34px;
}
#about_c2i1{
	top:80px;
	left:0px;
	width:47px;
	height:80px;
}
#about_c2i2{
	top:80px;
	left:47px;
	width:100px;
	height:80px;
}
#about_c2i3{
	top:80px;
	left:147px;
	width:95px;
	height:80px;
}
#about_c2i4{
	top:80px;
	left:242px;
	width:90px;
	height:80px;
}
#about_c2i5{
	top:80px;
	left:332px;
	width:113px;
	height:80px;
}
#about_c2i6{
	top:80px;
	left:445px;
	width:113px;
	height:80px;
}
#about_c2i7{
	top:80px;
	left:558px;
	width:115px;
	height:80px;
}
#about_c2i8{
	top:80px;
	left:673px;
	width:85px;
	height:80px;
}
#about_c2i9{
	top:80px;
	left:758px;
	width:106px;
	height:80px;
}
#about_c2i10{
	top:80px;
	left:864px;
	width:76px;
	height:80px;
}
#about_c2r{
	top:191px;
	left:0px;
	width:940px;
	height:54px;
}
#about_c2bt{
	top:309px;
	left:0px;
	width:940px;
	height:30px;
}
#about_c2b1t{
	top:370px;
	left:0px;
	width:280px;
	height:32px;
}
#about_c2b2t{
	top:370px;
	left:330px;
	width:280px;
	height:32px;
}
#about_c2b3t{
	top:370px;
	left:660px;
	width:280px;
	height:32px;
}
#about_c2bi{
	top:507px;
	left:0px;
	width:940px;
	height:354px;
}
#about_c3t{
    top: 0px;
    left: 0px;
    right: 0;
    width: 474px;
    height: 34px;
    margin: auto;
}
#about_c3i1{
	top:78px;
	left:0px;
	width:87px;
	height:80px;
}
#about_c3i2{
	top:78px;
	left:87px;
	width:120px;
	height:80px;
}
#about_c3i3{
	top:78px;
	left:207px;
	width:100px;
	height:80px;
}
#about_c3i4{
	top:78px;
	left:307px;
	width:84px;
	height:80px;
}
#about_c3i5{
	top:78px;
	left:391px;
	width:113px;
	height:80px;
}
#about_c3i6{
	top:78px;
	left:504px;
	width:113px;
	height:80px;
}
#about_c3i7{
	top:78px;
	left:617px;
	width:102px;
	height:80px;
}
#about_c3i8{
	top:78px;
	left:719px;
	width:72px;
	height:80px;
}
#about_c3i9{
	top:78px;
	left:791px;
	width:87px;
	height:80px;
}
#about_c3i10{
	top:78px;
	left:878px;
	width:62px;
	height:80px;
}
#about_c3r{
	top:185px;
	left:0px;
	width:940px;
	height:54px;
}
