//--------------------------------------------
//complate
//--------------------------------------------

.order {
    .complate_text {
        padding: 70px 0; 

        .thanks {
            font-size: 18px;
            font-family: $f-yumin;
        }

        .orderid {
            padding-top: 30px;
            font-size: 16px;
            // color: $red;
            // font-weight: bold;
        }

        .text {
            padding-top: 30px;
            line-height: 1.6;

            a {
                text-decoration: underline;
            }
        }
    }
}