//--------------------------------------------
//explain
//--------------------------------------------

.explain {

	h3 {
    	margin: 30px auto 70px;
	}
	.keyv {
		font-family: $f-yumin;
		margin-bottom: 60px;

		.img {
			width: 940px;
			background: url('../img/explain-kv.png') no-repeat;
			min-height: 620px;
			// margin-bottom: 30px;
		}
		h3 {
			margin: 40px auto 20px;
			width: 569px;
			min-height: 35px;
			background: url('../img/keyv-title.png') center no-repeat;
			background-size: contain;
		}
		.des {
			width: 940px;
			background: url('../img/keyv-title-sub.png') center bottom no-repeat;
			background-size: contain;
			min-height: 288px;
			padding: 20px 0 0;
		}
	}

	.contents {
		padding-top: 130px;
	}

	.about {
		.about-text {
			width: 940px;
			min-height: 300px;
			background: url('../img/about-text.png') center no-repeat;
			padding: 20px 0;
		}

		.des {
			padding-top: 20px;

			&.column_2 {
				li {
					width: 335px;

					&.text {
						min-height: 180px;
						// font-family: $f-yumin;
						// font-size: 16px;
						background: url('../img/about-des-text.png') center left no-repeat;
						background-size: contain;
					    width: 575px;
					}
				}
			}
		}
	}

	.column_2 {
		@include clearfix;

		li {
			float: left;
			width: 424px;
			line-height: 1.8;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}

			.text {
				font-size: 15px;
			}

			img {
				width: 100%;
			}
		}
	}

	.price {

		.title {
			padding-top: 40px;
			font-weight: bold;

			&:first-child {
				padding-top: 0;
			} 
		}

		.note {
			padding-top: 10px;
			font-size: 12px;
			line-height: 1.6;

			span {
				// color: $red;
			}
		}
	}

	.points {
		ul {
			border-top: 1px solid lighten($black, 80%);
			padding-top: 30px;

			li {
				margin-bottom: 30px;
				padding-bottom: 30px;
				border-bottom: 1px solid lighten($black, 80%);

				.title {
					font-family: $f-yugoth;
					margin-bottom: 15px;
		    	font-size: 17px;
				}
				.text {
					line-height: 1.8;
				}
			}
		}
	}
}