<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css;" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>メーリングリスト/{$ml_app_name}</title>
<link type="text/css" rel="stylesheet" href="css/layout.css" />
<script type="text/javascript" src="./js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="./js/jquery-ui-1.8.13.custom.min.js"></script>
<script type="text/javascript" src="./js/design_func.js"></script>
<script type="text/javascript" src="./js/common_func.js"></script>
<div id="JSNG" style="width: 400px; text-align: left; border: 5px solid #ffaaaa; padding: 10px;">
<p>JavaScript が無効になっています。有効にして下さい。</p>
</div>
<script>  document.getElementById("JSNG").style.display = "none";</script>
</head>

<body id="index_page">

<div id="contents_wrapper">

    <div id="header">
        <h1><a href="./">{$ml_app_name}</a></h1>
    </div>
    <!-- /header -->

    <div class="pagelink_navi">
        <ul>
            {$ml_url_top}
            {$ml_url_apply}
            {$ml_url_logout}
        </ul>
    </div>
    <!-- /pagelink_navi -->

    <div id="contents">

        <div id="main">


