@charset "UTF-8";

/********     STORY1    ***********/
body.story .story1 section .main-visual {
    background: url(../../img/en/company/story/story1/img-story-main.png) center no-repeat;
    background-size: cover;
    height: 490px;
}
body.story .story1 section.sec02 .left {
    background: url(../../img/en/company/story/story1/img-story-01.png) center no-repeat;
    min-height: 534px;
    background-size: cover;
}
body.story .story1 section.sec04 .right {
    background: url(../../img/en/company/story/story1/img-story-02.png) center no-repeat;
    min-height: 534px;
    background-size: cover;
}
body.story .story1 section.sec05 {
    background: url(../../img/en/company/story/story1/img-story-03.png) center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 550px;
}

/********     STORY2    ***********/
body.story .story2 section .main-visual {
    background: url(../../img/en/company/story/story2/img-story-main.png) center no-repeat;
    background-size: cover;
    height: 490px;
}
body.story .story2 section.sec02 .left {
    background: url(../../img/en/company/story/story2/img-story-01.png) center no-repeat;
    min-height: 550px;
    background-size: cover;
}
body.story .story2 section.sec04 .right {
    background: url(../../img/en/company/story/story2/img-story-02.png) center no-repeat;
    min-height: 534px;
    background-size: cover;
}
body.story .story2 section.sec05 {
    background: url(../../img/en/company/story/story2/img-story-03.png) center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 550px;
}
