/*--------------------
common
--------------------*/
#mission .pageTtl h2 {
  width: 940px;
  /*195*/
  height: 60px;
  /*76*/
  background: url(../../img/en/mission/mission_top1.png) no-repeat;
  margin: 0 auto;
}

#mission img {
  display: block;
}

.over {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: top left;
}

.clear {
  color: rgba(255, 255, 255, 0);
  visibility: hidden\9;
}

.ts16 {
  font-size: 16px;
  line-height: 32px;
}

.ts32 {
  font-size: 32px;
  line-height: 32px;
}

.ts64 {
  font-size: 64px;
  line-height: 64px;
}

.ts14 {
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.7px;
  text-align: left;
}

.ts30 {
  font-size: 30px;
  line-height: 30px;
  text-align: left;
}

/*--------------------
#mission
--------------------*/
#mission {
  width: 100%;
  min-width: 940px;
  overflow: hidden;
}

#mission .fv {
  width: 940px;
  margin: 0px auto;
}

#mission .fv > h2 {
  height: 60px;
  margin-top: 80px;
}

#mission .fv > p {
  height: 40px;
  margin-top: 65px;
}

#mission .fv > p + p {
  height: 126px;
  margin: 40px auto 80px auto;
}

#mission .view1, #mission .view2, #mission .view3, #mission .view4 {
  position: relative;
}

#mission .bk {
  position: relative;
  width: 100%;
  min-width: 1440px;
}

#mission .bk + div {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 940px;
  margin: auto;
}

#mission .bd {
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
}

#mission .view1 .bd {
  right: 0px;
  width: 400px;
  height: 220px;
}

#mission .view2 .bd {
  left: 0px;
  width: 400px;
  height: 534px;
}

#mission .view3 .bd {
  right: 0px;
  width: 470px;
  height: 586px;
}

#mission .view4 .bd {
  left: 0px;
  width: 420px;
  height: 220px;
}

#mission .bd > p {
  position: absolute;
  top: 0px;
}

#mission .bd > p + p {
  position: absolute;
  display: block;
  top: 60px;
}

/*--------------------
#VISION
--------------------*/

.vision .clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.vision .episode {
  width: 100%;
  /* min-width: 1440px; */
}
.vision .episode:hover {
  opacity: 0.8;
}
.vision #mission .fv > p + p {
  height: 192px;
  margin: 40px auto 80px auto;
}
.vision .bloc .close {
  margin: 60px auto 0 auto;
  width: 140px;
}
.vision .text_area {
  display: none;
  width: 800px;
  height;auto;
  margin: 65px auto 100px auto;
  line-height: 32px;
  text-align: left;
}
.vision .text_area p {
  margin-top: 50px;
  width: 100%;
}
.vision .episode01 .text_area p.right {
  float: right;
  width: 450px;
  margin-top: -20px;
  margin-right: -103px;
}
.vision .episode01 .text_area p.right img {
  width: 450px;
}
.vision .episode01 .text_area p.left {
  float: left;
  margin: 0;
  width: 400px;
}
.vision .episode02 .text_area p strong {
  font-size: 26px;
}
.vision .episode02 .text_area p span {
  position: relative;
  padding-left: 40px;
}
.vision .episode02 .text_area p span:before {
  position: absolute;
  content: url(../../img/en/mission/vision/vision_episode02_arrow.png);
  top: -5px;
  left: 20px;
}
.vision .episode02 .text_area p.right {
  float: right;
  margin-top: 55px;
  width: 370px;
}
.vision .episode02 .text_area p.right img {
  width: 370px;
}
.vision .episode02 .text_area p.left {
  float: left;
  width: 400px;
}
