@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#subNav02 li a, body.recruit .pageTtl10 h2, body.aboutus .sec1 h2, body.identity .sec1 h2, body.message #kv03 p, body.message #kv03 h3, footer .copyright, #anim .linkMaterial, #skip, body.material .summary h3, body.material .summary .txt, body.material .summary2 h3, body.material .summary2 .txt1, body.material .summary2 .txt2, body.material .materials h4, #exp1 section span, #exp1 section h4, #exp2 h4, #exp3 h3, #exp3 h4, body.news .pageTtl h2, body.factory .pageTtl h2, body.factory .about h3, body.aboutus .pageTtl h2, body.recruit .pageTtl h2, body.recruit .pageTtl02 h2, body.recruit .sec h3, body.identity .pageTtl h2, body.identity .sections p, body.message .pageTtl h2, body.recruit .photo, body.recruit .pageTtl03 h2, body.privacy .pageTtl h2, body.privacy h3, footer .icon01, footer .icon02, footer .icon03, body.products .pageTtl h2 {
  text-indent: -9999px;
  overflow: hidden;
}

body.material .materials, #exp1 .wrapper, #exp2, #exp3, body.news .data article, .tabWrap, #adoption .wrapper, body.contact #body .wrapper, body.contact #form dl, body.aboutus .sec, body.aboutus .sec5, body.aboutus .sec6, body.aboutus .sec7, body.recruit .sec, body.recruit .sec5, body.recruit .sec6, body.recruit .sec7, body.identity #body .wrapper, body.message #body .wrapper, body.privacy #body .wrapper {
  overflow: hidden;
  *zoom: 1;
}

.cf01:before, .cf01:after {
  content: "";
  display: table;
}

.cf01:after {
  clear: both;
}

.cf01 {
  zoom: 1;
}

.pr01 {
  position: relative;
  top: 0;
  left: 0;
}

/* common
-------------------------*/
body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  text-align: center;
  -webkit-text-size-adjust: none;
}

a {
  color: black;
  text-decoration: none;
  letter-spacing: 1.5px;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  text-align: left;
  width: 940px;
  margin: 0 auto;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, p, li {
  max-height: 100%;
}

.pageTtl {
  padding: 88px 0 62px;
  /*172*/
}

html {
  height: 100%;
}

h2 {
  text-indent: -9999px;
  overflow: hidden;
}

h3 {
  font-family: YuMincho, "游明朝", serif;
  font-size: 37px;
  margin: 79px auto 70px;
  letter-spacing: 4px;
  text-align: center;
}
h3 span {
  font-size: 18px;
  padding-left: 5px;
  letter-spacing: 2px;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb70 {
  padding-bottom: 70px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb90 {
  padding-bottom: 90px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mt100 {
  margin-top: 100px !important;
}

.mt120 {
  margin-top: 120px !important;
}

.mt140 {
  margin-top: 140px !important;
}

.mt160 {
  margin-top: 160px !important;
}

.mt180 {
  margin-top: 180px !important;
}

.mt200 {
  margin-top: 200px !important;
}

.mt220 {
  margin-top: 220px !important;
}

.mt240 {
  margin-top: 240px !important;
}

.mt260 {
  margin-top: 260px !important;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

#body {
  font-size: 14px;
}

header {
  background: #000;
  border-bottom: 1px solid #3f3f3f;
}
header .wrapper {
  width: 940px;
  height: 73px;
}
header .logo {
  display: table-cell;
  vertical-align: middle;
}
header #gnav {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
header #gnav ul {
  float: right;
}
header #gnav ul .g-sub-navi {
  display: none;
  position: absolute;
  width: 100%;
  min-height: 50px;
  background: rgba(75, 75, 75, 0.9);
  left: 0;
  z-index: 999;
}
header #gnav ul .g-sub-navi ul {
  width: 940px;
  margin: 0 auto;
  float: none;
  height: 50px;
  zoom: 1;
}
header #gnav ul .g-sub-navi ul:after {
  display: table;
  clear: both;
  content: "";
}
header #gnav ul .g-sub-navi ul li {
  float: left;
  padding: 17px 0;
}
header #gnav ul .g-sub-navi ul li a {
  height: auto;
  font-size: 13px;
  display: inline-block;
  background: none;
  text-indent: inherit;
  vertical-align: middle;
  padding: 0 19px;
  color: #9e9e9e;
  text-decoration: none;
  font-family: YuMincho, "游明朝", serif;
  border-right: 1px solid #4A4A4A;
  vertical-align: middle;
}
header #gnav ul .g-sub-navi ul li a:hover {
  color: #fff;
}

#lang01 {
  height: 50px;
  overflow: hidden;
  width: 940px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}

#lang02 {
  text-align: right;
  margin-right: 50px;
}

#ext01-01 {
  position: absolute;
  top: 18px;
  left: 369px;
}

#ext01-02 {
  position: absolute;
  top: 15px;
  left: 526px;
}

#ext01-03 {
  position: absolute;
  top: 15px;
  left: 663px;
}

.header-facebook a {
  height: 30px;
  width: 30px;
  background: url(../../img/en/common/icon_facebook.png) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 10px;
  right: 0;
  text-indent: -9999px;
  overflow: hidden;
}

#gnav li {
  float: left;
}
#gnav li a {
  text-indent: -9999px;
  overflow: hidden;
}
#gnav li a,
#gnav li span {
  cursor: pointer;
  display: block;
  height: 73px;
  background: url(../../img/en/common/nav_header.png) no-repeat;
}

#gnav .nav1 {
  width: 94px;
}

#gnav .nav1 a {
  background-position: 0px 0px;
}

#gnav .nav1 a:hover, #gnav .nav1 a.cur {
  background-position: 0px -73px;
}

#gnav .nav2 {
  width: 105px;
}

#gnav .nav2 a {
  background-position: -94px 0px;
}

#gnav .nav2 a:hover, #gnav .nav2 a.cur {
  background-position: -94px -73px;
}

#gnav .nav3 {
  width: 115px;
}

#gnav .nav3 a {
  background-position: -199px 0px;
}

#gnav .nav3 a:hover, #gnav .nav3 a.cur {
  background-position: -199px -73px;
}

#gnav .nav4 {
  width: 119px;
}

#gnav .nav4 a {
  background-position: -314px 0px;
}

#gnav .nav4 a:hover, #gnav .nav4 a.cur {
  background-position: -314px -73px;
}

#gnav .nav5 {
  width: 86px;
}

#gnav .nav5 a {
  background-position: -432px 0px;
}

#gnav .nav5 a:hover, #gnav .nav5 a.cur {
  background-position: -432px -73px;
}

#gnav .nav6 {
  width: 98px;
}

#gnav .nav6 a {
  background-position: -519px 0px;
}

#gnav .nav6 a:hover, #gnav .nav6 a.cur {
  background-position: -519px -73px;
}

#subNav {
  border-bottom: 1px solid #000;
  height: 19px;
}

#subNav01 {
  width: 940px;
  margin: 0 auto;
}

#subNav ul {
  height: 19px;
  position: absolute;
  top: 0px;
  left: 640px;
  width: 310px;
}

/*555 383*/
#subNav ul li {
  float: left;
}

#subNav ul li a {
  cursor: pointer;
  display: block;
  height: 19px;
  background: url(../../img/en/company/subnav01.gif) no-repeat;
}

#subNav .nav1 {
  width: 97px;
}

#subNav .nav1 a {
  background-position: 0px 0px;
}

#subNav .nav1 a:hover, #subNav .nav1 a.cur {
  background-position: 0px -19px;
}

#subNav .nav2 {
  width: 105px;
}

#subNav .nav2 a {
  background-position: -97px 0px;
}

#subNav .nav2 a:hover, #subNav .nav2 a.cur {
  background-position: -97px -19px;
}

#subNav .nav3 {
  width: 107px;
}

#subNav .nav3 a {
  background-position: -202px 0px;
}

#subNav .nav3 a:hover, #subNav .nav3 a.cur {
  background-position: -202px -19px;
}

#subNav .nav4 {
  width: 74px;
}

#subNav .nav4 a {
  background-position: -309px 0px;
}

#subNav .nav4 a:hover, #subNav .nav4 a.cur {
  background-position: -309px -19px;
}

#subNav02 {
  border-bottom: 1px solid #000;
  height: 19px;
  margin-bottom: 70px;
}

#subNav02-01 {
  width: 940px;
  margin: 0 auto;
}

#subNav02 ul {
  height: 19px;
  position: absolute;
  top: 0px;
  left: 723px;
  width: 215px;
}

#subNav02 ul li {
  float: left;
}

#subNav02 ul li a {
  cursor: pointer;
  display: block;
  height: 19px;
  background: url(../../img/en/news/subnav01.gif) no-repeat;
}

#subNav02 .nav1 {
  width: 65px;
}

#subNav02 .nav1 a {
  background-position: 0px 0px;
}

#subNav02 .nav1 a:hover, #subNav02 .nav1 a.cur {
  background-position: 0px -19px;
}

#subNav02 .nav2 {
  width: 87px;
}

#subNav02 .nav2 a {
  background-position: -65px 0px;
}

#subNav02 .nav2 a:hover, #subNav02 .nav2 a.cur {
  background-position: -65px -19px;
}

#subNav02 .nav3 {
  width: 63px;
}

#subNav02 .nav3 a {
  background-position: -152px 0px;
}

#subNav02 .nav3 a:hover, #subNav02 .nav3 a.cur {
  background-position: -152px -19px;
}

.sub-navi {
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
}
.sub-navi .inner {
  width: 940px;
  margin: 0 auto;
  zoom: 1;
}
.sub-navi .inner:after {
  display: table;
  clear: both;
  content: "";
}
.sub-navi .inner ul {
  zoom: 1;
  float: right;
}
.sub-navi .inner ul:after {
  display: table;
  clear: both;
  content: "";
}
.sub-navi .inner ul li {
  float: left;
  margin-left: 40px;
}
.sub-navi .inner ul li:first-child {
  margin-left: 0;
}
.sub-navi .inner ul li a {
  font-size: 12px;
  font-family: YuMincho, "游明朝", serif;
}
.sub-navi .inner ul li a:hover, .sub-navi .inner ul li a.cur {
  text-decoration: none;
  opacity: 0.5;
}

body.aboutus .pageTtl h2, body.message .pageTtl h2, body.profile .pageTtl h2, body.identity .pageTtl h2, body.history .pageTtl h2, body.story .pageTtl h2, body.access .pageTtl h2, body.story-list .pageTtl h2, body.award .pageTtl h2 {
  width: 392px;
  height: 45px;
  background: url(../../img/company/title01.gif) no-repeat;
  margin: 0 auto;
}

#normal li:hover ul, #gnav li:hover ul {
  display: block;
}
#normal li ul, #gnav li ul {
  display: none;
}
#normal #dropmenu li ul li, #gnav #dropmenu li ul li {
  overflow: hidden;
  height: 0;
  transition: .2s;
}
#normal #dropmenu li:hover ul li, #gnav #dropmenu li:hover ul li {
  overflow: visible;
  height: 38px;
}

.dropmenu {
  *zoom: 1;
  list-style-type: none;
  width: 960px;
  margin: 5px auto 30px;
  padding: 0;
}
.dropmenu:before, .dropmenu:after {
  content: "";
  display: table;
}
.dropmenu:after {
  clear: both;
}
.dropmenu li {
  position: relative;
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
.dropmenu li:hover > a {
  background: #6e7c0c;
}
.dropmenu li a {
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  background: #8a9b0f;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}
.dropmenu li a:hover {
  background: #616d0b;
}
.dropmenu li ul {
  list-style: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.dropmenu li ul li {
  width: 100%;
}
.dropmenu li ul li a {
  padding: 13px 15px;
  border-top: 1px solid #7c8c0e;
  background: #6e7c0c;
  text-align: left;
}

.fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
}

footer {
  border-top: 1px solid #ccc !important;
  padding: 30px 0 30px !important;
  margin-top: 100px !important;
}

footer ul {
  width: 210px;
  margin: 0 auto 30px auto;
}

footer ul li {
  float: left;
  width: 50px;
  margin: 0 10px;
}

footer .icon01 {
  display: block;
  height: 50px;
  background: url(../../img/en/common/icon_twitter.png) no-repeat center center;
}

footer .icon02 {
  display: block;
  height: 50px;
  background: url(../../img/en/common/icon_facebook.png) no-repeat center center;
}

footer .icon03 {
  display: block;
  height: 50px;
  background: url(../../img/en/common/icon_youtube.png) no-repeat center center;
}

footer .copyright {
  display: block;
  height: 14px;
  background: url(../../img/en/common/txt_copyright.gif) no-repeat center center;
}

footer .txtLink01 {
  text-align: center;
  padding: 0 0 15px 0;
}

/*30*/
footer .txtLink01 a {
  display: inline;
  margin-right: 30px;
  font-size: 70%;
}

/*85*/
footer .txtLink01 a:last-child {
  display: inline;
  margin-right: 0px;
  font-size: 70%;
}

/*85*/
body.material .wrap1 {
  margin-bottom: 70px;
}

body.material #body {
  padding-top: 157px;
  overflow-x: hidden;
}

body.material h2 {
  margin-bottom: 70px;
}

body.material .summary {
  height: 480px;
  position: relative;
  /* background: url(../material/img/stone01.jpg) no-repeat 597px 12px;*/
}

body.material .summary h3 {
  /*float: left;*/
  /*right*/
  position: absolute;
  top: 26px;
  left: 0;
  width: 487px;
  /*36*/
  height: 35px;
  /*265*/
  background: url(../material/img/title01.gif) no-repeat;
}

body.material .summary .txt {
  /*float: left;*/
  /*right*/
  position: absolute;
  top: 92px;
  left: 2px;
  width: 408px;
  /*287*/
  height: 289px;
  /*404*/
  /*margin-right: 28px;*/
  background: url(../material/img/copy01.gif) no-repeat;
}

body.material .summary .photo {
  right: -86px;
  /*left 319*/
  top: 10px;
  /*77*/
  position: absolute;
  z-index: -1;
}

body.material .summary2 {
  height: 480px;
  position: relative;
}

body.material .summary2 h3 {
  float: right;
  width: 36px;
  height: 265px;
  margin-right: 93px;
  background: url(../material/img/title01.gif) no-repeat;
}

body.material .summary2 .txt1 {
  float: right;
  width: 138px;
  height: 404px;
  margin-right: 50px;
  background: url(../material/img/copy01-1.gif) no-repeat;
}

body.material .summary2 .txt2 {
  float: left;
  width: 197px;
  height: 404px;
  margin-left: 109px;
  background: url(../material/img/copy01-2.gif) no-repeat;
}

body.material .summary2 .photo {
  left: 354px;
  top: 77px;
  position: absolute;
  z-index: -1;
}

body.material .materials {
  position: relative;
  z-index: 10;
}

body.material .materials h4 {
  height: 44px;
  margin-bottom: 25px;
}

body.material .materials p {
  line-height: 24px;
}

body.material .materials .paper, body.material .materials .plastic {
  width: 435px;
}

body.material .materials .paper {
  float: left;
  background: url(../material/img/title02-01.gif) no-repeat;
}

body.material .materials .plastic {
  float: right;
  background: url(../material/img/title02-02.gif) no-repeat;
}

#exp1 {
  position: relative;
  margin-bottom: 73px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#exp1 .line {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 315px;
  z-index: -1;
  border-bottom: 1px solid #ccc;
}

#exp1 .col1 {
  float: left;
  width: 469px;
  border-right: 1px solid #ccc;
}

#exp1 .col2 {
  float: left;
  width: 470px;
  background: #fff;
}

#exp1 section span {
  display: block;
  height: 16px;
  margin-bottom: 20px;
}

#exp1 section h4 {
  height: 28px;
  margin-bottom: 30px;
}

#exp1 section p {
  font-size: 14px;
  line-height: 24px;
}

#exp1 section .note {
  font-size: 11px;
  line-height: 24px;
  margin-top: 20px;
}

#exp1 .sect1 {
  padding: 50px 34px 50px 0;
  /*40*/
}

#exp1 .sect1 span {
  background: url(../material/img/title03.gif) no-repeat;
}

#exp1 .sect1 h4 {
  background: url(../material/img/title03-01.gif) no-repeat;
}

#exp1 .sect2 {
  padding: 50px 34px 50px 0;
  /*40*/
}

#exp1 .sect2 span {
  background: url(../material/img/title03.gif) no-repeat;
}

#exp1 .sect2 h4 {
  background: url(../material/img/title03-02.gif) no-repeat;
}

#exp1 .sect3 {
  float: left;
  padding: 50px 0px 0px 35px;
}

#exp1 .sect3 span {
  background: url(../material/img/title03.gif) no-repeat;
  width: 100%;
}

#exp1 .sect3 h4 {
  background: url(../material/img/title03-03.gif) no-repeat;
  width: 100%;
}

#exp2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}

#exp2 .col1 {
  width: 470px;
  float: left;
}

#exp2 .col2 {
  width: 435px;
  margin-left: 35px;
  float: left;
}

#exp2 section {
  width: 435px;
  /*429*/
  margin-bottom: 45px;
}

#exp2 h4 {
  height: 28px;
  margin-bottom: 30px;
}

#exp2 p {
  font-size: 14px;
  line-height: 24px;
}

#exp2 .sect4 h4 {
  background: url(../material/img/title03-04.gif) no-repeat;
}

#exp2 .sect5 h4 {
  background: url(../material/img/title03-05.gif) no-repeat;
}

#exp2 .sect6 h4 {
  background: url(../material/img/title03-06.gif) no-repeat;
}

#exp2 .sect7 h4 {
  background: url(../material/img/title03-07.gif) no-repeat;
}

#exp3 {
  padding-bottom: 40px;
}

#exp3 .wrapper {
  padding-top: 75px;
}

#exp3 h3 {
  background: url(../material/img/title04-01.gif) no-repeat;
  height: 28px;
  margin-bottom: 30px;
  /**/
}

#exp3 h4 {
  height: 22px;
  margin-bottom: 17px;
}

#exp3 p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  margin-bottom: 15px;
}

#exp3 section {
  width: 278px;
  float: left;
  padding-right: 25px;
  margin-right: 26px;
  border-right: 1px solid #ccc;
  padding-top: 0px;
  /*30*/
}

#exp3 section.sect10 {
  border: none;
  padding-right: 0;
  margin-right: 0;
}

#exp3 .sect8 h4 {
  background: url(../material/img/copy04-01.gif) no-repeat;
}

#exp3 .sect9 h4 {
  background: url(../material/img/copy04-02.gif) no-repeat;
}

#exp3 .sect10 h4 {
  background: url(../material/img/copy04-03.gif) no-repeat;
}

body.news #body .wrapper {
  width: 780px;
}
body.news #body .wp-pagenavi {
  text-align: center;
}
body.news #body .wp-pagenavi a,
body.news #body .wp-pagenavi span {
  display: inline-block;
  text-align: center;
  font-size: 13px;
  width: 35px;
  border: 1px solid #c6c6c6;
  padding: 11px 0;
  vertical-align: middle;
  margin-left: 10px;
}
body.news #body .wp-pagenavi a.current,
body.news #body .wp-pagenavi span.current {
  background: #000;
  color: #fff;
}
body.news #body .wp-pagenavi a:hover,
body.news #body .wp-pagenavi span:hover {
  text-decoration: none;
  background: #000;
  color: #fff;
}
body.news #body .wp-pagenavi a {
  width: 35px;
  border: 1px solid #c6c6c6;
  padding: 11px 0;
  vertical-align: middle;
}
body.news #body .wp-pagenavi a.page {
  width: 35px;
  border: 1px solid #c6c6c6;
  padding: 11px 0;
  vertical-align: middle;
}
body.news #body .archive {
  display: table;
  margin: 0 auto 55px;
}
body.news #body .archive.news_all {
  margin: 79px auto 55px;
}
body.news #body .archive li {
  display: table-cell;
  width: 105px;
}
body.news #body .archive li a {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #c6c6c6;
  border-collapse: collapse;
  vertical-align: middle;
}
body.news #body .archive li a span {
  background: url(../../img/news/news-arrow-bottom_off.png) center right no-repeat;
  display: inline-block;
  width: 10px;
  height: 6px;
  float: right;
  margin-right: 10px;
  float: right;
  margin: 4px 10px 0 0;
}
body.news #body .archive li a.cur {
  background: #000;
  color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
body.news #body .archive li a.cur span {
  background: url(../../img/news/news-arrow-bottom_on.png) center right no-repeat;
}
body.news #body .archive li a:hover {
  text-decoration: none;
  background: #000;
  color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
body.news #body .archive li a:hover span {
  background: url(../../img/news/news-arrow-bottom_on.png) center right no-repeat;
}
body.news .pageTtl {
  border-bottom: none;
}
body.news .pageTtl h2 {
  width: 206px;
  height: 45px;
  background: url(../../img/news/title01.gif) no-repeat;
  margin: 0 auto;
}
body.news .pageTtl h2.media01 {
  width: 264px;
  height: 52px;
  background: url(../../img/news/media/title01.gif) no-repeat;
  margin: 0 auto;
}
body.news .data {
  padding-top: 0px;
}
body.news .data .title {
  font-size: 22px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 22px;
}
body.news .data article {
  padding-bottom: 70px;
}
body.news .data article .movie {
  margin: 30px auto 0;
  text-align: center;
}
body.news .data article.col-2 .col {
  zoom: 1;
}
body.news .data article.col-2 .col:after {
  display: table;
  clear: both;
  content: "";
}
body.news .data article.col-2 .col .img {
  float: left;
  max-width: 294px;
  margin: 0 30px 20px 0;
}
body.news .data article.col-2 .col .txt {
  width: auto;
}
body.news .data article p {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0px;
}
body.news .data article .txt {
  letter-spacing: 1px;
  margin-bottom: 11px;
  line-height: 2;
  letter-spacing: 0.8px;
}
body.news .data article .txt a {
  text-decoration: underline;
  color: #ababab;
}
body.news .data article .youtube01 {
  text-align: center;
  padding: 7px 0 0 0;
  margin: 0 auto;
}
body.news .data .date {
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  line-height: 1;
  padding-bottom: 28px;
  margin-bottom: 35px;
}

body.factory .photo {
  height: 545px;
  background: url(../../img/en/factory/image01.jpg) no-repeat center center;
  margin-bottom: 50px;
}
body.tagajo .photo {
  height: 545px;
  background: url(../../img/en/factory/img-factory-tagajo-01.png) no-repeat center center;
  margin-bottom: 50px;
}
body.factory .pageTtl, body.tagajo .pageTtl {
  border-bottom: none;
}
body.factory .pageTtl h2, body.tagajo .pageTtl h2 {
  width: 623px;
  height: 58px;
  background: url(../../img/en/factory/title01.gif) no-repeat;
  margin: 0 auto;
}
body .about {
  margin-bottom: 80px;
}
body .about h4 {
  background: url(../../img/en/factory/title02.gif) no-repeat center center;
  width: 280px;
  height: 27px;
  margin: 0 auto 22px;
  text-indent: -9999px;
  overflow: hidden;
}
body .about p {
  font-size: 16px;
  line-height: 32px;
}
body .about table {
  width: 100%;
  margin-top: 30px;
  table-layout: fixed;
  border-top: 1px solid #ccc;
}
body .about td,
body .about th {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  font-size: 14px;
}
body .about th {
  width: 98px;
  background: #eee;
  text-align: center;
}
body .about td {
  line-height: 1.4;
}
body .about p {
  font-size: 16px;
  line-height: 32px;
}

#adoption {
  background: #eee;
}

#adoption .wrapper {
  width: 780px;
  padding: 40px 0 0px;
}

#adoption h5 {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 20px;
}

#adoption .img {
  float: left;
  margin-top: 7px;
  /**/
}

#adoption .txt {
  width: 455px;
  float: right;
}

#adoption .txt p {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 2em;
}

body.contact #body .wrapper {
  width: 820px;
}

body.contact .pageTtl {
  border-bottom: none;
}

body.contact .pageTtl h2 {
  width: 371px;
  height: 58px;
  background: url(../form/contact_lime-x/contact/img/title01.gif) no-repeat;
  margin: 0 auto;
}

body.contact .note {
  text-align: right;
  margin: -70px auto 60px;
  width: 795px;
}

body.contact h3 {
  background: url(../form/contact_lime-x/contact/img/title02.gif) no-repeat;
  width: 36px;
  height: 232px;
  float: left;
}

body.contact #form {
  width: 720px;
  float: right;
}

body.contact #form dl {
  padding-bottom: 100px;
}

body.contact #form dl dt {
  float: left;
  line-height: 1.5;
  clear: both;
}

body.contact #form dl dd {
  width: 540px;
  padding: 0 20px 32px 0;
  float: right;
}

body.contact #form dl dd label {
  margin-right: 20px;
}

body.contact #form dl dd.btn {
  width: 350px;
  padding-left: 190px;
}

body.contact #form select {
  background: #f6f6f6 url(../form/contact_lime-x/contact/img/bg_select.png) no-repeat 285px center;
  border: 1px solid #dcdcdc;
  width: 290px;
  padding: 5px 0 5px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
}

body.contact #form .input_001, body.contact #form .post {
  border: none;
  background: #eee;
  font-size: 16px;
  padding: 8px 5px;
  width: 530px;
}

body.contact #form textarea.input_001 {
  height: 200px;
}

body.contact #form .agree01 {
  padding: 20px 0;
  line-height: 1.5;
}

body.contact #form .agree01 a {
  text-decoration: underline;
}

body.contact #form .agree02 {
  padding: 0px 0;
  line-height: 1.5;
  text-align: center;
}

body.recruit .pageTtl {
  border-bottom: none;
  /* padding-bottom:100px;*/
}

body.recruit .pageTtl h2 {
  width: 392px;
  /*352*/
  height: 45px;
  /*45*/
  background: url(../company/img/title01.gif) no-repeat;
  margin: 0 auto;
}

body.recruit .pageTtl10 h2 {
  background: url(../company/recruit/img/title01.gif) no-repeat center center;
  height: 37px;
  margin-bottom: 70px;
  /*40*/
  margin-top: 79px;
}

body.recruit .pageTtl10 p {
  line-height: 30px;
  font-size: 14px;
}

body.recruit .pageTtl02 {
  border-bottom: none;
  padding-top: 60px;
  /*41*/
  padding-bottom: 88px;
}

body.recruit .pageTtl02 h2 {
  width: 205px;
  height: 42px;
  background: url(../company/recruit/img/title01-02.gif) no-repeat;
  margin: 0 auto;
}

body.recruit .pageTtl03 {
  border-bottom: none;
  padding-top: 14px;
  padding-bottom: 88px;
}

body.recruit .pageTtl03 h2 {
  width: 235px;
  height: 42px;
  background: url(../company/recruit/img/title01-03.gif) no-repeat;
  margin: 0 auto;
}

body.recruit .photo {
  height: 450px;
  background: url(../company/recruit/img/image01.jpg) no-repeat center center;
  margin-bottom: 50px;
}

body.recruit .sec h3 {
  width: 36px;
  float: left;
}

body.recruit .sec .data p {
  line-height: 24px;
  font-size: 14px;
}

body.recruit table {
  width: 705px;
  table-layout: fixed;
  border-top: 1px solid #ccc;
}

body.recruit table td, body.recruit table th {
  border-bottom: 1px solid #ccc;
  padding: 17px;
  font-size: 14px;
}

body.recruit table th {
  width: 130px;
  background: #eee;
  text-align: center;
}

body.recruit .sec1,
body.recruit .sec2,
body.recruit .sec3,
body.recruit .sec4,
body.recruit .sec5,
body.recruit .sec6 {
  margin-bottom: 75px;
}

body.recruit .sec7 {
  margin-bottom: 54px;
}

body.recruit .sec1 .data,
body.recruit .sec2 .data,
body.recruit .sec3 .data,
body.recruit .sec4 .data,
body.recruit .sec5 .data,
body.recruit .sec6 .data,
body.recruit .sec7 .data {
  width: 780px;
  float: right;
}

body.recruit .sec1 h3 {
  height: 81px;
  background: url(../company/recruit/img/title02-01.gif) no-repeat;
  margin-left: 90px;
}

body.recruit .sec2 h3 {
  height: 126px;
  background: url(../company/recruit/img/title02-02.gif) no-repeat;
  margin-left: 90px;
}

body.recruit .sec3 h3 {
  height: 217px;
  background: url(../company/recruit/img/title02-03.gif) no-repeat;
  margin-left: 90px;
}

body.recruit .sec4 h3 {
  height: 219px;
  background: url(../company/recruit/img/title02-04.gif) no-repeat;
  margin-left: 90px;
}

body.recruit .sec5 h3 {
  height: 77px;
  background: url(../company/recruit/img/title02-05.gif) no-repeat;
  margin-left: 90px;
}

body.recruit .sec6 h3 {
  height: 310px;
  background: url(../company/recruit/img/title02-06.gif) no-repeat;
  margin-left: 90px;
}

body.recruit .button01 {
  text-align: center;
  padding-bottom: 20px;
}

body.recruit .att01 {
  text-align: center;
  padding-bottom: 134px;
}

body.privacy #body .wrapper {
  width: 820px;
}

body.privacy .pageTtl {
  border-bottom: none;
}

body.privacy .pageTtl h2 {
  width: 613px;
  height: 45px;
  background: url(../../img/en/privacy/title01.gif) no-repeat;
  margin: 0 auto;
}

body.privacy .content01 {
  width: 608px;
  margin: 0 auto 50px;
  text-align: left;
}

body.privacy .content02 {
  width: 608px;
  margin: 0 auto 80px;
  text-align: left;
}

body.privacy .sec1 h3 {
  background: url(../../img/en/privacy/copy01.gif) no-repeat;
  width: 300px;
  height: 30px;
  margin: 30px auto 40px auto;
}

body.privacy .sec2 h3 {
  background: url(../../img/en/privacy/copy02.gif) no-repeat;
  width: 626px;
  height: 29px;
  margin: 0px auto 40px auto;
}

body.privacy .sec3 h3 {
  background: url(../../img/en/privacy/copy03.gif) no-repeat;
  width: 604px;
  height: 30px;
  margin: 0px auto 40px auto;
}

body.privacy p {
  font-size: 13.7px;
  /*16*/
  line-height: 25px;
  margin-bottom: 30px;
}

body.privacy p.mb0 {
  margin-bottom: 0;
}

body.privacy p.mb20 {
  margin-bottom: 20px;
}

body.privacy p.eoc01 {
  text-align: right;
}

body.privacy p .bd01 {
  font-weight: bold;
}

body.privacy ol li {
  font-size: 13.7px;
  line-height: 25px;
  text-indent: -1.2em;
  padding-left: 1.2em;
}

body.aboutus table, body.message table, body.company table, body.profile table, body.identity table, body.history table, body.srory table, body.access table, body.award table {
  width: 100%;
  table-layout: fixed;
  border-top: 1px solid #ccc;
}
body.aboutus table td,
body.aboutus table th, body.message table td,
body.message table th, body.company table td,
body.company table th, body.profile table td,
body.profile table th, body.identity table td,
body.identity table th, body.history table td,
body.history table th, body.srory table td,
body.srory table th, body.access table td,
body.access table th, body.award table td,
body.award table th {
  border-bottom: 1px solid #ccc;
  padding: 17px;
  font-size: 14px;
}
body.aboutus table th, body.message table th, body.company table th, body.profile table th, body.identity table th, body.history table th, body.srory table th, body.access table th, body.award table th {
  width: 120px;
  background: #eee;
  text-align: center;
}
body.aboutus p, body.message p, body.company p, body.profile p, body.identity p, body.history p, body.srory p, body.access p, body.award p {
  line-height: 28px;
}
body.aboutus #body .wrapper {
  width: 780px;
}
body.history #body .wrapper {
  width: 780px;
}

body.aboutus #body .wrapper, body.company #body .wrapper {
  width: 780px;
}

.link_access {
  display: inline-block;
  margin-left: 30px;
  text-decoration: underline;
  font-size: 12px;
}
.link_access span {
  display: inline-block;
  background: url(../../img/en/company/aboutus/company_arrow_right.png) no-repeat;
  width: 7px;
  height: 10px;
  margin-right: 3px;
}
.link_access:hover {
  text-decoration: none;
}

body.company .pageTtl {
  border-bottom: none;
}

body.company .pageTtl h2 {
  width: 392px;
  /*195*/
  height: 45px;
  /*76*/
  background: url(../../img/en/company/title01.gif) no-repeat;
  margin: 0 auto;
}

body.company .sec h3 {
  width: 36px;
  float: left;
}

body.company .sec1 h2 {
  background: url(../../img/en/company/aboutus/title01.gif) no-repeat center center;
  height: 60px;
  margin-bottom: 70px;
  /*40*/
  margin-top: 79px;
}

body.company .sec .data p {
  line-height: 28px;
  font-size: 14px;
}

body.company .sec1 h3 {
  height: 169px;
  background: url(../../img/en/company/aboutus/title02-01.gif) no-repeat;
  margin-left: 90px;
}

body.company .sec1, body.company .sec4 {
  margin-bottom: 75px;
}

body.company .sec1 .data, body.company .sec4 .data {
  width: 780px;
  float: right;
}

body.company .sec2, body.company .sec3 {
  width: 470px;
  margin-bottom: 75px;
}

body.company .sec2 .data, body.company .sec3 .data {
  width: 305px;
  float: right;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  min-height: 170px;
}

body.company .sec2 .data p, body.company .sec3 .data p {
  padding: 15px 0;
}

body.company .sec2 {
  float: left;
}

body.company .sec2 h3 {
  height: 173px;
  background: url(../../img/en/company/aboutus/title02-02.gif) no-repeat;
  margin-left: 90px;
}

body.company .sec3 {
  width: 400px;
  float: right;
}

body.company .sec3 h3 {
  height: 173px;
  background: url(../../img/en/company/aboutus/title02-03.gif) no-repeat;
}

body.company .sec3 .data {
  width: 325px;
}

body.company .sec4 {
  clear: both;
}

body.company .sec4 h3 {
  height: 173px;
  background: url(../../img/en/company/aboutus/title02-04.gif) no-repeat;
  margin-left: 90px;
}

body.company .sec6 {
  margin-bottom: 70px;
}

body.company .sec6 h3 {
  height: 173px;
  background: url(../../img/en/company/aboutus/title02-06.gif) no-repeat;
  margin-left: 90px;
}

body.company .sec6 .data {
  width: 780px;
  float: right;
  border-top: 1px solid #ccc;
}

body.company .sec6 .data p {
  border-bottom: 1px solid #ccc;
  padding: 19px 0;
}

body.company .sec7 {
  margin-bottom: 80px;
}

body.company .sec7 h3 {
  height: 173px;
  background: url(../../img/en/company/aboutus/title02-07.gif) no-repeat;
  margin-left: 90px;
}

body.company .sec7 .data {
  width: 780px;
  float: right;
  border-top: 1px solid #ccc;
}

body.company .sec7 .data p {
  border-bottom: 1px solid #ccc;
  padding: 19px 0;
}

#map {
  margin-bottom: 50px;
}

body.identity #body .wrapper {
  width: 820px;
}

body.identity .pageTtl {
  border-bottom: none;
}

body.identity .pageTtl h2 {
  width: 392px;
  /*596*/
  height: 45px;
  /*46*/
  background: url(../../img/en/company/title01.gif) no-repeat;
  margin: 0 auto;
}

body.identity .sections {
  width: 580px;
  margin: 0 auto 80px;
  text-align: left;
}
body.identity .sections h3,
body.identity .sections h4,
body.identity .sections h5 {
  text-indent: -9999px;
  overflow: hidden;
}

body.identity .sections .sec {
  margin-bottom: 62px;
}

body.identity .sections h5 {
  height: 22px;
  margin-bottom: 30px;
}

body.identity .sec1 h4 {
  background: url(../../img/en/company/identity/title01.gif) no-repeat center center;
  height: 35px;
  margin-bottom: 70px;
  /*40*/
  margin-top: 79px;
}

body.identity .sec1 h5 {
  background: url(../../img/en/company/identity/title02.gif) no-repeat center center;
}

body.identity .sec1 p {
  background: url(../../img/en/company/identity/copy02.gif) no-repeat center center;
  height: 23px;
}

body.identity .sec2 h5 {
  background: url(../../img/en/company/identity/title03.gif) no-repeat center center;
}

body.identity .sec2 p {
  background: url(../../img/en/company/identity/copy03.gif) no-repeat center center;
  height: 61px;
}

body.identity .sec3 {
  font-size: 16px;
  line-height: 28px;
}

body.identity .sec3 h5 {
  background: url(../../img/en/company/identity/title04.gif) no-repeat center center;
}

body.identity .sec3 li {
  padding: 0 0 23px 30px;
  width: 600px;
  margin-right: -50px;
}

body.identity .sec3 li.li1 {
  background: url(../../img/en/company/identity/num01.gif) no-repeat left 5px;
}

body.identity .sec3 li.li2 {
  background: url(../../img/en/company/identity/num02.gif) no-repeat left 5px;
}

body.identity .sec3 li.li3 {
  background: url(../../img/en/company/identity/num03.gif) no-repeat left 5px;
}

body.identity .sec3 li.li4 {
  background: url(../../img/en/company/identity/num04.gif) no-repeat left 5px;
}

body.identity .sec3 li.li5 {
  background: url(../../img/en/company/identity/num05.gif) no-repeat left 5px;
}

body.access .wrapper .data {
  margin-bottom: 50px;
}
body.access .wrapper .data p {
  margin-bottom: 15px;
}
body.access .wrapper .data h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

/*body.message #body .wrapper {
  width: 820px;
}*/
body.message .pageTtl {
  border-bottom: none;
}

body.message .pageTtl h2 {
  width: 392px;
  /*559*/
  height: 45px;
  /*75*/
  background: url(../../img/en/company/title01.gif) no-repeat;
  margin: 0 auto;
}

body.message #kv01 {
  width: 100%;
  overflow: hidden;
}

body.message #kv02 {
  height: auto;
  position: relative;
  top: 0px;
  left: 0;
  z-index: 10;
  background: url(../../img/en/company/message/message01.jpg) no-repeat center center;
  background-size: cover;
}

body.message #kv02 img {
  min-width: 100%;
  height: auto;
  display: block;
}

body.message #kv03 {
  position: absolute;
  top: 0px;
  z-index: 100;
  width: 100%;
}

body.message #kv03 img {
  width: 938px;
  margin: 0 auto;
}

/*
body.message h3 {
  background: url(../company/message/img/copy01.gif) no-repeat;
  height: 32px;
  margin-bottom: 38px;
}
body.message p {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 20px;
}*/
body.profile .wrapper h4 {
  font-size: 26px;
  font-family: YuMincho, "游明朝", serif;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
body.profile .wrapper .img_block {
  display: block;
  min-height: 240px;
}
body.profile .wrapper .author {
  margin-top: 10px;
  display: block;
  font-size: 12px;
}
body.profile .wrapper .author p {
  line-height: 1.9;
}
body.profile .wrapper section {
  margin-bottom: 200px;
}
body.profile .wrapper section:last-child {
  margin-bottom: 0;
}
body.profile .wrapper .col2 {
  display: table;
  margin-bottom: 120px;
}
body.profile .wrapper .col2.first {
  padding-top: 30px;
  margin-bottom: 60px;
}
body.profile .wrapper .col2 article {
  display: table-cell;
  padding-left: 60px;
}
body.profile .wrapper .col2 article:first-child {
  padding-left: 0;
}
body.profile .wrapper .col2 article .img {
  margin-bottom: 20px;
}
body.profile .wrapper .col2 article .txt {
  margin-left: 323px;
  width: 117px;
}
body.profile .wrapper .col2 article .txt .name {
  font-size: 20px;
  margin-top: 80px;
}
body.profile .wrapper .col2 article .txt .name span {
  font-size: 12px;
}
body.profile .wrapper article {
  zoom: 1;
  margin-bottom: 90px;
}
body.profile .wrapper article:after {
  display: table;
  clear: both;
  content: "";
}
body.profile .wrapper article:last-child {
  margin-bottom: 0;
}
body.profile .wrapper article .img {
  zoom: 1;
  width: 293px;
  float: left;
  display: block;
}
body.profile .wrapper article .img:after {
  display: table;
  clear: both;
  content: "";
}
body.profile .wrapper article .txt {
  width: auto;
  margin-left: 323px;
  font-family: YuGothic, "游ゴシック", sans-serif;
}
body.profile .wrapper article .txt .name {
  font-size: 24px;
  margin-bottom: 20px;
}
body.profile .wrapper article .txt .name span {
  font-size: 14px;
  padding-right: 15px;
  vertical-align: middle;
}
body.profile .wrapper article .txt table tr td {
  padding: 12px 0;
  line-height: 1.5;
  vertical-align: top;
}
body.profile .wrapper article .txt table tr td.year {
  width: 70px;
}
body.profile .wrapper article .txt table tr td.year_month {
  width: 90px;
}
body.profile .wrapper article .txt table tr td.career_text {
  border-bottom: none;
  line-height: 2;
}

body.award .wrapper article {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 60px;
  margin-bottom: 60px;
}
body.award .wrapper article:last-child {
  margin-bottom: 0;
}
body.award .wrapper article .title {
  font-family: YuMincho, "游明朝", serif;
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
body.award .wrapper article .title span {
  font-size: 14px;
  letter-spacing: 1.5px;
}
body.award .wrapper article .contents {
  zoom: 1;
}
body.award .wrapper article .contents:after {
  display: table;
  clear: both;
  content: "";
}
body.award .wrapper article .contents .img {
  float: left;
  width: 290px;
}
body.award .wrapper article .contents .txt {
  font-family: YuGothic, "游ゴシック", sans-serif;
  width: auto;
  margin-left: 320px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
}
body.award .wrapper article .contents .txt a {
  text-decoration: underline;
  color: #ababab;
}

body.story section .main-visual {
  background: url(../../img/en/company/story/img-story-main.png) center no-repeat;
  background-size: cover;
  height: 490px;
}
body.story section p.question {
  font-family: YuGothic, "游ゴシック", sans-serif;
  text-align: left;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.8;
  letter-spacing: 1px;
}
body.story section .contents {
  font-family: YuGothic, "游ゴシック", sans-serif;
  padding: 80px 0;
  margin: 0 auto;
}
body.story section .contents .txt {
  line-height: 1.8;
  text-align: left;
  font-family: YuGothic, "游ゴシック", sans-serif;
}
body.story section.sec01 .txt {
  font-size: 16px;
  margin-top: 80px;
  text-align: center;
}
body.story section.sec01 .title {
  vertical-align: middle;
  font-family: YuMincho, "游明朝", serif;
  font-size: 36px;
  letter-spacing: 4px;
  text-align: center;
  padding: 0;
  background: none;
  margin-bottom: 0;
}
body.story section.sec01 .title span {
  margin: 0 40px;
  font-size: 50px;
  vertical-align: middle;
  background: url(../../img/en/company/story/img-story-cross.png) center -2px no-repeat;
  display: inline-block;
  width: 48px;
  height: 54px;
}
body.story section.sec02 {
  zoom: 1;
}
body.story section.sec02:after {
  display: table;
  clear: both;
  content: "";
}
body.story section.sec02 .left {
  background: url(../../img/en/company/story/img-story-01.png) center no-repeat;
  min-height: 584px;
  background-size: cover;
}
body.story section.sec02 .right {
  background: #f5f5f5;
}
body.story section.sec02 .right .inner {
  padding: 50px 0 30px 50px;
  float: left;
}
body.story section.sec02 .right .inner .txt {
  zoom: 1;
}
body.story section.sec02 .right .inner .txt:after {
  display: table;
  clear: both;
  content: "";
}
body.story section.column02 {
  zoom: 1;
}
body.story section.column02:after {
  display: table;
  clear: both;
  content: "";
}
body.story section.column02 .left,
body.story section.column02 .right {
  zoom: 1;
  width: 50%;
  max-height: 534px;
  min-height: 534px;
}
body.story section.column02 .left:after,
body.story section.column02 .right:after {
  display: table;
  clear: both;
  content: "";
}
body.story section.column02 .left .inner,
body.story section.column02 .right .inner {
  width: 570px;
}
body.story section.column02 .left {
  float: left;
}
body.story section.sec04 .left {
  background: #f5f5f5;
}
body.story section.sec04 .left .inner {
  float: right;
  padding: 50px 50px 50px 0px;
}
body.story section.sec04 .right {
  background: url(../../img/en/company/story/img-story-02.png) center no-repeat;
  min-height: 534px;
  background-size: cover;
}
body.story section.sec05 {
  background: url(../../img/en/company/story/img-story-03.png) center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 550px;
}
body.story section .left,
body.story section .right {
  width: 50%;
}
body.story section .left {
  float: left;
}
body.story section .right {
  float: right;
}
body.story section .title {
  font-size: 24px;
  font-family: YuMincho, "游明朝", serif;
  line-height: 1.8;
  letter-spacing: 2px;
  text-align: left;
  margin-bottom: 60px;
  background: url(../../img/en/company/story/img-story-title.png) left 20px no-repeat;
  padding-left: 71px;
}
body.story .name {
  width: 65px;
  padding-right: 35px;
  text-align: left;
  float: left;
  padding-top: 7px;
}
body.story .name.p1 {
  color: #7a553f;
}
body.story .name.p2 {
  color: #3f3f7a;
}
body.story .comment {
  margin-left: 100px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
}
body.story footer {
  margin-top: 0px !important;
}

body.story-list ul.link-list {
  zoom: 1;
  margin: 70px auto 0;
  width: 940px;
}
body.story-list ul.link-list:after {
  display: table;
  clear: both;
  content: "";
}
body.story-list ul.link-list li {
  width: 455px;
  float: left;
}
body.story-list ul.link-list li a {
  display: inline-block;
  width: 100%;
}
body.story-list ul.link-list li a:hover {
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
  opacity: 0.7;
  text-decoration: none;
}
body.story-list ul.link-list li a .img {
  background-size: contain;
}
body.story-list ul.link-list li a .img img {
  width: 100%;
  display: inline-block;
}
body.story-list ul.link-list li a .title {
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
}
body.story-list ul.link-list li a .title span {
  margin: 0 20px;
  vertical-align: middle;
  background: url("../../img/company/story/img-story-cross.png") center no-repeat;
  background-size: contain;
  display: inline-block;
  width: 18px;
  height: 18px;
}

body.story-list ul.link-list li a .title .title_top {
  padding-bottom: 10px;
}

body.story-list ul.link-list li a .title .title_bottom {
  padding-top: 10px;
}

body.story-list ul.link-list li a .link-text {
  padding-top: 20px;
  padding-right: 10px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}
body.story-list ul.link-list li a .link-text span {
  display: inline-block;
  width: 6px;
  min-height: 11px;
  background: url("../../img/common/arrow-right.png") left center no-repeat;
  background-size: contain;
  padding-right: 10px;
}
body.story-list ul.link-list li:first-child {
  margin-right: 30px;
}
