//--------------------------------------------
//base
//--------------------------------------------


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#subNav02 li a,body.recruit .pageTtl10 h2,body.aboutus .sec1 h2,body.identity .sec1 h2,body.message #kv03 p,body.message #kv03 h3,footer .copyright, #anim .linkMaterial, #skip, body.material .summary h3, body.material .summary .txt, body.material .summary2 h3, body.material .summary2 .txt1, body.material .summary2 .txt2, body.material .materials h4, #exp1 section span, #exp1 section h4, #exp2 h4, #exp3 h3, #exp3 h4, body.news .pageTtl h2, body.factory .pageTtl h2, body.factory .about h3, body.aboutus .pageTtl h2, body.recruit .pageTtl h2, body.recruit .pageTtl02 h2, body.recruit .sec h3, body.identity .pageTtl h2, body.identity .sections p, body.message .pageTtl h2, body.recruit .photo,body.recruit .pageTtl03 h2,body.privacy .pageTtl h2, body.privacy h3,footer .icon01,footer .icon02,footer .icon03,body.products .pageTtl h2 {
  text-indent: -9999px;
  overflow: hidden;
}

body.material .materials, #exp1 .wrapper, #exp2, #exp3, body.news .data article, .tabWrap, #adoption .wrapper, body.contact #body .wrapper, body.contact #form dl, body.aboutus .sec, body.aboutus .sec5, body.aboutus .sec6, body.aboutus .sec7, body.recruit .sec, body.recruit .sec5, body.recruit .sec6, body.recruit .sec7, body.identity #body .wrapper, body.message #body .wrapper,body.privacy #body .wrapper {
  overflow: hidden;
  *zoom: 1;
}

.cf01:before,.cf01:after {
    content: "";
    display: table;
}

.cf01:after {
    clear: both;
}

.cf01 {
    zoom: 1;
}

.pr01{position:relative;top:0;left:0;}


/* common
-------------------------*/

body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  text-align: center;
  -webkit-text-size-adjust: none;
}

a {
  color: black;
  text-decoration: none;
  letter-spacing: 1.5px;
}
a:hover {
  text-decoration: underline;
}

.wrapper {
  text-align: left;
  width: 940px;
  margin: 0 auto;
  text-align: left;
}
  
h1, h2, h3, h4, h5, h6, p, li {
  max-height: 100%;
}

.pageTtl {
    // border-bottom: 1px solid #ccc;
    padding: 88px 0 62px;

    /*172*/
}

html {
    height: 100%;
}

h2 {
  text-indent: -9999px;
  overflow: hidden;
}

h3 {
  font-family: $f-yumin;
  font-size: 35px;
  margin: 79px auto 70px;
  letter-spacing: 4px;
  text-align: center;

  span {
    font-size: 18px;
    padding-left: 5px;
    letter-spacing: 2px;
  }
}

.pt0 {padding-top: 0px!important;}
.pt10 {padding-top: 10px;}
.pt20 {padding-top: 20px;}
.pt30 {padding-top: 30px;}
.pt40 {padding-top: 40px;}
.pt50 {padding-top: 50px;}
.pt60 {padding-top: 60px;}
.pt70 {padding-top: 70px;}
.pt80 {padding-top: 80px;}

.pb10 {padding-bottom: 10px;}
.pb20 {padding-bottom: 20px;}
.pb30 {padding-bottom: 30px;}
.pb40 {padding-bottom: 40px;}
.pb50 {padding-bottom: 50px;}
.pb60 {padding-bottom: 60px;}
.pb70 {padding-bottom: 70px;}
.pb80 {padding-bottom: 80px;}
.pb90 {padding-bottom: 90px;}

.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}
.mt60 {margin-top: 60px;}
.mt70 {margin-top: 70px;}
.mt80 {margin-top: 80px;}
.mt90 {margin-top: 90px;}

.mt100 {margin-top: 100px!important;}
.mt120 {margin-top: 120px!important;}
.mt140 {margin-top: 140px!important;}
.mt160 {margin-top: 160px!important;}
.mt180 {margin-top: 180px!important;}
.mt200 {margin-top: 200px!important;}
.mt220 {margin-top: 220px!important;}
.mt240 {margin-top: 240px!important;}
.mt260 {margin-top: 260px!important;}


.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mb40 {margin-bottom: 40px;}
.mb50 {margin-bottom: 50px;}
