//--------------------------------------------
//variable
//--------------------------------------------

$f-yumin: 'Times New Roman', '游明朝', YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
$f-yugoth: YuGothic, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;


$white: #fff;
$black: #000;

$red: #ff0000;