// -------------------------------------------------------------------
//  mixins
// -------------------------------------------------------------------

@mixin clearfix {
  zoom: 1;
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

@mixin transition-2 {
	-moz-transition: .2s;
	-webkit-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
}

// -------------------------------------------------------------------
//  borderRadius
// -------------------------------------------------------------------

@mixin borderRadiuspage {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
}