.box_movie .box_movie_inner i@charset "UTF-8";
/* ------------------- reset ------------------- */

html, body, html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input[type=text], input[type=submit], input[type=password] {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  line-height: 1;
  font-family: HiraKakuProN-W3;
  font-size: 1em;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: bottom;
}

/* ------------------- common ------------------- */

html {
  height: 100%;
}

body, html {
  -webkit-text-size-adjust: 100%;
  font-family: 'Noto Sans Japanese', 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, serif;
  font-weight: 200;
  background: #000;
  color: #e5e5e5;
  font-size: 13px;
}

img {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.cf:after {
  content: "";
  clear: both;
  display: block;
}

.mb_llll { margin-bottom: 120px;}
.mb_lll { margin-bottom: 110px;}
.mb_ll { margin-bottom: 100px;}
.mb_m { margin-bottom: 90px;}
.mb_s { margin-bottom: 80px;}
.mb_ss { margin-bottom: 70px;}
.mb_sss { margin-bottom: 60px;}
.mb_ssss { margin-bottom: 50px;}
.mb_sssss { margin-bottom: 40px;}

.mt_llll { margin-top: 120px;}
.mt_lll { margin-top: 110px;}
.mt_ll { margin-top: 100px;}
.mt_m { margin-top: 90px;}
.mt_s { margin-top: 80px;}
.mt_ss { margin-top: 70px;}
.mt_sss { margin-top: 60px;}
.mt_ssss { margin-top: 50px;}
.mt_sssss { margin-top: 40px;}

.pb_llll { padding-bottom: 120px;}
.pb_lll { padding-bottom: 110px;}
.pb_ll { padding-bottom: 100px;}
.pb_m { padding-bottom: 90px;}
.pb_s { padding-bottom: 80px;}
.pb_ss { padding-bottom: 70px;}
.pb_sss { padding-bottom: 60px;}
.pb_ssss { padding-bottom: 50px;}
.pb_sssss { padding-bottom: 40px;}

.pt_llll { padding-top: 120px;}
.pt_lll { padding-top: 110px;}
.pt_ll { padding-top: 100px;}
.pt_m { padding-top: 90px;}
.pt_s { padding-top: 80px;}
.pt_ss { padding-top: 70px;}
.pt_sss { padding-top: 60px;}
.pt_ssss { padding-top: 50px;}
.pt_sssss { padding-top: 40px;}

/* ------------------- parts ------------------- */

.container {
  width: 940px;
  margin: 0 auto;  
}
.inner_container {
  width: 820px;
  margin: 0 auto;
}
.outer_container {
  width: 1280px;
  margin: 0 auto;
}
.title {
  margin-bottom: 55px;
  text-align: center;
}
.center_button {
  text-align: center;
  margin: 0 auto;
}
.hover {
  cursor: pointer;
  transition: .3s;
}
.hover:hover {
  filter:alpha(opacity=70)!important;
  -moz-opacity: 0.7!important;
  opacity: 0.7!important;
}

#kv,
#box_about,
#box_image_slider,
#box_company_h2,
#box_company_h3,
#box_company_01,
#box_company_button,
#box_movie,
#box_identity_h2,
#box_identity_01,
#box_identity_02,
#box_identity_03,
#box_work_title,
#box_work_01,
#box_work_02,
#box_cc_h2,
#box_cc_h3,
#box_cc_01,
#box_cc_02,
#box_cc_03,
#box_cc_04,
#box_cc_05,
#box_cc_06,
#box_cc_07,
#box_cc_08,
#box_cc_09,
#box_cc_10,
#box_cc_11,
#box_cc_12,
#box_cc_13,
#box_entry_01,
#box_entry_02,
#box_entry_03
{
  opacity: 0;
  transition: .3s;
}
.text_dis {
  line-height: 2.4;
  letter-spacing: 2px;
}
.text {
  line-height: 1.8;
  letter-spacing: 2px;
}

.text_left {
  text-align: left;
}
/* ------------------- header ------------------- */

header {
  background: #FFF;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
header .header_inner {
}
header h1 {
  width: 168px;
  margin-top: 10px;
  float: left;
  cursor: pointer;
}
header nav {
  width: 710px;
  float: right;
}
header nav ul li {
  float: left;
  margin-left: 38px;
  cursor: pointer;
}
header nav ul li:first-child {
  margin-left: 0;
}
.hover_nav {
  cursor: pointer;
  transition: .3s;
}
.hover_nav:hover {
  filter:alpha(opacity=30)!important;
  -moz-opacity: 0.3!important;
  opacity: 0.3!important;
  cursor: pointer;
}
header .logo {
  cursor: pointer;
}

/* ------------------- footer ------------------- */
footer {
  background: #FFF;
  padding:  40px 0;
}
footer .sns {
  width: 190px;
  margin: 0 auto 40px auto;
}
footer .sns li {
  width: 50px;
  margin-right: 20px;
  float: left;
}
footer .sns li:last-child {
  margin-right: 0;
}
footer .copy {
  margin-bottom: 40px;
  clear: both;
  color: #000;
  text-align: center;
}

/* ------------------- kv ------------------- */

.kv {
    width: 1280px;
    height: 575px;
    margin: 0 auto 60px auto;
    position: relative;
    padding-top: 76px;
}
.kv,.kv_inner {
    width: 1280px;
    height: 500px;
    margin-bottom: 155px;
    position: relative;
}
/* ------------------- box_about ------------------- */

.box_about {
  margin: 0 auto 30px auto;
}
.box_about .left, .box_about .right {
  float: left;
}
.box_about .left {
  width: 450px;
}
.box_about .right {
  width: 350px;
}

.box_about .inner_container {
    width: 820px;
    margin: 0 0 0 120px;
}

/* ------------------- box_image_slider ------------------- */

.box_image_slider {
  margin: 0 auto 130px auto;
  position: relative;
}
.box_image_slider .arrow_l, .box_image_slider .arrow_r {
  width: 25px;
  position: absolute;
  top: 50%;
  margin-top: -12.5px;
}
.box_image_slider .arrow_l {
  left: -15px;
}
.box_image_slider .arrow_r {
  right: 15px;
}
.box_image_slider li {
  width: 628px;
  margin: 0 auto;
}

/* ------------------- box_company ------------------- */

.box_company {
  text-align: center;
  margin-bottom: 80px;
}
.box_company h3 {
  margin-bottom: 60px;
}

.box_company .inner_container {
  padding: 50px 40px;
  margin-bottom: 50px;
  border: solid 1px #5a5a5a;
  width: 942px;
}
.box_company .img {
  margin-bottom: 20px;

}
.box_company .left, .box_company .right {

}
.box_company .left {
  width: 190px;
  margin-right: 40px;
}
.box_company .right {
  width: 300px;
  text-align: left;
  padding-top: 15px;
}
.box_company  dt {
  margin-bottom: 15px;
  text-align: center;
}
.box_company  dt img {
  width: auto;
}
.box_company_list {

}
.box_company_list li {
  width: 260px;
  float: left;
  margin-right: 40px;
}
.box_company_list li:last-child {
  margin-right: 0px;
}
/* ------------------- box_movie ------------------- */

.box_movie {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;        
  min-height: auto;
  min-height: 530px;
}
.box_movie .box_movie_inner {
  position: relative;
  height: 434px;
}
.box_movie {
  width: 100%;
  background: url('../images/box4_1.png') no-repeat top center;
  background-size: contain;
}
.box_movie h2{
  text-align: center;
}
.box_movie .box_movie_inner .box {
  width: 840px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -420px;
}
.box_movie .movie_title {
  margin-top:10px;
  overflow: hidden;
}
.box_movie .movie_title span {
  display: block;
  width: 371px;
  text-align: center;
  float: left;
}
.box_movie .movie_title span:first-child {
  margin-right: 93px;
}
.box_movie .box_movie_inner i {
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  background-color: #fff;
}
.box_movie .box_movie_inner i:first-child {
  margin-right: 90px;
}

/* ------------------- box_identity ------------------- */

.box_identity {
  text-align: center;
  margin-bottom: 100px;
}
.box_identity .prolog {
  margin-bottom: 70px;
}
.box_identity .prolog h3 {
  margin-bottom: 35px;
}
.box_identity .back_img {
    width: 1280px;
    height: 525px;
    margin: 0 auto 60px auto;
    position: relative;
}
.box_identity li {
    width: 630px;
    margin: 0 auto 30px auto;
}
.box_identity li .number {
    width: 27px;
    float: left;
    margin-right: 15px;
}

/* ------------------- box_works ------------------- */

.box_work {
  margin-bottom: 70px;
}
.box_work .humans {
  position: relative;
  margin-bottom: 40px;
}
.box_work dl dt {
  margin-bottom: 30px;
}
.box_work dl dd {
  width: 470px;
  padding-bottom: 40px;
}
.box_work dl dd p {
  margin-bottom: 35px;
}
.box_work dl dd p.button {
  margin-bottom: 0;
}
.box_work .w01 dl,
.box_work .w03 dl,
.box_work .w05 dl {
  position: absolute;
  top: 121px;
  left: 640px;
  opacity: 0;
  z-index: 11;
}
.box_work .w02 dl,
.box_work .w04 dl,
.box_work .w06 dl {
  position: absolute;
  top: 121px;
  left: 168px;
  opacity: 0;
  z-index: 11;
}
.box_work .w01 {
  min-height: 510px;
  position: relative;
  overflow: hidden;
}
.box_work .filter {
  min-width: 1280px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.box_work .image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  min-height: 406px;
  min-width: 100%;
}
.box_work .w01 .filter,.box_work .w01 .image {
  height: 406px;
}
.box_work .w01 .image {
  background: url('../images/box6_1_01.png') no-repeat top center;
}
.box_work .w02 {
  min-height: 546px;
  position: relative;
  overflow: hidden;
}
.box_work .w02 .filter,.box_work .w02 .image {
  height: 586px;
}
.box_work .w02 .image {
  background: url('../images/box6_2_01.png') no-repeat top center;
}
.box_work .w03 {
  min-height: 524px;
  position: relative;
  overflow: hidden;
}
.box_work .w03 .human {
  margin-bottom: 20px;
}
.box_work .w03 .filter,.box_work .w03 .image {
  height: 576px;
}
.box_work .w03 .image {
  background: url('../images/box6_3_01.png') no-repeat top center;
}
.box_work .w04 {
  min-height: 507px;
  position: relative;
  overflow: hidden;
}
.box_work .w04 .image {
  background: url('../images/box6_4_01.png') no-repeat top center;
}
.box_work .w04 .filter,.box_work .w04 .image {
  height: 557px;
}
.box_work .w05 {
  min-height: 560px;
  position: relative;
  overflow: hidden;
  margin-bottom: 70px;
}
.box_work .w05 .image {
  background: url('../images/box6_5_01.png') no-repeat top center;
}
.box_work .w05 .filter,.box_work .w05 .image {
  min-height: 601px;
}
.box_work .w06 {
  min-height: 577px;
  position: relative;
  overflow: hidden;
}
.box_work .w06 .image {
  background: url('../images/box6_6_01.png') no-repeat top center;
}
.box_work .w06 .filter,.box_work .w06 .image {
  height: 557px;
}
.box_work .center_button {
  margin-bottom: 20px;
}
.box_work .back_img {
  min-height: 530px;
  background: url('../images/box6_1.png') no-repeat top center;
  background-size: contain;
  margin-bottom: 90px;    
}

/* ------------------- box_cc ------------------- */

.box_cc {
  text-align: center;
}
.box_cc .cap {
  margin-bottom: 80px;
}
.box_cc .en, .box_cc .cc, .box_cc .sp {
  margin-bottom: 70px;
}
.box_cc .en h4, .box_cc .cc h4, .box_cc .sp h4 {
  margin-bottom: 40px;
}
.box_cc .en ul {
  width: 700px;
  margin: 0 auto;
}
.box_cc .en ul li {
  width: 310px;
  float: left;
  margin-right: 80px; 
}
.box_cc .en ul li:last-child {
  margin-right: 0;
}
.box_cc .en ul li .img {
  margin-bottom: 25px;
}
.box_cc .en ul li .text dt {
  margin-bottom: 15px;
}
.box_cc .en ul li .text dd {
  color: #dadada;
  font-size: 12px;
  text-align: left;
}
.box_cc .cc ul.cf {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.box_cc .cc ul.cf li {
  width: 102px;
  float: left;
  margin-right: 15px; 
}
.box_cc .cc ul.cf li:last-child {
  margin-right: 0;
}
.cc02 h5 {
  margin-bottom: 40px;    
}
.cc03 ul li {
  margin-bottom: 20px;
}
.box_cc .sp h5 {
  margin-bottom: 30px;
}
.box_cc .sp ul.cf {
  width: 700px;
  margin: 0 auto 50px auto; 
}
.box_cc .sp h5 p {
  font-size: 12px;
  padding-top: 18px;
}
.box_cc .sp ul.cf li {
  width: 340px;
  margin-top: 20px;
  margin-right: 20px;
  float: left;
}
.box_cc .sp ul.cf li:nth-child(2n) {
  margin-top: 20px;
  margin-right: 0;
}

/* ------------------- box_entry ------------------- */

.box_entry .en1, .box_entry .en2 {
  margin-bottom: 80px;
}

.box_entry h3 {
  text-align: center;
  margin-bottom: 50px;
}
.box_entry ul.list {
  width: 700px;
  margin: 0 auto 80px auto;
}
.box_entry .en02_list  {
  width: 700px;
  margin: 0 auto 150px auto;
}
.box_entry ul.list li {
  border-bottom: solid 1px #383838;
}
.box_entry ul.list li:first-child {
  border-top: solid 1px #383838;
}
.box_entry ul.list li dl dt {
  background: url('../images/button_box8_01.png') no-repeat right center;
  font-size: 18px;
  padding: 15px 0 15px 20px;
  letter-spacing: 2px;
}
.box_entry ul.list li dl dt.current {
  background: url('../images/button_box8_02.png') no-repeat right center;
}
.box_entry ul.list li dl dd {
  border-top: solid 1px #383838;
  display: none;
}
.box_entry ul.list li dl dd table {
  width: 100%;
}
.box_entry table tr th, .box_entry table tr td {
  border-bottom: solid 1px #383838;
  padding: 20px 0;
  line-height: 2;
  vertical-align: middle;
  letter-spacing: 2px;
}
.box_entry table tr:last-child th, .box_entry table tr:last-child td {
  border-bottom: none;
}
.box_entry table tr th, .box_entry .en02 table tr th {
  width: 195px;
  text-align: left;
  padding-left: 20px!important;
  line-height: 2;
  letter-spacing: 2px;
}
.box_entry .en02 table tr th, .box_entry .en02 table tr td {
  border-bottom: solid 1px #383838;
  padding: 30px 0;
}

/* ------------------- slider ------------------- */
.film_roll_child {
  padding: 0 35px;
}
.film_roll_child img {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.base_filter_wrapper {
  position: relative;
}
.base_filter_wrapper .base_filter {
  background: #000;
  opacity: 0.3;
  height: 370px;
  position: absolute;
  top: 0;
  z-index: 5000;
}
.base_filter_wrapper .filter_left {
  left: 0;  
}
.base_filter_wrapper .filter_right {
  right: 0;  
}
.film_roll_prev, .film_roll_next {
 position: absolute;
 top: 48%;
 width: 40px;
 height: 40px;
 margin: -20px 0 0 0;
 padding: 0;
 font-size: 60px;
 font-weight: 100;
 line-height: 30px;
 color: white;
 text-align: center;
 background: transparent!important;
 border: none!important;
 border-radius: 23px;
 opacity: 1!important;
 z-index: 7000;
}
.film_roll_prev:hover, .film_roll_next:hover {
  opacity: 0.5!important;
}
.film_roll_pager {
  display: none;
}
#box_entry_03 table td a {
    color:#FFF;
    text-decoration:underline;
}