        <div id="page_explain">
            <h3>◆メンバーの管理</h3>
            <p>メーリングリストメンバーの登録・変更・削除などを行うことができます。</p>
        </div>
        <!-- /page_explain -->

        <div class="inner">

        <h4>メンバーの登録・入会確認</h4>
            {message}<br />
            <br />
            <div class="back_link">
                <a href="./">[メンバーの管理に戻る]</a>
            </div>

        </div>
        <!-- /inner -->
