        <div class="inner">

            <div id="search_section" class="section">
                <form method="get">
                    <input type="hidden" name="page" value="ArticleSearch">
                    <strong>検索</strong><input type="text" name="search_word" size="60" /><input type="submit" name="submit_button" value="検索" />
                </form>
            </div>
            <!-- /section -->

            <div class="section">
                <div class="archive_section">

                    {$ml_maildata}

                </div>
            </div>
            <!-- /section -->
                
        </div>
        <!-- /inner -->
