            
        </div>
        <!-- /main -->
    </div>
    <!-- /contents -->
    
    <div id="footer">
        <span class="version">
            メールマガジン　version 1.1.0
        </span>
    </div>
    <!-- /footer -->
</div>
<!-- /contents_wrapper -->



</body>
</html>

