@charset "utf-8";

body {
    background-color: #000;
    min-width: 940px;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #fff;
}
.bg_wrap {

    background-repeat: no-repeat;
    background-position: center 0px;
    background-image: url();

    
    &.top {
        background-position: center 0px;
        background-image: url(../images/bg_earth.png);
        -moz-transition: 4s ease-in-out;
        -webkit-transition: 4s ease-in-out;
        -o-transition: 4s ease-in-out;
        -ms-transition: 4s ease-in-out;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "alpha(opacity=0)";
        &.ready {
//            overflow: hidden;
        }
        &.start {
            background-position: center 0px;
            opacity: 1;
            filter: alpha(opacity=100);
            -ms-filter: "alpha(opacity=100)";
        }
    }
}
.contents {
    width: 940px;
    margin: 0 auto;
    &.special {
        padding-top: 150px;
    }
    
}
a {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "alpha(opacity=100)";
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    &:hover {
        opacity: 0.7;
        filter: alpha(opacity=70);
        -ms-filter: "alpha(opacity=70)";
    }
}

.ready {
    position: relative;
    top: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    
    -moz-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    &.done {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-filter: "alpha(opacity=100)";
        top: 0px;
    }
}
.contents_bottom {
    padding-top: 80px;
    margin-bottom: 150px;
    min-height: 1000px;
    text-align: center;
    background-image: url(../images/bg_contents_bottom.png);
    background-repeat: no-repeat;
    background-position: center 80px;
    .wrap {
        height: 570px;
        margin-bottom: 80px;
    }
    img_bottom {
        top: 399px;
        position: absolute;
        left: 360px;
    }
    .description_2 {
        margin-top: 380px;
    }
}
.center {
    text-align: center
}
.shape {
    width: 700px;
    margin: 0 auto 150px;
    #card {
        float: left;
        width: 340px;
        text-align: center;
        -ms-filter: "alpha(opacity=0)";
    -moz-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
        .large {
            position:relative;
            line-height: 1;
            vertical-align: top;
            padding: 14px 0;
            color: black;
            margin-top: 0px;
            float: left;
            .wrap {
                top: 0px;
                left: 0px;
                width: 80px;
                height: 76px;
                position: absolute;
                color: #fff;
                font-size: 26px;
                margin-top: 24px;
            }
            display: inline-block;
        }
        ul {
            display: inline-block;
            padding: 17px 5px 5px;
            width: 220px;
        }
        li {
            display: inline-block;
            padding: 0px 5px;
            margin: 0px 0px 10px;
            opacity: 0.3;
            filter: alpha(opacity=30);
            -ms-filter: "alpha(opacity=30)";
            -moz-transition: 0.5s ease-out;
            -webkit-transition: 0.5s ease-out;
            -o-transition: 0.5s ease-out;
            -ms-transition: 0.5s ease-out;
            img {
                width: 28px;
                height: auto;
            }
            &.off {
                opacity: 0.3;
                filter: alpha(opacity=30);
                -ms-filter: "alpha(opacity=30)";
            }
            &.on {
                &.done {
                opacity: 1;
                filter: alpha(opacity=100);
                -ms-filter: "alpha(opacity=100)";
                }
            }
        }
    }
    #bottle {
        float: right;
        width: 290px;
        display: inline-block;
        line-height: 1;
        vertical-align: top;
        padding:  0 0;
        -ms-filter: "alpha(opacity=0)";
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
        ul {
            width: 222px;
            padding: 25px 0px 9px;
            display: inline-block;
            margin-left: 5px;
        }
        .large {
            position: relative;
            float: left;
            display: inline-block;
            padding: 0px 15px;
            margin-left: 0px;
            .wrap {
                top: 0px;
                left: 0px;
                width: 50px;
                height: 76px;
                position: absolute;
                color: #fff;
                font-size: 26px;
                margin-top: 24px;
            }
        }
        li {
            display: inline-block;
            padding: 0px 6px;
            margin: 0px 0px 10px;
            opacity: 0.3;
            filter: alpha(opacity=30);
            -ms-filter: "alpha(opacity=30)";
            -moz-transition: 0.2s ease-out;
            -webkit-transition: 0.2s ease-out;
            -o-transition: 0.2s ease-out;
            -ms-transition: 0.2s ease-out;
            img {
                height: 33px;
                width: auto;
            }
            &.off {
                opacity: 0.3;
                filter: alpha(opacity=30);
                -ms-filter: "alpha(opacity=30)";
            }
            &.on {
                &.done {
                opacity: 1;
                filter: alpha(opacity=100);
                -ms-filter: "alpha(opacity=100)";
                }
            }
        }
    }
}
div#introduction_number .rulet_box img {
    height: 36px;
    width: auto;
}
div#warter_number_500 .rulet_box img {
    height: 36px;
    width: auto;
}
header {
    width: 940px;
    position: relative;
    margin: 0 auto;
    .left {
        position: absolute;
        top: 30px;
    }
    .right {
        position: absolute;
        top: 28px;
        right: 0px;
    }
}
.border {
    padding: 20px 0px;
    border: solid 1px #3673e9;
}

.title_block {
    padding: 105px 105px 100px;
    margin-left: 2px;
    h2 {
        margin-bottom: 34px;
    }
    p {
        margin-left: 4px;
    }
}
.rulet_small {
    display: inline-block;
    margin-bottom: 40px;
    h3 {
        margin-bottom: 16px;
    }
    .small {
        .border {
            padding: 8px 0px;
            border: solid 1px #777;
        }
        .rulet_box {
            padding: 0px 20px;
            height: 28px;
            p {
                width: auto;
                padding: 5px 3px;
                img {
                    height: 20px;
                }
            }
        }
    }
}
#distribution_number {
    position: relative;
    top: 0px;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "alpha(opacity=0)";
    &.done {
        top: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-filter: "alpha(opacity=100)";
    }
}
.resolve_block {
    position: relative;
    height: 160px;
    margin-bottom: 83px;
    &.medium {
        width: 700px;
        height: 127px;
        margin: 0 auto;
        .rulet_box {
            height: 60px;   
            padding: 0px 24px;
            p {
                padding: 10px 4px;
            }
        }
        & > div {
            display: inline-block;
        }
    }
    #introduction_number {
        float: left;
        position: relative;
        top: 0px;
        opacity: 0;
        filter: alpha(opacity=0);

        &.done {
            top: 0px;
            opacity: 1;
            filter: alpha(opacity=100);
            -ms-filter: "alpha(opacity=100)";
        }
    }
    #warter_number_500 {
        float: right;
        position: relative;
        top: 0px;
        opacity: 0;
        filter: alpha(opacity=0);
        &.done {
            top: 0px;
            opacity: 1;
            filter: alpha(opacity=100);
            -ms-filter: "alpha(opacity=100)";
        }
    }
    .titled_box {
        text-align: center;
        h3 {
            margin-bottom: 13px;
        }
    }
    #project_number {
        position: absolute;
        top: 4px;
        left: 71px;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "alpha(opacity=0)";
        &.done {
            top: 4px;
            opacity: 1;
            filter: alpha(opacity=100);
            -ms-filter: "alpha(opacity=100)";
        }
    }
    #warter_number {
        position: absolute;
        top: 4px;
        left: 509px;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "alpha(opacity=0)";
        &.done {
            top: 4px;
            opacity: 1;
            filter: alpha(opacity=100);
            -ms-filter: "alpha(opacity=100)";
        }
        h3 {
            padding: 6px 5px 5px;
        }
    }
    .titled_box {

            &.medium {
                margin-bottom: 15px;
                h3 {
                    margin-bottom: 22px;
                }
            .rulet_box {
                height: 60px;
            }
            .border {
                border: solid 1px #777;
                display: inline-block;
                padding: 13px 0px;
                p {
                    height: 42px;
                    width: auto;
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
    }
    
}

.country {
    text-align: center;
    margin-bottom: 140px;
    ul {
        display: block;
        li {
            display: inline-block;
            margin: 0px 6px 0px 5px;
        }
    }
    h3 {
        margin-bottom: 20px;
        img {
            margin-right: 2px;
        }
    }

}

.rulet_box {
    padding: 0px 29px;
    height: 70px;
    overflow: hidden;
    p {
        padding: 10px 5px;
        width: 40px;
        height: 50px;
        text-align: center;
    }
    li {
        position:relative;
        top: 0px;
    }
}

.movie_block {
    width: 860px;
    margin: 0 auto 80px;
    height: 215px;
    .left {
        float: left;
    }
    .right {
        color: #fff;
        float: left;
        width: 450px;
        padding-top: 0px;
        margin-left: 35px;
        h2 {
            margin-bottom: 35px;
            font-size: 30px;
            line-height: 50px;
        }
        p {
            font-size: 13px;
            line-height: 28px;
        }
    }
}

footer {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    ul {
        text-align: center;
        margin-bottom: 30px;
    }
    li {
        display: inline-block;
        margin: 10px;
    }
    .copy {
        text-align: center;
        margin-bottom: 30px;
    }
}
.abs {
    position: absolute;
    &.arrow {
            position: absolute;
            top: 85px;
            left: 392px;
        &.middle {
    position: absolute;
    top: 60px;
    left: 345px;
        }
    }
    
    &.font-hon {
    position: absolute;
    top: 103px;
    left: 300px;
    }
    &.font-sya {
    position: absolute;
    top: 60px;
    left: 172px;
    }
    &.font-mai {
    position: absolute;
    top: 103px;
    left: 300px;
    }
}
.special_block {
    h2 {
        margin-bottom: 35px;
    }
    h3 {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 50px;
        font-size: 13px;
    }
    p.description {
        margin-bottom: 50px;
    }
    div.link_img_large {
        margin-bottom: 110px;
    }
    .img_large {
        margin-bottom: 45px;
    }
    .paragrah_block {
        margin: 0 auto 140px;
        width: 940px;
        line-height: 26px;
        font-size: 14px;
    }
    .img {
        margin-bottom: 30px;
    }
}

.participant {
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 60px 0px 55px;
    h3 {
        margin-bottom: 55px;
    }
    ul {
        width: 860px;
        margin: 0 auto;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 10px 60px;
        }
    }
    
}

.transition_0 {
    -moz-transition: 1.3s ease-out;
    -webkit-transition: 1.3s ease-out;
    -o-transition: 1.3s ease-out;
    -ms-transition: 1.3s ease-out;
}

.transition_1 {
    -moz-transition: 1.5s ease-out;
    -webkit-transition: 1.5s ease-out;
    -o-transition: 1.5s ease-out;
    -ms-transition: 1.5s ease-out;
}

.transition_2 {
    -moz-transition: 1.9s ease-out;
    -webkit-transition: 1.9s ease-out;
    -o-transition: 1.9s ease-out;
    -ms-transition: 1.9s ease-out;
}

.transition_3 {
    -moz-transition: 2.7s ease-out;
    -webkit-transition: 2.7s ease-out;
    -o-transition: 2.7s ease-out;
    -ms-transition: 2.7s ease-out;
}

.transition_4 {
    -moz-transition: 3.8s ease-out;
    -webkit-transition: 3.8s ease-out;
    -o-transition: 3.8s ease-out;
    -ms-transition: 3.8s ease-out;
}

.transition_5 {
    -moz-transition: 4.6s ease-out;
    -webkit-transition: 4.6s ease-out;
    -o-transition: 4.6s ease-out;
    -ms-transition: 4.6s ease-out;
}
.transition_6 {
    -moz-transition: 4.4s ease-out;
    -webkit-transition: 4.4s ease-out;
    -o-transition: 4.4s ease-out;
    -ms-transition: 4.4s ease-out;
}
.transition_7 {
    -moz-transition: 2.8s ease-out;
    -webkit-transition: 2.8s ease-out;
    -o-transition: 2.8s ease-out;
    -ms-transition: 2.8s ease-out;
}
.transition_8 {
    -moz-transition: 2.8s ease-out;
    -webkit-transition: 2.8s ease-out;
    -o-transition: 2.8s ease-out;
    -ms-transition: 2.8s ease-out;
}

.shape #card .large .wrap ,
.shape #bottle .large .wrap {
    font-size:18px;
}
.movie_block .right p{
    font-size:14px;
    line-height:24px;
    letter-spacing:1px;
}
.contents p{
    font-size:14px;
    line-height:24px;
    letter-spacing:1px;
}
