//--------------------------------------------
//button
//--------------------------------------------

.btn_black {
	margin:  60px auto 0;
	width: 250px;

	a {
		display: inline-block;
		background: $black url('../img/arrow_right.png') 20px center no-repeat;
		padding: 20px 0;
		width: 250px;
		text-align: center; 
		color: $white;

		&:hover {
			background: lighten($black, 30%) url('../img/arrow_right.png') 20px center no-repeat;
			text-decoration: none;
		}
	}

	#btn_submit {
		display: inline-block;
		background: $black url('../img/arrow_right.png') 20px center no-repeat;
		padding: 15px 0;
		width: 250px;
		text-align: center; 
		color: $white;
		font-size: 14px;

		&:hover {
			background: lighten($black, 30%) url("../img/arrow_right.png") 20px center no-repeat; 
		}
	}
}

.order {
	.btn_sample {
		margin-top: 10px;
	    padding: 10px 0 10px 15px;
		text-align: center;
		display: inline-block;
		border: 1px solid lighten($black, 75%);
		background: url("../img/arrow_right_02.png") 10px center no-repeat; 
		width: 205px;
	    margin-left: 10px;
		text-decoration: none;
		font-size: 13px;
		cursor: pointer;	

		&:hover {
			cursor: pointer;
			text-decoration: none;
			background: $black url("../img/arrow_right.png") 10px center no-repeat;
			color: $white;
		}
	}
}