//--------------------------------------------
//list
//--------------------------------------------

ul {
	&.disc {
		list-style-type: disc;
		padding: 20px 0 0 20px;

		li {
			padding: 5px 0; 
		}
	}
}