//--------------------------------------------
//modal
//--------------------------------------------


.order {


	.order_modal {
		.inner {
			padding: 30px;

			.title {
				font-size: 20px;
				font-weight: bold;
			    padding-top: 30px;
			}
			p {
				padding-top: 80px;
			}
		}
	}

	#cboxClose {
	    border: 0;
	    padding: 0;
	    margin: 0;
	    position: absolute;
	    top: 0;
	    right: 0;
	    background: url(../img/btn_close.png) center center no-repeat;
	    background-size: cover;
	    width: 50px;
	    height: 50px;
	    cursor: pointer;

	    &:hover {
	    	background: url(../img/btn_close.png) center center no-repeat;
	    	width: 50px;
	   		height: 50px;
	    }
	}
}