//--------------------------------------------
//table
//--------------------------------------------

.price {
	table {
		margin-top: 20px;
		width: 100%;
		border: 1px solid lighten($black, 90%);

		tr {
			td,
			th {
				padding: 20px;

				span {
					font-size: 12px;
					// color: $red;
				}
			}

			th {
				background: lighten($black, 90%);
				border: 1px solid lighten($black, 90%);
				// color: $white;
			}
			td {
				border: 1px solid lighten($black, 90%);
			}
		}

		&.sheets {
			tr {
				&.head {
					background: lighten($black, 97%);
				}
			}
		}

		&.option {
			th {
				background: lighten($black, 97%);
			}
		}
	}
}