@charset "UTF-8";

* {
    margin : 0 ;
    padding : 0 ;
    font-size : 100% ;
}

body {
    font-family:Verdana,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Arial,sans-serif;
    font-size:13px;
    text-align : center ;
    line-height : 1.4 ;
    color : #333 ;
    overflow-y:scroll;
}

ul, li {
    list-style : none ;
}

a img {
    border : none ;
}

#contents_wrapper {
    width : 900px ;
    margin : 20px auto 30px ;
}

#main p {
    margin-bottom : 10px ;
}

.button_box {
    text-align : center ;
}

.button_box input {
    padding : 2px 3px ;
}

/* header */

#header {
    height : 68px ;
    border-top : 1px solid #b3b3b3 ;
    border-right : 1px solid #b3b3b3;
    border-left : 1px solid #b3b3b3 ;
    position : relative ;
}

#header h1 {
    width : 220px ;
    height : 43px ;
    position : absolute ;
    top : 14px ;
    left : 10px ;
}

#header h1 a {
    display : block ;
    width : 220px ;
    height : 43px ;
    overflow : hidden ;
    text-indent : -9999px ;
    background : url(../images/header_logo_mm.png) left top no-repeat ;
}


#header_navi {
    height : 26px ;
    width : 282px ;
    position : absolute ;
    right : 0px ;
    top : 21px ;
}

#header_navi li {
    float : left ;
    width : 80px ;
    height : 26px ;
    margin-right : 10px ;
    border : 1px solid #b3b3b3 ;
}

#header_navi li a {
    display : block ;
    height : 26px ;
    width : 80px ;
    line-height : 26px ;
    text-decoration : none ;
    color : #333 ;
}

#header_navi li a:hover {
    background-color : #e6e6e6 ;
}

/* target_address */

#target_address {
    width : 878px ;
    border-left : 1px solid #b3b3b3 ;
    border-right : 1px solid #b3b3b3 ;
    padding : 5px 10px ;
    color : #fff ;
    background-color : #ff8940 ;
    text-align : left ;
    font-size : 110% ;
}

#target_address strong {
    padding-right : 8px ;
}


/* table */

#main table {
    border-collapse : collapse ;
    border-top : 1px solid #b3b3b3 ;
    border-left : 1px solid #b3b3b3 ;
    margin-bottom : 10px ;
}

#main table th {
    padding : 5px ;
    border-right : 1px solid #b3b3b3 ;
    border-bottom : 1px solid #b3b3b3 ;
    background-color : #e6e6e6 ;
    text-align : center ;
    font-weight : bold ;
}

#main table td {
    padding : 5px ;
    border-right : 1px solid #b3b3b3 ;
    border-bottom : 1px solid #b3b3b3 ;
}

#main table input {
    padding : 2px 3px ;
}


/* main */

#main {
    text-align : left ;
    padding : 15px ;
    width : 868px ;
    border-left : 1px solid #b3b3b3 ;
    border-right : 1px solid #b3b3b3 ;
    border-bottom : 1px solid #b3b3b3 ;
    margin-bottom : 10px ;
    float : left ;
}

#main .inner {
    margin : 0 10px ;
}

#main .section {
    margin-bottom : 20px ;
}

#main #page_explain {
    border : 1px solid #b3b3b3 ;
    margin-bottom : 12px ;
}

#main #page_explain h3 {
    padding : 5px 8px ;
    background : #666 ;
    border-bottom : 1px solid #b3b3b3 ;
    font-size : 120% ;
    color : #fff ;
}

#main #page_explain p {
    padding : 5px 8px ;
    margin-bottom : 0 ;
}

#main h4 {
    padding : 3px 7px ;
    border-left : 8px solid #666 ;
    border-bottom : 1px solid #666 ;
    margin-bottom : 10px ;
    font-size : 110% ;
}



/* footer */

#footer address {
    font-style : normal ;
}


/* etc */

#container textarea{
    border : 1px solid #aaa;
}

.input_field input{
    width : 520px;
}

.input_field textarea{
    width : 830px;
    height : 320px;
}

.lump_field textarea{
    width : 680px;
    height : 240px;
}

.tag_field textarea{
    width : 830px;
    height : 256px;
}

/* contents layout */

#index_page #main .left_container {
    float : left ;
    width : 540px ;
}    

#index_page #main .left_container th {
    text-align : center ;
}

#index_page #main .right_container {
    float : right ;
    width : 290px ;
}    

#top_main_navi ul {
    background : red ;
}

#top_main_navi ul li {
    width : 158px ;
    height : 35px ;
    text-align : center ;
    float : left ;
    border : 1px solid #b3b3b3 ;
    margin-right : 10px ;
    margin-bottom : 6px ;
}

#top_main_navi ul li.list_right {
    margin-right : 0 !important;
}

#top_main_navi ul li a {
    display : block ;
    height : 31px ;
    width : 158px ;
    line-height : 31px ;
    border-top : 2px solid #fff ;
    border-bottom : 2px solid #b9b9b9 ;
    background-color : #d9d9d9 ;
    text-decoration : none ;
    font-weight : bold ;
    color : #333 ;
}

#top_main_navi ul li a:hover {
    background-color : #666 ;
    color : #fff ;
    border-top : 2px solid #575757 ;
    border-bottom : 2px solid #b4b4b4 ;
}


/* main_navi */

#main_navi {
    margin-bottom : 12px ;
}

#main_navi ul {
    height : 36px ;
    border-left : 1px solid #b3b3b3 ;
}

#main_navi ul li {
    width : 122px ;
    height : 35px ;
    text-align : center ;
    float : left ;
    border-top : 1px solid #b3b3b3 ;
    border-bottom : 1px solid #b3b3b3 ;
    border-right : 1px solid #b3b3b3 ;
    font-size : 11px ;
}

#main_navi ul li a {
    display : block ;
    height : 31px ;
    width : 122px ;
    line-height : 31px ;
    border-top : 2px solid #fff ;
    border-bottom : 2px solid #d9c5b9 ;
    background-color : #ffe7d9 ;
    text-decoration : none ;
    font-weight : bold ;
    color : #ff7c36 ;
}

#main_navi ul li a:hover {
    background-color : #ff9b5c ;
    color : #fff ;
    border-top : 2px solid #d9844e ;
    border-bottom : 2px solid #ffe1ce ;
}

#members_index #main_navi_members a, 
#mail_index #main_navi_mail a, 
#article_index #main_navi_news a, 
#option_index #main_navi_option a, 
#systemmail_index #main_navi_file a, 
#html_index #main_navi_html a {
    background-color : #ff9b5c ;
    color : #fff ;
    border-top : 2px solid #d9844e ;
    border-bottom : 2px solid #ffe1ce  ;
}

/* sub_navi */

#sub_navi {
    height : 28px ;
    background:url(../images/sub_navi_bottom_back.png) left bottom repeat-x ;
    margin-bottom : 12px ;
    clear : both ;
    padding-left : 8px ;
}

#sub_navi li {
    height : 26px ;
    float : left ;
    margin-right : 8px ;
    border : 1px solid #b3b3b3 ;
    background : #d9d9d9 ;
}

#sub_navi li a {
    display : block ;
    height : 26px ;
    line-height : 26px ;
    padding : 0 8px ;
    text-decoration : none ;
    color : #333 ;
}

#sub_navi li a:hover {
    background : #fff ;
}


.current_tag_file {
    background : #fff ;
    border-bottom : 1px solid #fff ;
}


/* common layout */

.txt_left {
    text-align : left ;
}

.txt_center {
    text-align : center ;
}

.users_table {
    width : 100% ;
    text-align : center ;
}

.menu_table {
    width : 100% ;
}

.menu_table th{
    width : 170px ;
}

.err_detail_table {
    width : 80% ;
    margin: 0 auto 0 auto;
}

.err_detail_table th{
    width : 90px ;
}

.err_detail_table td{
    width : 110px ;
    text-align: center;
}

.err_address_table {
    width : 80% ;
    margin: 0 auto 0 auto;
    
}

.err_address_table th{
    width : 110px ;
}

.mail_table th{
    width : 170px ;
}
.mail_table td{
    width : 660px ;
    max-width : 660px ;
	overflow-x:auto;
}

/* item_layout */
#supplement_item {
    font-size : 90% ;
}

/* mailform layout */
#mailform {
    width : 100% ;
}

#mailform th{
    width : 160px ;
}

/* layout */

#search_section {
    padding : 8px ;
    border : 1px solid #b3b3b3 ;
}

#search_section strong, #search_section input {
    margin-right : 8px ;
    padding : 2px 3px ;
}

#form_section input {
    margin-right : 8px ;
    padding : 2px 3px ;
}

.write_form {
    padding : 10px ;
    border : 1px solid #ccc ;
    background : #eee ;
}

.write_form dt {
    font-size : 115% ;
    font-weight : bold ;
    margin-bottom : 5px ;
}

.write_form table, .write_form table th, .write_form table td {
    border-left : none !important;
    border-right : none !important;
    border-bottom : none !important;
    border-top : none !important;
    background : none !important;
}

.write_form table input, .write_form table textarea {
    width : 85% ;
    padding : 2px 3px ;
}


.archive_section {
    margin-bottom : 20px ;
    padding-top : 10px ;
    border-top : 1px solid #b3b3b3 ;
    padding-left : 12px ;
}

.archive_section li {
    margin-bottom : 3px ;
    list-style-type : disc !important;
}

.archive_section ul {
    margin-left : 10px ;
}

.archive_section ul ul {
    margin-left : 25px ;
}

.archive_section ul ul li {
    list-style-type : circle !important;
}

.archive_section ul ul ul li {
    list-style-type : square !important;
}

.archive_section h5 {
    font-size : 110% ;
    margin-bottom : 8px ;
}


#main .pagelink {
    text-align : center ;
    margin-bottom : 10px ;
}

#main .pagelink li {
    display : inline ;
    padding : 0 3px ;
}

#main pre {
    overflow: auto;
    white-space: normal;
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: pre-wrap;      /* CSS3 */
    word-wrap: break-word;      /* IE 5.5+ */
}

#main .mail_table{
    width : 100% ;
}

#main .mail_table textarea{
    width : 100% ;
    height : 320px ;
}

#main .error_txt ul,
#main .error_txt li {
	list-style-type:none;
    color : #ff3333;
}

#main .max_txt{
    font-weight:bolod;    
    color : #ff3333;
}

.red_txt li {
    list-style : disc ;
    color : #f33 ;
}

/* mail_list */

#view_mail_list {
    margin : 0 10px ;
}

#view_mail_list h1 {
    font-size : 110% ;
    margin-bottom : 5px ;
}

#view_mail_list hr {
    margin-bottom : 10px ;
}

#view_mail_list ul {
    margin-left : 0px ;
}

#view_mail_list ul li {
    padding : 5px 0 5px 23px ;
    background-image : url(../images/mail_icon.png) ;
    background-position : 5px 8px ;
    background-repeat : no-repeat ;
    border-bottom : 1px solid #ccc ;
}

#view_mail_list ul li li {
    padding : 3px 0 3px 12px ;
    background-image : url(../images/tree_child.gif) ;
    background-position : left 5px ;
    border-bottom : none ;
}

#view_mail_list h1+ul {
    margin-left : 10px !important;
    margin-bottom : 15px ;
}

#view_mail_list h1+ul li {
    padding : 0 ;
    background-image : none !important;
    border-bottom : none ;
}

#view_mail_list h1+ul li a:before {
    content : ">>" ;
}

#view_mail_list ul li em {
    font-style : normal ;
    color : #888 ;
    padding-left : 10px ;
}

/* view_mail_contents */

#view_mail_contents {
    margin : 0 10px ;
}

#view_mail_contents hr:first-child {
    display : none ;
}

#view_mail_contents h1 {
    font-size : 110% ;
    margin : 15px 0 5px ;
}

#view_mail_contents hr {
    margin-bottom : 10px ;
}

#view_mail_contents ul {
    margin : 0 10px 10px ;
}

#view_mail_contents p {
    margin : 0 10px 20px ;
}

#view_mail_contents pre {
    margin : 0 10px 10px ;
    font-size : 120% ;
}

#view_mail_contents ul li ul {
    margin-left : 15px ;
}

#view_mail_contents ul li em {
    font-style : normal ;
    font-weight : bold ;
    padding-right : 10px ;
}
