//--------------------------------------------
//footer
//--------------------------------------------

footer {
    border-top: 1px solid #ccc!important;
    padding: 30px 0 30px!important;
    margin-top: 100px!important;
}

footer ul {
    width: 210px;
    margin: 0 auto 30px auto;
}

footer ul li {
    float: left;
    width: 50px;
    margin: 0 10px;
}

footer .icon01 {
    display: block;
    height: 50px;
    background: url(../img/common/icon_twitter.png) no-repeat center center;
}

footer .icon02 {
    display: block;
    height: 50px;
    background: url(../img/common/icon_facebook.png) no-repeat center center;
}

footer .icon03 {
    display: block;
    height: 50px;
    background: url(../img/common/icon_youtube.png) no-repeat center center;
}

footer .copyright {
    display: block;
    height: 14px;
    background: url(../img/common/txt_copyright.gif) no-repeat center center;
}

footer .txtLink01 {
    text-align: center;
    padding: 0 0 15px 0;
}

/*30*/
footer .txtLink01 a {
    display: inline;
    margin-right: 30px;
    font-size: 70%;
}

/*85*/
footer .txtLink01 a:last-child {
    display: inline;
    margin-right: 0px;
    font-size: 70%;
}