//--------------------------------------------
//header
//--------------------------------------------

header {
  background: #000;
  border-bottom: 1px solid #3f3f3f;

  .wrapper {
    width: 940px;
    height: 73px;

    .logo {
      display: table-cell;
      vertical-align: middle;
    }

    #gnav {
      display: table-cell;
      vertical-align: middle;
      width: 100%;

      ul {
        float: right;

        .g-sub-navi {
          display: none;
          position: absolute;
          width: 100%;
          min-height: 50px;
          background: rgba(75, 75, 75, 0.9);
          left: 0;
          z-index: 999;

          ul {
            width: 940px;
            margin: 0 auto;
            float: none;
            height: 50px;
            @include clearfix;

            li {
              float: left;
              padding: 17px 0;

              a {
                height: auto;
                font-size: 13px;
                display: inline-block;
                background: none;
                text-indent: inherit;
                vertical-align: middle;
                padding: 0 19px;
                color: #9e9e9e;
                text-decoration: none;
                font-family: $f-yumin;
                border-right: 1px solid #4A4A4A;
                vertical-align: middle;

                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}

#lang01 {
    height: 50px;
    overflow: hidden;
    width: 940px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
}

#lang02 {
    text-align: right;
    margin-right: 50px;
}

#ext01-01 {
    position: absolute;
    top: 18px;
    left: 523px;
}

#ext01-02 {
    position: absolute;
    top: 18px;
    left: 679px;
}

.header-facebook {
    a {
        height: 30px;
        width: 30px;
        background: url(../img/common/icon_facebook.png) no-repeat center center;
        background-size: cover;
        position: absolute;
        top: 10px;
        right: 0;
        text-indent: -9999px;
        overflow: hidden;
    }
}

#gnav {
    li {
        float: left;

        a {
            text-indent: -9999px;
            overflow: hidden;
        }

        a,
        span {
            cursor: pointer;
            display: block;
            height: 73px;
            background: url(../img/common/nav_header.png) no-repeat;
        }
    }
}

#gnav .nav1 {
    width: 87px;

    /*94*/
}

#gnav .nav1 a {
    background-position: 0px 0px;
}

#gnav .nav1 a:hover, #gnav .nav1 a.cur {
    background-position: 0px -73px;
}

#gnav .nav2 {
    width: 97px;

    /*105*/
}

#gnav .nav2 a {
    background-position: -205px 0px;
}

#gnav .nav2 a:hover, #gnav .nav2 a.cur {
    background-position: -205px -73px;
}

#gnav .nav3 {
    width: 107px;

    /*115*/
}

#gnav .nav3 a {
    background-position: -302px 0px;
}

#gnav .nav3 a:hover, #gnav .nav3 a.cur {
    background-position: -302px -73px;
}

#gnav .nav4 {
    width: 111px;

    /*119*/
}

#gnav .nav4 a {
    background-position: -409px 0px;
}

#gnav .nav4 a:hover, #gnav .nav4 a.cur {
    background-position: -409px -73px;
}

#gnav .nav5 {
    width: 77px;

    /*86*/
}

#gnav .nav5 a {
    background-position: -520px 0px;
}

#gnav .nav5 a:hover, #gnav .nav5 a.cur {
    background-position: -520px -73px;
}

#gnav .nav6 {
    width: 95px;

    /*98*/
}

#gnav .nav6 a {
    background-position: -597px 0px;
}

#gnav .nav6 a:hover, #gnav .nav6 a.cur {
    background-position: -597px -73px;
}

#gnav .nav7 {
    width: 118px;
}

#gnav .nav7 a {
    background-position: -87px 0px;
}

#gnav .nav7 a:hover, #gnav .nav7 a.cur {
    background-position: -87px -73px;
}

.sub-navi {
  border-bottom: 1px solid #000;
  padding-bottom: 8px;

  .inner {
    width: 940px;
    margin: 0 auto;

    @include clearfix;

    ul {
      @include clearfix;
      float: right;

      li {
        float: left;
        margin-left: 40px;

        &:first-child {
          margin-left: 0;
        }

        a {
          font-size: 12px;
          font-family: $f-yumin;

          &:hover,
          &.cur {
            text-decoration: none;
            opacity: 0.5;
          }
        }
      }
    }
  }
}

body {
  &.aboutus,
  &.message,
  &.profile,
  &.identity,
  &.history,
  &.story,
  &.access,
  &.award {
    .pageTtl {
      h2 {
        width: 392px;
        height: 45px;
        background: url(../img/company/title01.gif) no-repeat;
        margin: 0 auto;
      }
    }
  }
}

.fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
}