    </div>
    <!-- /main -->

    <div id="footer">
        <address>Copyright &copy; <script type="text/javascript">NowYear();</script> XSERVER Inc. All Rights Reserved.</address>
    </div>
    <!-- /footer -->

</div>
<!-- /contents_wrapper -->

</body>
</html>
