//--------------------------------------------
//company-message
//--------------------------------------------

/*body.message #body .wrapper {
  width: 820px;
}*/
body.message .pageTtl {
    border-bottom: none;
}

body.message #kv01 {
    width: 100%;
    overflow: hidden;
}

body.message #kv02 {
    height: auto;
    position: relative;
    top: 0px;
    left: 0;
    z-index: 10;
    background: url(../img/company/message/message01.jpg) no-repeat center center;
    background-size: cover;
}

body.message #kv02 img {
    min-width: 100%;
    height: auto;
    display: block;
}

body.message #kv03 {
    position: absolute;
    top: 0px;
    z-index: 100;
    width: 100%;
}

body.message #kv03 img {
    width: 938px;
    margin: 0 auto;
}

/*
body.message h3 {
  background: url(../company/message/img/copy01.gif) no-repeat;
  height: 32px;
  margin-bottom: 38px;
}
body.message p {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 20px;
}*/