//--------------------------------------------
//company-aboutus
//--------------------------------------------

body.company .pageTtl {
    border-bottom: none;
}

.link_access {
  display: inline-block;
  margin-left: 30px;
  text-decoration: underline;
  font-size: 12px;
  
  span {
    display: inline-block;
    background: url(../img/company/aboutus/company_arrow_right.png) no-repeat;
    width: 7px;
    height: 10px;
    margin-right: 3px;
  }

  &:hover {
    text-decoration: none;
  }
}

body.company .pageTtl h2 {
    width: 392px;

    /*195*/
    height: 45px;

    /*76*/
    background: url(../img/company/title01.gif) no-repeat;
    margin: 0 auto;
}

body.company .sec h3 {
    width: 36px;
    float: left;
}

body.company .sec1 h2 {
    background: url(../img/company/aboutus/title01.gif) no-repeat center center;
    height: 60px;
    margin-bottom: 70px;

    /*40*/
    margin-top: 79px;
}

body.company .sec .data p {
    line-height: 28px;
    font-size: 14px;
}


body.company .sec1 h3 {
    height: 169px;
    background: url(../img/company/aboutus/title02-01.gif) no-repeat;
    margin-left: 90px;
}

body.company .sec1, body.company .sec4 {
    margin-bottom: 75px;
}

body.company .sec1 .data, body.company .sec4 .data {
    width: 780px;
    float: right;
}

body.company .sec2, body.company .sec3 {
    width: 470px;
    margin-bottom: 75px;
}

body.company .sec2 .data, body.company .sec3 .data {
    width: 305px;
    float: right;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 170px;
}

body.company .sec2 .data p, body.company .sec3 .data p {
    padding: 15px 0;
}

body.company .sec2 {
    float: left;
}

body.company .sec2 h3 {
    height: 173px;
    background: url(../img/company/aboutus/title02-02.gif) no-repeat;
    margin-left: 90px;
}

body.company .sec3 {
    width: 400px;
    float: right;
}

body.company .sec3 h3 {
    height: 173px;
    background: url(../img/company/aboutus/title02-03.gif) no-repeat;
}

body.company .sec3 .data {
    width: 325px;
}

body.company .sec4 {
    clear: both;
}

body.company .sec4 h3 {
    height: 173px;
    background: url(../img/company/aboutus/title02-04.gif) no-repeat;
    margin-left: 90px;
}

body.company .sec6 {
    margin-bottom: 70px;
}

body.company .sec6 h3 {
    height: 173px;
    background: url(../img/company/aboutus/title02-06.gif) no-repeat;
    margin-left: 90px;
}

body.company .sec6 .data {
    width: 780px;
    float: right;
    border-top: 1px solid #ccc;
}

body.company .sec6 .data p {
    border-bottom: 1px solid #ccc;
    padding: 19px 0;
}

body.company .sec7 {
    margin-bottom: 80px;
}

body.company .sec7 h3 {
    height: 173px;
    background: url(../img/company/aboutus/title02-07.gif) no-repeat;
    margin-left: 90px;
}

body.company .sec7 .data {
    width: 780px;
    float: right;
    border-top: 1px solid #ccc;
}

body.company .sec7 .data p {
    border-bottom: 1px solid #ccc;
    padding: 19px 0;
}

#map {
    margin-bottom: 50px;
}