//--------------------------------------------
//story-list
//--------------------------------------------


body {
  &.story-list {
    ul.link-list {
      @include clearfix;
      margin: 70px auto 0;
      width: 940px;
      
      li {
        width: 455px;
        float: left;

        a {
          display: inline-block;
          width: 100%;

          &:hover {
            @include transition-2;
            opacity: 0.7;
            text-decoration: none;
          }

          .img {
            background-size: contain;

            img {
              width: 100%;
              display: inline-block;
            }
          }

          .title {
            text-align: center;
            padding-top: 20px;
            font-size: 16px;

            span {
              margin: 0 20px;
              vertical-align: middle;
              background: url(../img/company/story/img-story-cross.png) center no-repeat;
              background-size: contain;
              display: inline-block;
              width: 18px;
              height: 18px;
            }
          }

          .link-text {
            padding-top: 20px;
            padding-right: 10px;
            font-size: 12px;
            text-align: center;
            vertical-align: middle;

            span {
              display: inline-block;
              width: 6px;
              min-height: 11px;
              background: url("../img/common/arrow-right.png") left center no-repeat;
              background-size: contain;
              padding-right: 10px;
            }
          }
        }

        &:first-child {
          margin-right: 30px;
        }
      }
    }
  }
}

