//--------------------------------------------
//common
//--------------------------------------------

body {
  &.aboutus,
  &.company,
  &.message,
  &.profile,
  &.identity,
  &.history,
  &.srory,
  &.access,
  &.award {
    table {
      width: 100%;
      table-layout: fixed;
      border-top: 1px solid #ccc;
      
      td,
      th {
        border-bottom: 1px solid #ccc;
        padding: 17px;
        font-size: 14px;
      }
      th {
        width: 120px;
        background: #eee;
        text-align: center;
      }
    }

    p {
      line-height: 28px;
    }
  }

  &.aboutus {
    #body {
      .wrapper {
        width: 780px;
      }
    }
  }

  &.history {
    #body {
      .wrapper {
        width: 780px;
      }
    }
  }
}
