//--------------------------------------------
//company-access
//--------------------------------------------


body {
  &.access {
    .wrapper {
      // width: 940px;

      .data {
        margin-bottom: 50px;

        p {
           margin-bottom: 15px;
        }
        h4 {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
