//--------------------------------------------
//company-identity
//--------------------------------------------

body {
  &.identity {
    .wrapper {
      h4 {
        text-align: center;
        // font-size: 64px;
        width: 594px;
        height: 46px;
        background: url(../img/company/identity/img-identity-01.png) center no-repeat;
        margin: 0 auto 80px;
        text-indent: -9999px;
        overflow: hidden;
      }
      .sections {
        width: 580px;
        margin: 0 auto;
        text-align: left;

        .sec {
          margin-bottom: 62px;
          &:last-child {
            margin-bottom: 0;
          }
        }

        h5 {
          margin: 0 auto 30px;
          text-indent: -9999px;
          overflow: hidden;
        }

        .sec1 {
          h5 {
            width: 145px;
            height: 22px;
            background: url(../img/company/identity/title02.gif) no-repeat center center;
          }

          p {
            background: url(../img/company/identity/copy02.gif) no-repeat center center;
            height: 23px;
          }
        }

        .sec2 {
          h5 {
            width: 145px;
            height: 22px;
            background: url(../img/company/identity/title03.gif) no-repeat center center;
          }

          p {
            background: url(../img/company/identity/copy03.gif) no-repeat center center;
            height: 61px;
          }
        }

        .sec3 {
          font-size: 16px;
          line-height: 28px;

          h5 {
            width: 145px;
            height: 22px;
            background: url(../img/company/identity/title04.gif) no-repeat center center;
          }

          li {
            padding: 0 0 23px 30px;
            width: 600px;
            margin-right: -50px;
            
            &.li1 {
              background: url(../img/company/identity/num01.gif) no-repeat left 5px;
            }

            &.li2 {
              background: url(../img/company/identity/num02.gif) no-repeat left 5px;
            }

            &.li3 {
              background: url(../img/company/identity/num03.gif) no-repeat left 5px;
            }

            &.li4 {
              background: url(../img/company/identity/num04.gif) no-repeat left 5px;
            }

            &.li5 {
              background: url(../img/company/identity/num05.gif) no-repeat left 5px;
            }
          }
        }
      }
    }
  }
}