//--------------------------------------------
//factory
//--------------------------------------------

body {

  &.factory {
    .photo {
      height: 545px;
      background: url(../img/factory/image01.jpg) no-repeat center center;
      margin-bottom: 50px;
    }
  }

  &.tagajo {
    .photo {
      height: 545px;
      background: url(../img/factory/img-factory-tagajo-01.png) no-repeat center center;
      margin-bottom: 50px;
    }
  }

  &.factory,
  &.tagajo {
    .pageTtl {
      border-bottom: none;
      
      h2 {
        width: 623px;
        height: 58px;
        background: url(../img/factory/title01.gif) no-repeat;
        margin: 0 auto;
      }
    }
    

    .about {
      margin-bottom: 80px;
      
      h4 {
        background: url(../img/factory/title02.gif) no-repeat center center;
        width: 204px;
        height: 27px;
        margin: 0 auto 22px;
      }

      p {
        font-size: 16px;
        line-height: 32px;
      }

      table {
        width: 100%;
        margin-top: 30px;
        table-layout: fixed;
        border-top: 1px solid #ccc;
      }

      td,
      th {
        border-bottom: 1px solid #ccc;
        padding: 20px;
        font-size: 14px;
      }

      th {
        width: 98px;
        background: #eee;
        text-align: center;
      }

      td {
        line-height: 1.4;
      }
    }
    #subNav01 {
      ul {
        width: 170px;
        left: 785px;

        li {

          &.nav1 {
              width: 91px;

            a {
              background-position: 16px 0;
              &:hover {
                background-position: 16px -19px;
              }
            }
          }

          &.nav2 {
            width: 79px;
            a {
              background-position: -69px 0;
              &:hover {
                background-position: -69px -19px;
              }
            }
          }

          a {
              background: url('../img/factory/subnav01.gif') no-repeat;
          }
        }
      }
    }
    .about {
      h4 {
        text-indent: -9999px;
        overflow: hidden;
      }
    }
  }
}

#adoption {
    background: #eee;
}

#adoption .wrapper {
    width: 780px;
    padding: 40px 0 0px;
}

#adoption h5 {
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
}

#adoption .img {
    float: left;
    margin-top: 7px;

    /**/
}

#adoption .txt {
    width: 455px;
    float: right;
}

#adoption .txt p {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 2em;
}