
/* common element
-------------------------*/

#body {
    font-size: 14px;
}

body.material .wrap1 {
    margin-bottom: 70px;
}

body.material #body {
    padding-top: 157px;
    overflow-x: hidden;
}

body.material h2 {
    margin-bottom: 70px;
}

body.material .summary {
    height: 480px;
    position: relative;

    /* background: url(../img/material/stone01.jpg) no-repeat 597px 12px;*/
}

body.material .summary h3 {
    /*float: left;*/

    /*right*/
    position: absolute;
    top: 26px;
    left: 0;
    width: 487px;

    /*36*/
    height: 35px;

    /*265*/
    background: url(../img/material/title01.gif) no-repeat;
}

body.material .summary .txt {
    /*float: left;*/

    /*right*/
    position: absolute;
    top: 92px;
    left: 2px;
    width: 408px;

    /*287*/
    height: 289px;

    /*404*/
    /*margin-right: 28px;*/

    background: url(../img/material/copy01.gif) no-repeat;
}

body.material .summary .photo {
    right: -86px;

    /*left 319*/
    top: 10px;

    /*77*/
    position: absolute;
    z-index: -1;
}

body.material .summary2 {
    height: 480px;
    position: relative;
}

body.material .summary2 h3 {
    float: right;
    width: 36px;
    height: 265px;
    margin-right: 93px;
    background: url(../img/material/title01.gif) no-repeat;
}

body.material .summary2 .txt1 {
    float: right;
    width: 138px;
    height: 404px;
    margin-right: 50px;
    background: url(../img/material/copy01-1.gif) no-repeat;
}

body.material .summary2 .txt2 {
    float: left;
    width: 197px;
    height: 404px;
    margin-left: 109px;
    background: url(../img/material/copy01-2.gif) no-repeat;
}

body.material .summary2 .photo {
    left: 354px;
    top: 77px;
    position: absolute;
    z-index: -1;
}

body.material .materials {
    position: relative;
    z-index: 10;
}

body.material .materials h4 {
    height: 44px;
    margin-bottom: 25px;
}

body.material .materials p {
    line-height: 24px;
}

body.material .materials .paper, body.material .materials .plastic {
    width: 435px;
}

body.material .materials .paper {
    float: left;
    background: url(../img/material/title02-01.gif) no-repeat;
}

body.material .materials .plastic {
    float: right;
    background: url(../img/material/title02-02.gif) no-repeat;
}

#exp1 {
    position: relative;
    margin-bottom: 73px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#exp1 .line {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 315px;
    z-index: -1;
    border-bottom: 1px solid #ccc;
}

#exp1 .col1 {
    float: left;
    width: 469px;
    border-right: 1px solid #ccc;
}

#exp1 .col2 {
    float: left;
    width: 470px;
    background: #fff;
}

#exp1 section span {
    display: block;
    height: 16px;
    margin-bottom: 20px;
}

#exp1 section h4 {
    height: 28px;
    margin-bottom: 30px;
}

#exp1 section p {
    font-size: 14px;
    line-height: 24px;
}

#exp1 section .note {
    font-size: 11px;
    line-height: 24px;
    margin-top: 20px;
}

#exp1 .sect1 {
    padding: 50px 34px 50px 0;

    /*40*/
}

#exp1 .sect1 span {
    background: url(../img/material/title03.gif) no-repeat;
}

#exp1 .sect1 h4 {
    background: url(../img/material/title03-01.gif) no-repeat;
}

#exp1 .sect2 {
    padding: 50px 34px 50px 0;

    /*40*/
}

#exp1 .sect2 span {
    background: url(../img/material/title03.gif) no-repeat;
}

#exp1 .sect2 h4 {
    background: url(../img/material/title03-02.gif) no-repeat;
}

#exp1 .sect3 {
    float: left;
    padding: 50px 0px 0px 35px;
}

#exp1 .sect3 span {
    background: url(../img/material/title03.gif) no-repeat;
    width: 100%;
}

#exp1 .sect3 h4 {
    background: url(../img/material/title03-03.gif) no-repeat;
    width: 100%;
}

#exp2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
}

#exp2 .col1 {
    width: 470px;
    float: left;
}

#exp2 .col2 {
    width: 435px;
    margin-left: 35px;
    float: left;
}

#exp2 section {
    width: 435px;

    /*429*/
    margin-bottom: 45px;
}

#exp2 h4 {
    height: 28px;
    margin-bottom: 30px;
}

#exp2 p {
    font-size: 14px;
    line-height: 24px;
}

#exp2 .sect4 h4 {
    background: url(../img/material/title03-04.gif) no-repeat;
}

#exp2 .sect5 h4 {
    background: url(../img/material/title03-05.gif) no-repeat;
}

#exp2 .sect6 h4 {
    background: url(../img/material/title03-06.gif) no-repeat;
}

#exp2 .sect7 h4 {
    background: url(../img/material/title03-07.gif) no-repeat;
}

#exp3 {
    padding-bottom: 40px;
}

#exp3 .wrapper {
    padding-top: 75px;
}

#exp3 h3 {
    background: url(../img/material/title04-01.gif) no-repeat;
    height: 28px;
    margin-bottom: 30px;

    /**/
}

#exp3 h4 {
    height: 22px;
    margin-bottom: 17px;
}

#exp3 p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-bottom: 15px;
}

#exp3 section {
    width: 278px;
    float: left;
    padding-right: 25px;
    margin-right: 26px;
    border-right: 1px solid #ccc;
    padding-top: 0px;

    /*30*/
}

#exp3 section.sect10 {
    border: none;
    padding-right: 0;
    margin-right: 0;
}

#exp3 .sect8 h4 {
    background: url(../img/material/copy04-01.gif) no-repeat;
}

#exp3 .sect9 h4 {
    background: url(../img/material/copy04-02.gif) no-repeat;
}

#exp3 .sect10 h4 {
    background: url(../img/material/copy04-03.gif) no-repeat;
}

#pdfDl {
    border-top: 1px solid #ccc;
    padding: 30px 0 30px;
}

#pdfDl img {
    margin: 0 auto;
}

.tabWrap {
    position: relative;
    margin-top: -26px;
}

#data2 {
    display: none;
}

#data3 {
    display: none;
}

#tab {
    float: left;
    left: 50%;
    position: relative;
}

#tab li {
    position: relative;
    left: -50%;
    float: left;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-color: #ccc;
}

#tab li a {
    background: #fff;
    display: block;
    width: 138px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
}

#tab li a.cur {
    background: #eee;
}

#tab li.last {
    border-right: 1px solid #ccc;
}
