//--------------------------------------------
//privacy
//--------------------------------------------
body.privacy #body .wrapper {
    width: 820px;
}

body.privacy .pageTtl {
    border-bottom: none;
}

body.privacy .pageTtl h2 {
    width: 613px;
    height: 45px;
    background: url(../img/privacy/title01.gif) no-repeat;
    margin: 0 auto;
}

body.privacy .content01 {
    width: 608px;
    margin: 0 auto 50px;
    text-align: left;
}

body.privacy .content02 {
    width: 608px;
    margin: 0 auto 80px;
    text-align: left;
}

body.privacy .sec1 h3 {
    background: url(../img/privacy/copy01.gif) no-repeat;
    width: 288px;
    height: 30px;
    margin: 30px auto 40px auto;
}

body.privacy .sec2 h3 {
    background: url(../img/privacy/copy02.gif) no-repeat;
    width: 432px;
    height: 29px;
    margin: 0px auto 40px auto;
}

body.privacy .sec3 h3 {
    background: url(../img/privacy/copy03.gif) no-repeat;
    width: 604px;
    height: 30px;
    margin: 0px auto 40px auto;
}

body.privacy p {
    font-size: 13.7px;

    /*16*/
    line-height: 25px;
    margin-bottom: 30px;
}

body.privacy p.mb0 {
    margin-bottom: 0;
}

body.privacy p.mb20 {
    margin-bottom: 20px;
}

body.privacy p.eoc01 {
    text-align: right;
}

body.privacy p .bd01 {
    font-weight: bold;
}

body.privacy ol li {
    font-size: 13.7px;
    line-height: 25px;
    text-indent: -1.2em;
    padding-left: 1.2em;
}