//--------------------------------------------
//products
//--------------------------------------------

body.products .pageTtl {
    border-bottom: none;
}

body.products .pageTtl h2 {
    width: 425px;
    height: 46px;
    background: url(../img/products/title01.png) no-repeat;
    margin: 0 auto;
}

body.products .prd01 {
    padding-bottom: 80px;
}

body.products .prd01 p {
    font-size: 16px;
    line-height: 32px;
}

body.products h3 {
    text-align: center;
    padding-bottom: 72px;
}

body.products h4 {
    padding-bottom: 25px;
}

body.products .prd02 {
    padding-bottom: 60px;
}

body.products .prd02-01 {
    float: left;
    width: 651px;
}

body.products .prd02-02 {
    padding-bottom: 20px;
}

body.products .prd02-02 p {
    font-size: 14px;
    line-height: 32px;
}

/*24*/
body.products .prd02-03 {
    margin-right: 20px;
}

body.products .prd02-04 {
    float: left;
    width: 288px;
}

body.products .prd02-05 {
    padding: 58px 0 0 73px;
}

body.products .prd03-05 {
    padding: 41px 0 0 73px;
}

body.products .prd04 {
    padding-bottom: 45px;
}

body.products .prd04-05 {
    padding: 53px 0 0 45px;
}

body.products .prd05 {
    border: 1px solid #ccc;
    margin-bottom: 100px;
    padding: 37px 0 30px 0;
}

body.products .prd05-01 {
    float: left;
    width: 259px;
    text-align: center;
}

body.products .prd05-02 {
    float: left;
    width: 499px;
}

body.products .prd05-02 p {
    font-size: 14px;
    line-height: 22px;
}

body.products .prd05-03 {
    float: left;
    width: 160px;
}

body.products .prd05-04 {
    padding-top: 5px;
}

body.products .prd06 {
    padding-bottom: 110px;
}

body.products .prd06-05 {
    padding: 54px 0 0 50px;
}