@charset "UTF-8";
body.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
#action-modal {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	box-sizing : border-box;
	color: #000;
}
#action-modal * {
	box-sizing : border-box;
	line-height: 1.7;
}
#action-modal img {
	max-width: 100%;
}
#action-modal .section-wrap {
	padding: 0px;
	height: 100%;
	width: 100%;
	position: relative;
}
#action-modal section {
	position: absolute;
	top: 0px;
	left: 0px;
}
#action-modal h1.title {
	font-size: 22px;
    margin-bottom: 15px;
    /* background-color: white; */
    margin-top: 15px;
}
#action-modal * {
    box-sizing: border-box;
    line-height: 1.7;
}
#action-modal p {
	font-size: 14px;
	margin-bottom: 20px;
}

#action-modal p.title {
	font-size: 24px;
}

#modal-contaner {
	position: absolute;
	overflow: hidden;
	width: 800px;
	height: 435px;
	padding: 40px;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: #fff;
}
#modal-contaner .separate.left {
	width: 220px;
	position: absolute;
	top: -500px;
	float: left;
	/*padding: 50px 0 50px 50px;*/
}
#modal-contaner .separate.right {
    width: 475px;
    /*margin-left: 240px;*/
    position: absolute;
    top: 500px;
    left: 245px;
    /* padding: 50px; */
    height: 355px;
    overflow: static;
}
#modal-contaner .current .separate.left {
	top: 0px;
}
#modal-contaner .current .separate.right {
    top: 0px;
}
#modal-controller {

}
#modal-controller #modal-next {
	position: absolute;
	top:50%;
	height: 30px;
	margin-top: -15px;
	right: 10px;
	z-index: 101;
}
#modal-controller #modal-prev {
	position: absolute;
	top:50%;
	height: 30px;
	margin-top: -15px;
	left: 10px;
	z-index: 101;
}
#modal-controller #modal-close {
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 101;
}
#modal-filter {
	width: 100%;
	height: 100%;
	top: 0px;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
}