@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input[type=text], input[type=submit], input[type=password] {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: bottom;
}

/* clearfix */
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.clearfix > * {
  float: left;
}

body {
  background-color: #000;
  min-width: 940px;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #fff;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px;
}
.bg_wrap {
  background-repeat: no-repeat;
  background-position: center 0px;
  background-image: url();
}
.bg_wrap.top {
  background-position: center 0px;
  background-image: url(../images/bg_earth.png);
  -moz-transition: 4s ease-in-out;
  -webkit-transition: 4s ease-in-out;
  -o-transition: 4s ease-in-out;
  -ms-transition: 4s ease-in-out;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
}
.bg_wrap.top.start {
  background-position: center 0px;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
}
.txt-description {
  font-size: 16px !important;
  color: #aaa;
}

.contents {
  width: 940px;
  margin: 0 auto;
}
.contents.special {
  padding-top: 150px;
}

a {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
  -moz-transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
}
a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

.ready {
  position: relative;
  top: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  -moz-transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
}
.ready.done {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
  top: 0px;
}

.contents_bottom {
  padding-top: 20px;
  margin-bottom: 150px;
  min-height: 1000px;
  text-align: center;
  background-image: url(../images/bg_contents_bottom.png);
  background-repeat: no-repeat;
  background-position: center 80px;
  position: relative;
}
.contents_bottom .wrap {
  height: 570px;
  margin-bottom: 80px;
}
.contents_bottom img_bottom {
  top: 399px;
  position: absolute;
  left: 360px;
}
.contents_bottom .description_2 {
  margin-top: 380px;
}
.contents_bottom .bnr {
 position: fixed;
  bottom: 30px;
  right: 0;
  z-index: 10;
}
.contents_bottom .bnr_close {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 1000;
}

.center {
  text-align: center;
}

.shape {
  width: 700px;
  margin: 0 auto 150px;
}
.shape #card {
  float: left;
  width: 340px;
  text-align: center;
  -ms-filter: "alpha(opacity=0)";
  -moz-transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
}
.shape #card .large {
  position: relative;
  line-height: 1;
  vertical-align: top;
  padding: 14px 0;
  color: black;
  margin-top: 0px;
  float: left;
  display: inline-block;
}
.shape #card .large .wrap {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 76px;
  position: absolute;
  color: #fff;
  font-size: 26px;
  margin-top: 24px;
}
.shape #card ul {
  display: inline-block;
  padding: 17px 5px 5px;
  width: 220px;
}
.shape #card li {
  display: inline-block;
  padding: 0px 5px;
  margin: 0px 0px 10px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -ms-filter: "alpha(opacity=30)";
  -moz-transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
}
.shape #card li img {
  width: 28px;
  height: auto;
}
.shape #card li.off {
  opacity: 0.3;
  filter: alpha(opacity=30);
  -ms-filter: "alpha(opacity=30)";
}
.shape #card li.on.done {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
}
.shape #bottle {
  float: right;
  width: 290px;
  display: inline-block;
  line-height: 1;
  vertical-align: top;
  padding: 0 0;
  -ms-filter: "alpha(opacity=0)";
  -moz-transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
}
.shape #bottle ul {
  width: 222px;
  padding: 25px 0px 9px;
  display: inline-block;
  margin-left: 5px;
}
.shape #bottle .large {
  position: relative;
  float: left;
  display: inline-block;
  padding: 0px 15px;
  margin-left: 0px;
}
.shape #bottle .large .wrap {
  top: 0px;
  left: 0px;
  width: 50px;
  height: 76px;
  position: absolute;
  color: #fff;
  font-size: 26px;
  margin-top: 24px;
}
.shape #bottle li {
  display: inline-block;
  padding: 0px 6px;
  margin: 0px 0px 10px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -ms-filter: "alpha(opacity=30)";
  -moz-transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
}
.shape #bottle li img {
  height: 33px;
  width: auto;
}
.shape #bottle li.off {
  opacity: 0.3;
  filter: alpha(opacity=30);
  -ms-filter: "alpha(opacity=30)";
}
.shape #bottle li.on.done {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
}

div#introduction_number .rulet_box img {
  height: 36px;
  width: auto;
}

div#warter_number_500 .rulet_box img {
  height: 36px;
  width: auto;
}

header {
  width: 940px;
  position: relative;
  margin: 0 auto;
}
header .left {
  position: absolute;
  top: 30px;
}
header .right {
  position: absolute;
  top: 28px;
  right: 0px;
}
header .right li {
  margin-right: 20px;
}

.border {
  padding: 20px 0px;
  border: solid 1px #3673e9;
}

.title_block {
  padding: 105px 105px 35px;
  margin-left: 2px;
}
.title_block h2 {
  margin-bottom: 34px;
}
.title_block p {
  margin-left: 4px;
}

.rulet_small {
  display: inline-block;
  margin-bottom: 40px;
}
.rulet_small h3 {
  margin-bottom: 16px;
}
.rulet_small .small .border {
  padding: 8px 0px;
  border: solid 1px #777;
}
.rulet_small .small .rulet_box {
  padding: 0px 20px;
  height: 28px;
}
.rulet_small .small .rulet_box p {
  width: auto;
  padding: 5px 3px;
}
.rulet_small .small .rulet_box p img {
  height: 20px;
}

#distribution_number {
  position: relative;
  top: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
}
#distribution_number.done {
  top: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
}

.resolve_block {
  position: relative;
  height: 254px;
  margin-bottom: 100px;
}
.resolve_block.medium {
  width: 700px;
  height: 127px;
  margin: 0 auto;
}
.resolve_block.medium .rulet_box {
  height: 60px;
  padding: 0px 24px;
}
.resolve_block.medium .rulet_box p {
  padding: 10px 4px;
}
.resolve_block.medium > div {
  display: inline-block;
}
.resolve_block #introduction_number {
  float: left;
  position: relative;
  top: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.resolve_block #introduction_number.done {
  top: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
}
.resolve_block #warter_number_500 {
  float: right;
  position: relative;
  top: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.resolve_block #warter_number_500.done {
  top: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
}
.resolve_block .titled_box {
  text-align: center;
}
.resolve_block .titled_box h3 {
  margin-bottom: 13px;
}
.resolve_block #warter_number {
  position: absolute;
  top: 4px;
  left: 71px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
}
.resolve_block #warter_number.done {
  top: 4px;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
}
.resolve_block #project_number {
  position: absolute;
  top: -1px;
  left: 509px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
}
.resolve_block #project_number.done {
  top: -1px;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
}
.resolve_block #project_number h3 {
  padding: 6px 5px 5px;
  margin-bottom: 7px;
}
.resolve_block .titled_box.medium {
  margin-bottom: 15px;
}
.resolve_block .titled_box.medium h3 {
  margin-bottom: 22px;
}
.resolve_block .titled_box.medium .rulet_box {
  height: 60px;
}
.resolve_block .titled_box.medium .border {
  border: solid 1px #777;
  display: inline-block;
  padding: 13px 0px;
}
.resolve_block .titled_box.medium .border p {
  height: 42px;
  width: auto;
}
.resolve_block .titled_box.medium .border p img {
  height: 100%;
  width: auto;
}

.country {
  text-align: center;
  margin-bottom: 140px;
}
.country ul {
  display: block;
}
.country ul li {
  display: inline-block;
  margin: 0px 6px 0px 5px;
}
.country h3 {
  margin-bottom: 20px;
}
.country h3 img {
  margin-right: 2px;
}

.rulet_box {
  padding: 0px 29px;
  height: 70px;
  overflow: hidden;
}
.rulet_box p {
  padding: 10px 5px;
  width: 40px;
  height: 50px;
  text-align: center;
}
.rulet_box li {
  position: relative;
  top: 0px;
}

.about_block {
  width: 100%;
  margin: 0px auto 0px;
}
.about_contents_wrap {
  height: 685px;
  width: 940px;
  margin: 0px auto 0px;
}

.about_block h2 {
  margin-bottom: 70px;
  padding: 40px 0;
  background-color: #1c1c1c;

}

.about_block .about_contents {
  background: url('../images/img-about-01.png') top right no-repeat;
  width: 776px;
  margin: auto;
  padding: 0 0 60px;
}

.about_block .about_contents .text {
  width: 470px;
  line-height: 2.6;
  padding-top: 50px;
  letter-spacing: 2.8px;
}

.about_block .about_movie {
  width: 776px;
  margin: auto;
}

.about_block .left {
  float: left;
}
.about_block .right {
  color: #fff;
  float: left;
  width: auto;
  padding-top: 0px;
  margin-left: 35px;
}
.about_block .right p {
  font-size: 13px;
  letter-spacing: 2.8px;
  line-height: 2.4;
  margin-top: 45px;
}

footer {
  width: 940px;
  margin: 0 auto;
  text-align: center;
}
footer ul {
  text-align: center;
  margin-bottom: 30px;
}
footer li {
  display: inline-block;
  margin: 10px;
}
footer .copy {
  text-align: center;
  margin-bottom: 30px;
}

.abs {
  position: absolute;
}
.abs.arrow {
  position: absolute;
  top: 85px;
  left: 392px;
}
.abs.arrow.middle {
  position: absolute;
  top: 60px;
  left: 345px;
}
.abs.font-hon {
  position: absolute;
  top: 103px;
  left: 300px;
}
.abs.font-sya {
  position: absolute;
  top: 60px;
  left: 172px;
}
.abs.font-mai {
  position: absolute;
  top: 103px;
  left: 300px;
}

.mod {
  margin-bottom: 150px; 
}
body .mod:last-child {
  margin-bottom: 100px;
}
.special_block h2 {
  margin-bottom: 35px;
}
.special_block h3 {
  margin-bottom: 30px;
}
.special_block p {
  margin-bottom: 50px;
  font-size: 13px;
}
.special_block p.description {
  margin-bottom: 50px;
}
.special_block div.link_img_large {
  margin-bottom: 110px;
}
.special_block .img_large {
  margin-bottom: 45px;
}
.special_block .paragrah_block {
  margin: 0 auto 140px;
  width: 940px;
  line-height: 26px;
  font-size: 14px;
}
.special_block .img {
  margin-bottom: 30px;
}
.mod-message-list .bottom {
  margin-bottom: 10px;
}
.mod-message-list .left {
  margin-left: 11px;
}
.mod-topics-list li{
  float: left;
  width: 280px;
  margin-right: 50px;
  text-align: left;
}
.mod-topics-list li:last-child {
  margin-right: 0;
}
.mod-topics-list img {
  margin-bottom: 20px;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}

/* 追記20160526 */
.mod-message-list li a:hover, .special-story-list li a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=100)";
}
/* 追記ここまで */

.mod-topics-list h4 {
    border: 1px solid #5e5e5e;
    color: #919191;
    display: inline;
    font-size: 12px;
    padding: 5px 10px;
    letter-spacing: 2px;
}

.future {
    margin: 20px 0;
    font-size: 12px;
    line-height: 1.7;
    color: #b6b6b6;
    letter-spacing: 2px;
}

.readmore {
    margin: 0 auto;
    width: 120px;
}

.participant {
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 60px 0px 20px;
}
.participant h3,
.participant_more h3 {
  margin-bottom: 55px;
}
.participant ul {
  width: 860px;
  margin: 0 auto;
  text-align: center;
}
.participant ul li {
    display: inline-block;
    margin: 0 27px 40px;
}

.transition_0 {
  -moz-transition: 1.3s ease-out;
  -webkit-transition: 1.3s ease-out;
  -o-transition: 1.3s ease-out;
  -ms-transition: 1.3s ease-out;
}

.transition_1 {
  -moz-transition: 1.5s ease-out;
  -webkit-transition: 1.5s ease-out;
  -o-transition: 1.5s ease-out;
  -ms-transition: 1.5s ease-out;
}

.transition_2 {
  -moz-transition: 1.9s ease-out;
  -webkit-transition: 1.9s ease-out;
  -o-transition: 1.9s ease-out;
  -ms-transition: 1.9s ease-out;
}

.transition_3 {
  -moz-transition: 2.7s ease-out;
  -webkit-transition: 2.7s ease-out;
  -o-transition: 2.7s ease-out;
  -ms-transition: 2.7s ease-out;
}

.transition_4 {
  -moz-transition: 3.8s ease-out;
  -webkit-transition: 3.8s ease-out;
  -o-transition: 3.8s ease-out;
  -ms-transition: 3.8s ease-out;
}

.transition_5 {
  -moz-transition: 4.6s ease-out;
  -webkit-transition: 4.6s ease-out;
  -o-transition: 4.6s ease-out;
  -ms-transition: 4.6s ease-out;
}

.transition_6 {
  -moz-transition: 4.4s ease-out;
  -webkit-transition: 4.4s ease-out;
  -o-transition: 4.4s ease-out;
  -ms-transition: 4.4s ease-out;
}

.transition_7 {
  -moz-transition: 2.8s ease-out;
  -webkit-transition: 2.8s ease-out;
  -o-transition: 2.8s ease-out;
  -ms-transition: 2.8s ease-out;
}

.transition_8 {
  -moz-transition: 2.8s ease-out;
  -webkit-transition: 2.8s ease-out;
  -o-transition: 2.8s ease-out;
  -ms-transition: 2.8s ease-out;
}

.shape #card .large .wrap,
.shape #bottle .large .wrap {
  font-size: 18px;
}

.contents p {
  font-size: 13px;
  line-height: 2;
  letter-spacing: 2px;
  color: #b6b6b6;

}

.contents .paragrah{
  margin-bottom: 45px;
}

.submod {
  margin-bottom: 150px; 
}
.submod h2 {
  margin-bottom: 35px;
}
.submod h3 {
  margin-bottom: 30px;
}

.submod p.description {
  margin-bottom: 50px;
}
.submod .img_large {
  margin-bottom: 45px;
}

.paragrah {
  margin-bottom: 45px;
}

.paragrah p {
    margin-bottom: 20px;
}

.paragrah p:last-child {
    margin-bottom: 0;
}

.subtitle {
  margin-bottom: 21px;
  color: #fff !important;
}

.mod-content h4 {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 70px;
}

.mod-content h3 {
    font-size: 34px;
    letter-spacing: 6px;
    margin-bottom: 40px;
}

.mod-content-text p {
    margin-bottom: 20px;
}

.last {
  margin-bottom: 115px;
}

.topics_paragrah {
  margin-bottom: 45px;
}

.mod-topics-block a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.mod-topics-block .img-block {
  text-align: center;
  height: 205px;
  margin-bottom: 20px;
}
.mod-topics-block .img-block img {
  max-width: 100%;
  max-height: 100%;
}

.movie_block .right p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
}

.contents p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
}

.contents .txt-description {
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 1px;
}

.special-story-list {
  width: 940px;
  margin: 0 auto 110px;
}
.special-story-list li:first-child {
  width: 100% !important;
  float: none !important;
  margin-bottom: 30px !important;
}
.special-story-list li {
  float: left;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.special-story-list li:nth-child(3n+1) {
  float: left;
  width: 300px;
  margin-right: 0px;
}
.special-story-list li:nth-child(3n+2) {
  clear: both;
}
.special-story-list img {
  width: 100%;
  height: auto;
}

.participant_btn {
  margin-top: 10px;
  margin-bottom: 5px;
}
.participant_more {
    width: 840px;
    /*background-color: #fff;*/
    text-align: center;
    padding: 60px 30px 10px 30px;
}
.participant_more li {
  width: 280px;
  float: left;
  margin-bottom: 50px;
}
.company_logo {
    height: 50px;
    line-height: 50px;
    margin-bottom: 12px;
}
.company_logo img {
    vertical-align: bottom;
    max-height: 100%;
}
.company_name {
  color: #444444;
}
.no_image {
  height: 78px;
  line-height: 78px;
  vertical-align: middle;
}


.contents.middle {
  width: 100%;
}
.water_block {

}

.water_block .head {
  background: #1c1c1c;
  width: 100%;
  text-align: center;
  font-size: 25px;
  line-height: 2;
  padding: 25px 0; 
}
.water_block .head img {
  vertical-align: middle;
}

.water_block .water_contents {
  width: 100%;
  position: relative;
  min-height: 480px!important;
} 

.water_block .water_contents .text-area {
  position: absolute;
  width: 45%;
  right: 0;
  top: 60px;
}

.water_block .water_contents .text-area p {
  color: #000;
}

.water_block .water_contents .text-area .title {
  padding-top: 30px;
  font-size: 27px;
}

.water_block .water_contents .text-area .text {
  width: 420px;
  padding-top: 30px;
  line-height: 2.2;
  letter-spacing: 2.8px;
}
.digital .rulet_box {
  padding: 0px 22px;
}
.digital .rulet_box li {
  padding: 0 2px;
}
.rulet_box.digital.mini {
  padding: 0px 15px;
  height: auto;
  position: relative;
}
.rulet_box.digital.mini img{
  max-height: 100%;
  max-width: 100%;
}
.rulet_box.digital.mini p{
  width: 22px;
  height: 25px;
  padding: 0px;
}
.digital .rulet_box.min li {
  padding: 0px;
}

.digital .right {
  position: relative;
}

.contents .resolve_block #project_number .dot {
  top: 112px;
  right: 130px;
}
.resolve_block #warter_number h3 {
   margin-bottom: 18px;
}
.resolve_block #project_number h3 {
   margin-bottom: 11px;
}
.resolve_block #warter_number .icon {
  position: absolute;
  top: 0px;
  left: -35px;
}
.resolve_block #warter_number .unit {
  position: absolute;
  top: 23px;
  right: 15px;
}
.resolve_block #project_number .icon {
  position: absolute;
  top: 0px;
  left: -35px;
}
.resolve_block #project_number .unit {
  position: absolute;
  top: 23px;
  right: 15px;
}
.resolve_block #project_number .border.white {
  padding: 12px 20px 12px 5px;
}
.border.white {
  border: solid 1px #666;
  padding: 12px 35px 12px 5px;
}
.float-r {
  float: right;
}
.result_num_box {
  position: absolute;
  top: 0px;
}
.result_num_box.ready {
  opacity: 0;
}

#companies li a {
  text-decoration: none;
  color: #444;
}
#companies li:hover a {
  text-decoration: underline;
}

.resolve_block .lt {
    position: absolute;
    top: 96px;
    left: -40px;
}
.resolve_block .last-update{
    position: absolute;
    top: 270px;
    width: 100%;
}
.resolve_block .last-update p{
    width: 370px;
    margin: 0 auto;
    text-align: right;
    font-size: 10px;
}
.participant {
  position: relative;
}
.participant img {
  max-height: 45px;
  vertical-align: middle;　
}
.participant .explanation {
    /*position: absolute;*/
    top: 480px;
    color: #333;
    font-size: 10px;
    text-align: left;
    line-height: 1.4;
    width: 100%;
    margin: 0 auto;
}

.participant .explanation p{
  position: relative;
    width: 950px;
    margin: 0 auto;
    text-align: right;
}
.participant .explanation span{
    /*position: absolute;*/
    width: 320px;
    /*right: -70px;*/
    text-align: left;
    display: inline-block;
}

.annotation {
    padding-top: 20px;
    color: #333;
    font-size: 10px;
    float: right;
    text-align: left;
}
.no_image {
    height: 40px;
    line-height: 1.3;
    text-align: left;
    padding: 10px 20px;
    vertical-align: top;
}
.participant_more li {
    width: 240px;
    float: left;
    /* margin-bottom: 50px; */
    /* margin-right: 40px; */
    margin-bottom: 20px;
    font-size: 14px;
    display: inline-block;
}
.participant_more li:nth-child(3n+1) {
  clear: both;
}
.participant_more ul.detail_list {
    list-style: none;
    text-align: center;
    width: 720px;
    margin: 0 auto;
}
