@charset "UTF-8";
body {
  overflow: hidden;
  width: 100%;
}

.order-sp {
  padding: 30px 0 0 0;
}
.order-sp h2 {
  width: 220px;
  height: 48px;
  background: url(/order/img/title01.png) no-repeat;
  background-size: contain;
  margin: 0 auto;
  text-indent: 100%;
  overflow: hidden;
}
.order-sp h3 {
  font-family: "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #000;
  padding-top: 20px;
  font-size: 28px;
}
.order-sp .head {
  margin-top: 30px;
}
.order-sp .head .order_title {
  font-family: "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  text-align: left;
  font-size: 18px;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.order-sp .select-design img {
  width: 100%;
}
.order-sp dt, .order-sp dd {
  font-size: 14px;
}
.order-sp dt {
  margin-top: 30px;
  font-weight: bold;
}
.order-sp dd {
  margin-top: 5px;
}
.order-sp input[type="text"] {
  background-color: #eee;
  border: 0;
  padding: 10px;
  font-size: 14px;
}
.order-sp br + input[type="text"] {
  margin-top: 10px;
}
.order-sp .input_001 {
  width: 100%;
  box-sizing: border-box;
}
.order-sp select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #eee;
  border: 0;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
}
.order-sp select:first-child {
  margin-top: 0;
}
.order-sp option {
  font-size: 13px;
}
.order-sp textarea {
  background-color: #eee;
  border: 0;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
}
.order-sp .btn_black input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 20px 0;
  width: 100%;
  text-decoration: none;
  background-image: url(../images/icon-button-arrow.png);
  background-repeat: no-repeat;
  background-position: 350px center;
}
.order-sp .btn_black.col2 {
  overflow: hidden;
}
.order-sp .btn_black.col2 a {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 20px 0;
  width: 100%;
  text-decoration: none;
  background-image: url(../images/icon-button-arrow-left.png);
  background-repeat: no-repeat;
  background-position: 20px center;
  text-align: center;
}
.order-sp .btn_black.col2 a, .order-sp .btn_black.col2 input {
  width: 49%;
}
.order-sp .btn_black.col2 a {
  float: left;
}
.order-sp .btn_black.col2 input {
  background-image: url(../images/icon-button-arrow.png);
  background-repeat: no-repeat;
  background-position: 160px center;
  float: right;
}

.order-sp .errmsg{
  color:#ff0000;
}
.order-sp .share-sns {
  margin: 10px;
  padding: 21px 21px;
  border: 2px solid #cdcecd;
}
.order-sp .share-sns p {
  font-size: 22px;
}
.order-sp .share-sns p.title {
  font-weight: bold;
}
.order-sp .share-sns p.txt-share {
  margin: 20px 0 5px;
}
.order-sp .share-sns .share-btns {
  overflow: hidden;
  text-align: center;
  letter-spacing: -0.4em;
}
.order-sp .share-sns .share-btns li {
  display: inline-block;
  letter-spacing: normal;
}
.order-sp .share-sns .share-btns li:first-child {
  margin-right: 10px;
}
.order-sp .share-sns .share-btns li img {
  width: 43px;
  height: 43px;
}

.order-sp .complate_text {
  padding: 70px 10px;
}
.order-sp .complate_text .thanks {
  font-size: 22px;
  font-family: "Times New Roman", "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.order-sp .complate_text .orderid {
  padding-top: 30px;
  font-size: 16px;
}
.order-sp .complate_text .text {
  padding-top: 30px;
  line-height: 1.6;
}
.order-sp .complate_text .text a {
  text-decoration: underline;
}
.order-sp .form-pattern-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.order-sp .form-pattern-table td {
  padding: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  vertical-align: middle;
}
.order-sp .inline-block {
  display: block;
}

/* order card */
.card-template {
  width: 100%;
  /*display: none;*/
}

.card-template dd {
  position: relative;
}

.card-slider {
  /*position: absolute;*/
  /*right: 0;*/
  /*top: 0;*/
}

.card-template li {
  float: left;
}

.card-template li div.selected {
  display: none;
  position: absolute;
  height: 100%;
  line-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.1);
  color: #fff;
}
.selected span {
  line-height: 400px;
  font-size: 36px;
  -moz-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  -webkit-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  -ms-text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.mintyou {
  display: none;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.gosick ,
.mintyou {
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
}

.card-template li p {
  margin: 10px auto;
}
.card-template li img {
  width: 96%;
}

/*slide*/

.bx-wrapper {
  margin-bottom: 20px !important;
}
.bx-wrapper img {
  cursor: pointer;
  display: inline-block !important;
}

.bx-wrapper .bx-next {
  right: -18px !important;
}

.bx-wrapper .bx-prev {
  left: -18px !important;
}
.bx-wrapper .bx-viewport {
  left: 0 !important;
  border: 1px solid #ccc !important;
  box-shadow: none !important;
}
/*sp*/
.select-type {
  width: 100%;
  margin-bottom: 10px;
}
.select-type li {
  width: 49%;
  float: left;
  box-sizing: border-box;
  border: 1px solid #000000;
  text-align: center;
  padding: 10px 10px;
  cursor: pointer;
}
.select-type li:first-child {
  margin-right: 2%;
}

.select-type .now-type {
  color: #fff;
  background: #000;
}
/* order card */