html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#subNav02 li a,body.recruit .pageTtl10 h2,body.aboutus .sec1 h2,body.identity .sec1 h2,body.message #kv03 p,body.message #kv03 h3,#subNav li a,#gNav li a, #gNav li span, #gNav .gNavSub02 a,#gNav .gNavSub a, footer .copyright, #anim .linkMaterial, #skip, body.material .summary h3, body.material .summary .txt, body.material .summary2 h3, body.material .summary2 .txt1, body.material .summary2 .txt2, body.material .materials h4, #exp1 section span, #exp1 section h4, #exp2 h4, #exp3 h3, #exp3 h4, body.news .pageTtl h2, body.factory .pageTtl h2, body.factory .about h3, body.contact .pageTtl h2, body.contact h3, body.aboutus .pageTtl h2, body.aboutus .sec h3, body.recruit .pageTtl h2, body.recruit .pageTtl02 h2, body.recruit .sec h3, body.identity .pageTtl h2, body.identity .sections h3, body.identity .sections p, body.message .pageTtl h2, body.message h3, body.recruit .photo,body.recruit .pageTtl03 h2,body.privacy .pageTtl h2, body.privacy h3,footer .icon01,footer .icon02,footer .icon03,body.products .pageTtl h2 {
  text-indent: -9999px;
  overflow: hidden;
}

body.material .materials, #exp1 .wrapper, #exp2, #exp3, body.news .data article, .tabWrap, #adoption .wrapper, body.contact #body .wrapper, body.contact #form dl, body.aboutus .sec, body.aboutus .sec5, body.aboutus .sec6, body.aboutus .sec7, body.recruit .sec, body.recruit .sec5, body.recruit .sec6, body.recruit .sec7, body.identity #body .wrapper, body.message #body .wrapper,body.privacy #body .wrapper {
  overflow: hidden;
  *zoom: 1;
}

.cf01:before,.cf01:after {
    content: "";
    display: table;
}

.cf01:after {
    clear: both;
}

.cf01 {
    zoom: 1;
}

.pr01{position:relative;top:0;left:0;}


/* common
-------------------------*/
body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  text-align: center;
  -webkit-text-size-adjust: none;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.wrapper {
  text-align: left;
  width: 940px;
  margin: 0 auto;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, p, li {
  max-height: 100%;
}

/* header
-------------------------*/
header {
  background: #000;
  border-bottom:1px solid #3f3f3f;
}
header .wrapper {
  width: 940px;
  height: 73px;
  position: relative;
}
header .logo {
  position: absolute;
  top: 13px;
}

/*#header {
  z-index: 99;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}*/

#lang01{height:50px;overflow:hidden;width:940px;margin:0 auto;position:relative;top:0;left:0;}
#lang02{text-align:right;}

#ext01-01{position:absolute;top:18px;left:569px;}
#ext01-02{position:absolute;top:18px;left:858px;}

#gNav {
  height: 73px;
  position: absolute;
  top: 0px;
  left: 248px;/*329*/
  width: 692px;/*617*/
}
#gNav li {
  float: left;
}
#gNav li a, #gNav li span {
  cursor: pointer;
  display: block;
  height: 73px;
  background: url(../img/nav_header.png) no-repeat;
}
#gNav .nav1 {
  width: 87px;/*94*/
}
#gNav .nav1 a {
  background-position: 0px 0px;
}
#gNav .nav1 a:hover, #gNav .nav1 a.cur {
  background-position: 0px -73px;
}
#gNav .nav2 {
  width: 97px;/*105*/
}
#gNav .nav2 a {
  background-position: -205px 0px;
}
#gNav .nav2 a:hover, #gNav .nav2 a.cur {
  background-position: -205px -73px;
}
#gNav .nav3 {
  width: 107px;/*115*/
}
#gNav .nav3 a {
  background-position: -302px 0px;
}
#gNav .nav3 a:hover, #gNav .nav3 a.cur {
  background-position: -302px -73px;
}
#gNav .nav4 {
  width: 111px;/*119*/
}
#gNav .nav4 a {
  background-position: -409px 0px;
}
#gNav .nav4 a:hover, #gNav .nav4 a.cur {
  background-position: -409px -73px;
}
#gNav .nav5 {
  width: 77px;/*86*/
}
#gNav .nav5 a {
  background-position: -520px 0px;
}
#gNav .nav5 a:hover, #gNav .nav5 a.cur {
  background-position: -520px -73px;
}
#gNav .nav6 {
  width: 95px;/*98*/
}
#gNav .nav6 a {
  background-position: -597px 0px;
}
#gNav .nav6 a:hover, #gNav .nav6 a.cur {
  background-position: -597px -73px;
}
#gNav .nav7 {
  width: 118px;
}
#gNav .nav7 a {
  background-position: -87px 0px;
}
#gNav .nav7 a:hover, #gNav .nav7 a.cur {
  background-position: -87px -73px;
}

#subNav{border-bottom:1px solid #000;height:19px;}
#subNav01{width:940px;margin: 0 auto;}
#subNav ul{height:19px;  position: absolute;  top: 0px;  left: 640px;width:310px;}/*555 383*/
#subNav ul li{float:left;}
#subNav ul li a{cursor:pointer;display: block;height:19px;  background: url(../company/img/subnav01.gif) no-repeat;}

#subNav .nav1 {width: 97px;}
#subNav .nav1 a {background-position: 0px 0px;}
#subNav .nav1 a:hover, #subNav .nav1 a.cur { background-position: 0px -19px;}

#subNav .nav2 {width: 105px;}
#subNav .nav2 a {background-position: -97px 0px;}
#subNav .nav2 a:hover, #subNav .nav2 a.cur { background-position: -97px -19px;}

#subNav .nav3 {width: 107px;}
#subNav .nav3 a {background-position: -202px 0px;}
#subNav .nav3 a:hover, #subNav .nav3 a.cur { background-position: -202px -19px;}

#subNav .nav4 {width: 74px;}
#subNav .nav4 a {background-position: -309px 0px;}
#subNav .nav4 a:hover, #subNav .nav4 a.cur { background-position: -309px -19px;}

#subNav02{border-bottom:1px solid #000;height:19px;margin-bottom:70px;}
#subNav02-01{width:940px;margin: 0 auto;}
#subNav02 ul{height:19px;  position: absolute;  top: 0px;  left: 723px;width:215px;}
#subNav02 ul li{float:left;}
#subNav02 ul li a{cursor:pointer;display: block;height:19px;  background: url(../news/img/subnav01.gif) no-repeat;}

#subNav02 .nav1 {width: 65px;}
#subNav02 .nav1 a {background-position: 0px 0px;}
#subNav02 .nav1 a:hover, #subNav02 .nav1 a.cur { background-position: 0px -19px;}

#subNav02 .nav2 {width: 87px;}
#subNav02 .nav2 a {background-position: -65px 0px;}
#subNav02 .nav2 a:hover, #subNav02 .nav2 a.cur { background-position: -65px -19px;}

#subNav02 .nav3 {width: 63px;}
#subNav02 .nav3 a {background-position: -152px 0px;}
#subNav02 .nav3 a:hover, #subNav02 .nav3 a.cur { background-position: -152px -19px;}


/* footer
-------------------------*/
footer {
  border-top: 1px solid #ccc;
  padding: 30px 0 30px;
}
footer ul{width:210px;margin:0 auto 30px auto;}
footer ul li{float:left;width:50px;margin:0 10px;}
footer .icon01 {
  display:block;
  height: 50px;
  background: url(../img/icon_twitter.png) no-repeat center center;
}
footer .icon02 {
display:block;
  height: 50px;
  background: url(../img/icon_facebook.png) no-repeat center center;
}
footer .icon03 {
display:block;
  height: 50px;
  background: url(../img/icon_youtube.png) no-repeat center center;
}
footer .copyright {
display:block;
  height: 14px;
  background: url(../img/txt_copyright.gif) no-repeat center center;
}

footer .txtLink01{text-align:center;padding:0 0 15px 0;}/*30*/
footer .txtLink01 a{display:inline;margin-right:30px;font-size:70%;}/*85*/
footer .txtLink01 a:last-child{display:inline;margin-right:0px;font-size:70%;}/*85*/


/* common element
-------------------------*/
.pageTtl {
  border-bottom: 1px solid #ccc;
  padding: 88px 0 62px;/*172*/
}

html {
  height: 100%;
}

/*body.top {
  height: 100%;
  overflow: hidden;
  background: #000;
}
body.top header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  z-index: 100;
}
body.top footer {
  border-top: none;
  padding: 0 0 10px;
}
body.top footer .copyright {
  margin-top: 0px;
  background: url(../img/txt_copyright_top.gif) no-repeat center center;
  position: relative;
  opacity: 0;
}
body.top footer .icon01,
body.top footer .icon02,
body.top footer .icon03 {
  opacity: 0;
}*/
#body {
  font-size: 14px;
}


body.material .wrap1 {
  margin-bottom: 70px;
}
body.material #body {
  padding-top: 157px;
  overflow-x:hidden;
}
body.material h2 {
  margin-bottom: 70px;
}
body.material .summary {
  height: 480px;
  position: relative;
 /* background: url(../material/img/stone01.jpg) no-repeat 597px 12px;*/
}
body.material .summary h3 {
  /*float: left;*//*right*/
  position:absolute;
  top:26px;
  left:0;
  width: 487px;/*36*/
  height: 35px;/*265*/
  background: url(../material/img/title01.gif) no-repeat;
}
body.material .summary .txt {
  /*float: left;*//*right*/
  position:absolute;
  top:92px;
  left:2px;
  width: 408px;/*287*/
  height: 289px;/*404*/
  /*margin-right: 28px;*/
  
  background: url(../material/img/copy01.gif) no-repeat;
}
body.material .summary .photo {
  right:-86px;/*left 319*/
  top: 10px;/*77*/
  position: absolute;
  z-index: -1;
}
body.material .summary2 {
  height: 480px;
  position: relative;
}
body.material .summary2 h3 {
  float: right;
  width: 36px;
  height: 265px;
  margin-right: 93px;
  background: url(../material/img/title01.gif) no-repeat;
}
body.material .summary2 .txt1 {
  float: right;
  width: 138px;
  height: 404px;
  margin-right: 50px;
  background: url(../material/img/copy01-1.gif) no-repeat;
}
body.material .summary2 .txt2 {
  float: left;
  width: 197px;
  height: 404px;
  margin-left: 109px;
  background: url(../material/img/copy01-2.gif) no-repeat;
}
body.material .summary2 .photo {
  left: 354px;
  top: 77px;
  position: absolute;
  z-index: -1;
}
body.material .materials {
  position: relative;
  z-index: 10;
}
body.material .materials h4 {
  height: 44px;
  margin-bottom: 25px;
}
body.material .materials p {
  line-height: 24px;
}
body.material .materials .paper, body.material .materials .plastic {
  width: 435px;
}
body.material .materials .paper {
  float: left;
  background: url(../material/img/title02-01.gif) no-repeat;
}
body.material .materials .plastic {
  float: right;
  background: url(../material/img/title02-02.gif) no-repeat;
}


#exp1 {
  position: relative;
  margin-bottom: 73px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#exp1 .line {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 315px;
  z-index:-1;
  border-bottom: 1px solid #ccc;
}
#exp1 .col1 {
  float: left;
  width: 469px;
  border-right: 1px solid #ccc;
}
#exp1 .col2 {
  float: left;
  width: 470px;
  background: #fff;
}
#exp1 section span {
  display: block;
  height: 16px;
  margin-bottom: 20px;
}
#exp1 section h4 {
  height: 28px;
  margin-bottom: 30px;
}
#exp1 section p {
  font-size: 14px;
  line-height: 24px;
}
#exp1 section .note {
  font-size: 11px;
  line-height: 24px;
  margin-top: 20px;
}
#exp1 .sect1 {
  padding: 50px 34px 50px 0;/*40*/
}
#exp1 .sect1 span {
  background: url(../material/img/title03.gif) no-repeat;
}
#exp1 .sect1 h4 {
  background: url(../material/img/title03-01.gif) no-repeat;
}
#exp1 .sect2 {
  padding: 50px 34px 50px 0;/*40*/
}
#exp1 .sect2 span {
  background: url(../material/img/title03.gif) no-repeat;
}
#exp1 .sect2 h4 {
  background: url(../material/img/title03-02.gif) no-repeat;
}
#exp1 .sect3 {
  float: left;
  padding: 50px 0px 0px 35px;
}
#exp1 .sect3 span {
  background: url(../material/img/title03.gif) no-repeat;
  width: 100%;
}
#exp1 .sect3 h4 {
  background: url(../material/img/title03-03.gif) no-repeat;
  width: 100%;
}


#exp2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}
#exp2 .col1 {
  width: 470px;
  float: left;
}
#exp2 .col2 {
  width: 435px;
  margin-left: 35px;
  float: left;
}
#exp2 section {
  width: 435px;/*429*/
  margin-bottom: 45px;
}
#exp2 h4 {
  height: 28px;
  margin-bottom: 30px;
}
#exp2 p {
  font-size: 14px;
  line-height: 24px;
}
#exp2 .sect4 h4 {
  background: url(../material/img/title03-04.gif) no-repeat;
}
#exp2 .sect5 h4 {
  background: url(../material/img/title03-05.gif) no-repeat;
}
#exp2 .sect6 h4 {
  background: url(../material/img/title03-06.gif) no-repeat;
}
#exp2 .sect7 h4 {
  background: url(../material/img/title03-07.gif) no-repeat;
}


#exp3 {
  padding-bottom: 40px;
}
#exp3 .wrapper {
  padding-top: 75px;
}
#exp3 h3 {
  background: url(../material/img/title04-01.gif) no-repeat;
  height: 28px;
    margin-bottom: 30px;/**/
}
#exp3 h4 {
  height: 22px;
  margin-bottom: 17px;
}
#exp3 p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  margin-bottom: 15px;
}
#exp3 section {
  width: 278px;
  float: left;
  padding-right: 25px;
  margin-right: 26px;
  border-right: 1px solid #ccc;
  padding-top: 0px;/*30*/
}
#exp3 section.sect10 {
  border: none;
  padding-right: 0;
  margin-right: 0;
}
#exp3 .sect8 h4 {
  background: url(../material/img/copy04-01.gif) no-repeat;
}
#exp3 .sect9 h4 {
  background: url(../material/img/copy04-02.gif) no-repeat;
}
#exp3 .sect10 h4 {
  background: url(../material/img/copy04-03.gif) no-repeat;
}


#pdfDl {
  border-top: 1px solid #ccc;
  padding: 30px 0 30px;
}
#pdfDl img {
  margin: 0 auto;
}


body.news #body .wrapper {
  width: 780px;
}
body.news .pageTtl {
  border-bottom: none;
}
body.news .pageTtl h2 {
  width: 206px;
  height: 45px;/**/
  background: url(../news/img/title01.gif) no-repeat;
  margin: 0 auto;
}
body.news .pageTtl h2.media01 {
  width: 264px;
  height: 52px;/*45*/
  background: url(../news/media/img/title01.gif) no-repeat;
  margin: 0 auto;
}
body.news .data {
  padding-top: 0px;/*73*/
}
body.news .data article {
  padding-bottom: 70px;/*75*/
}
body.news .data article img {
  float: left;
  margin: 7px 35px 0px 0;/*0  20*/
}
body.news .data article p {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0px;/*10*/
}
body.news .data article p.text01 {
  margin-bottom: 11px;/**/
}
body.news .data article p.text02 {
  margin-bottom: -8px;/**/
}
body.news .data article .youtube01 {
 text-align:center;
 padding:7px 0 0 0;
  margin:0 auto;
}
body.news .data h3 {
  font-size: 20px;
  text-align: center;
  line-height:30px;/**/
  margin-bottom: 17px;/*32*/
}
body.news .data .date {
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  line-height: 1;/**/
  padding-bottom: 28px;/*5*/
  margin-bottom: 30px;/*25*/
}


.tabWrap {
  position: relative;
  margin-top: -26px;
}

#data2 {
  display: none;
}

#data3 {
  display: none;
}

#tab {
  float: left;
  left: 50%;
  position: relative;
}
#tab li {
  position: relative;
  left: -50%;
  float: left;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  border-color: #ccc;
}
#tab li a {
  background: #fff;
  display: block;
  width: 138px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
}
#tab li a.cur {
  background: #eee;
}
#tab li.last {
  border-right: 1px solid #ccc;
}

/*products*/
body.products .pageTtl {
  border-bottom: none;
}
body.products .pageTtl h2 {
  width: 425px;
  height: 46px;
  background: url(../products/img/title01.png) no-repeat;
  margin: 0 auto;
}
body.products .prd01{padding-bottom:80px;}
body.products .prd01 p{font-size: 16px;line-height: 32px;}
body.products h3{text-align:center;padding-bottom:72px;}
body.products h4{padding-bottom:25px;}

body.products .prd02{padding-bottom:60px;}
body.products .prd02-01{float:left;width:651px;}
body.products .prd02-02{padding-bottom:20px;}
body.products .prd02-02 p{font-size: 14px;line-height: 32px;}/*24*/
body.products .prd02-03{margin-right:20px;}
body.products .prd02-04{float:left;width:288px;}
body.products .prd02-05{padding:58px 0 0 73px;}

body.products .prd03-05{padding:41px 0 0 73px;}

body.products .prd04{padding-bottom:45px;}

body.products .prd04-05{padding:53px 0 0 45px;}

body.products .prd05{border:1px solid #ccc;margin-bottom:100px;padding:37px 0 30px 0;}
body.products .prd05-01{float:left;width:259px;text-align:center;}
body.products .prd05-02{float:left;width:499px;}
body.products .prd05-02 p{font-size: 14px;line-height: 22px;}
body.products .prd05-03{float:left;width:160px;}
body.products .prd05-04{padding-top:5px;}

body.products .prd06{padding-bottom:110px;}
body.products .prd06-05{padding:54px 0 0 50px;}
/*factory*/
body.factory .pageTtl {
  border-bottom: none;
}
body.factory .pageTtl h2 {
  width: 623px;
  height: 58px;
  background: url(../factory/img/title01.gif) no-repeat;
  margin: 0 auto;
}
body.factory .photo {
  height: 545px;
  background: url(../factory/img/image01.jpg) no-repeat center center;
  margin-bottom: 50px;
}
body.factory .about {
  margin-bottom: 80px;
}
body.factory .about h3 {
  background: url(../factory/img/title02.gif) no-repeat center center;
  width: 204px;
  height: 27px;
  margin: 0 auto 22px;
}
body.factory .about p {
  font-size: 16px;
  line-height: 32px;
}
body.factory .about table {
  width: 100%;
  margin-top: 30px;
  table-layout: fixed;
  border-top: 1px solid #ccc;
}
body.factory .about table td, body.factory .about table th {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  font-size: 14px;
}
body.factory .about table th {
  width: 98px;
  background: #eee;
  text-align: center;
}


#adoption {
  background: #eee;
}
#adoption .wrapper {
  width: 780px;
  padding: 40px 0 0px;
}
#adoption h2 {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 20px;
}
#adoption .img {
  float: left;
  margin-top:7px;/**/
}
#adoption .txt {
  width: 455px;
  float: right;
}
#adoption .txt p {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 2em;
}


body.contact #body .wrapper {
  width: 820px;
}
body.contact .pageTtl {
  border-bottom: none;
}
body.contact .pageTtl h2 {
  width: 371px;
  height: 58px;
  background: url(../form/contact_lime-x/contact/img/title01.gif) no-repeat;
  margin: 0 auto;
}
body.contact .note {
  text-align: right;
  margin: -70px auto 60px;
  width: 795px;
}
body.contact h3 {
  background: url(../form/contact_lime-x/contact/img/title02.gif) no-repeat;
  width: 36px;
  height: 232px;
  float: left;
}
body.contact #form {
  width: 720px;
  float: right;
}
body.contact #form dl {
  padding-bottom: 100px;
}
body.contact #form dl dt {
  float: left;
  line-height: 1.5;
  clear: both;
}
body.contact #form dl dd {
  width: 540px;
  padding: 0 20px 32px 0;
  float: right;
}
body.contact #form dl dd label {
  margin-right: 20px;
}
body.contact #form dl dd.btn {
  width: 350px;
  padding-left: 190px;
}
body.contact #form select {
  background: #f6f6f6 url(../form/contact_lime-x/contact/img/bg_select.png) no-repeat 285px center;
  border: 1px solid #dcdcdc;
  width: 290px;
  padding: 5px 0 5px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
}
body.contact #form .input_001, body.contact #form .post {
  border: none;
  background: #eee;
  font-size: 16px;
  padding: 8px 5px;
  width: 530px;
}
body.contact #form textarea.input_001 {
  height: 200px;
}
body.contact #form .agree01{padding:20px 0;line-height:1.5;}
body.contact #form .agree01 a{text-decoration:underline;}
body.contact #form .agree02{padding:0px 0;line-height:1.5;text-align:center;}

body.aboutus #body .wrapper {
  width: 945px;
}
body.aboutus .pageTtl {
  border-bottom: none;
}
body.aboutus .pageTtl h2 {
  width: 392px;/*195*/
  height: 45px;/*76*/
  background: url(../company/img/title01.gif) no-repeat;
  margin: 0 auto;
}

body.aboutus .sec h3 {
  width: 36px;
  float: left;
}
body.aboutus .sec1 h2 {
  background: url(../company/aboutus/img/title01.gif) no-repeat center center;
  height:60px;
  margin-bottom:70px;/*40*/
  margin-top:79px;
}

body.aboutus .sec .data p {
  line-height: 28px;
  font-size: 14px;
}
body.aboutus table {
  width: 100%;
  table-layout: fixed;
  border-top: 1px solid #ccc;
}
body.aboutus table td, body.aboutus table th {
  border-bottom: 1px solid #ccc;
  padding: 17px;
  font-size: 14px;
}
body.aboutus table th {
  width: 120px;
  background: #eee;
  text-align: center;
}
body.aboutus .sec1 h3 {
  height: 169px;
  background: url(../company/aboutus/img/title02-01.gif) no-repeat;
  margin-left: 90px;
}
body.aboutus .sec1, body.aboutus .sec4 {
  margin-bottom: 75px;
}
body.aboutus .sec1 .data, body.aboutus .sec4 .data {
  width: 780px;
  float: right;
}
body.aboutus .sec2, body.aboutus .sec3 {
  width: 470px;
  margin-bottom: 75px;
}
body.aboutus .sec2 .data, body.aboutus .sec3 .data {
  width: 305px;
  float: right;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  min-height: 170px;
}
body.aboutus .sec2 .data p, body.aboutus .sec3 .data p {
  padding: 15px 0;
}
body.aboutus .sec2 {
  float: left;
}
body.aboutus .sec2 h3 {
  height: 173px;
  background: url(../company/aboutus/img/title02-02.gif) no-repeat;
  margin-left: 90px;
}
body.aboutus .sec3 {
  width: 400px;
  float: right;
}
body.aboutus .sec3 h3 {
  height: 173px;
  background: url(../company/aboutus/img/title02-03.gif) no-repeat;
}
body.aboutus .sec3 .data {
  width: 325px;
}
body.aboutus .sec4 {
  clear: both;
}
body.aboutus .sec4 h3 {
  height: 173px;
  background: url(../company/aboutus/img/title02-04.gif) no-repeat;
  margin-left: 90px;
}
body.aboutus .sec5 {
  margin-bottom: 50px;
}
body.aboutus .sec5 h3 {
  height: 173px;
  background: url(../company/aboutus/img/title02-05.gif) no-repeat;
  margin-left: 90px;
}
body.aboutus .sec5 .data {
  width: 780px;
  float: right;
}
body.aboutus .sec5 .data p {
  margin-bottom: 15px;
}
body.aboutus .sec5 .data h4 {
  font-size: 16px;
  margin-bottom: 5px;
}
body.aboutus .sec6 {
  margin-bottom: 70px;
}
body.aboutus .sec6 h3 {
  height: 173px;
  background: url(../company/aboutus/img/title02-06.gif) no-repeat;
  margin-left: 90px;
}
body.aboutus .sec6 .data {
  width: 780px;
  float: right;
  border-top: 1px solid #ccc;
}
body.aboutus .sec6 .data p {
  border-bottom: 1px solid #ccc;
  padding: 19px 0;
}
body.aboutus .sec7 {
  margin-bottom: 80px;
}
body.aboutus .sec7 h3 {
  height: 173px;
  background: url(../company/aboutus/img/title02-07.gif) no-repeat;
  margin-left: 90px;
}
body.aboutus .sec7 .data {
  width: 780px;
  float: right;
  border-top: 1px solid #ccc;
}
body.aboutus .sec7 .data p {
  border-bottom: 1px solid #ccc;
  padding: 19px 0;
}


#map {
  margin-bottom: 50px;
}


body.identity #body .wrapper {
  width: 820px;
}
body.identity .pageTtl {
  border-bottom: none;
}
body.identity .pageTtl h2 {
  width: 392px;/*596*/
  height: 45px;/*46*/
  background: url(../company/img/title01.gif) no-repeat;
  margin: 0 auto;
}
body.identity .sections {
  width: 580px;
  margin: 0 auto 80px;
  text-align: left;
}
body.identity .sections .sec {
  margin-bottom: 62px;
}
body.identity .sections h3 {
  height: 22px;
  margin-bottom: 30px;
}

body.identity .sec1 h2 {
  background: url(../company/identity/img/title01.gif) no-repeat center center;
  height:35px;
  margin-bottom:70px;/*40*/
  margin-top:79px;
}

body.identity .sec1 h3 {
  background: url(../company/identity/img/title02.gif) no-repeat center center;
}
body.identity .sec1 p {
  background: url(../company/identity/img/copy02.gif) no-repeat center center;
  height: 23px;
}
body.identity .sec2 h3 {
  background: url(../company/identity/img/title03.gif) no-repeat center center;
}
body.identity .sec2 p {
  background: url(../company/identity/img/copy03.gif) no-repeat center center;
  height: 61px;
}
body.identity .sec3 {
  font-size: 16px;
  line-height: 28px;
}
body.identity .sec3 h3 {
  background: url(../company/identity/img/title04.gif) no-repeat center center;
}
body.identity .sec3 li {
  padding: 0 0 23px 30px;
  width: 600px;
  margin-right: -50px;
}
body.identity .sec3 li.li1 {
  background: url(../company/identity/img/num01.gif) no-repeat left 5px;
}
body.identity .sec3 li.li2 {
  background: url(../company/identity/img/num02.gif) no-repeat left 5px;
}
body.identity .sec3 li.li3 {
  background: url(../company/identity/img/num03.gif) no-repeat left 5px;
}
body.identity .sec3 li.li4 {
  background: url(../company/identity/img/num04.gif) no-repeat left 5px;
}
body.identity .sec3 li.li5 {
  background: url(../company/identity/img/num05.gif) no-repeat left 5px;
}


/*body.message #body .wrapper {
  width: 820px;
}*/
body.message .pageTtl {
  border-bottom: none;
}
body.message .pageTtl h2 {
  width: 392px;/*559*/
  height: 45px;/*75*/
  background: url(../company/img/title01.gif) no-repeat;
  margin: 0 auto;
}



body.message #kv01{width:100%;overflow:hidden;}
body.message #kv02{height:auto;position:relative;top:0px;left:0;z-index:10;background:url(../company/message/img/message01.jpg) no-repeat center center;background-size:cover;}
body.message #kv02 img{min-width:100%;height:auto;display:block;}
body.message #kv03{position:absolute;top:0px;z-index:100;width:100%;}
body.message #kv03 img{width:938px;margin:0 auto;}



/*
body.message h3 {
  background: url(../company/message/img/copy01.gif) no-repeat;
  height: 32px;
  margin-bottom: 38px;
}
body.message p {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 20px;
}*/


body.recruit .pageTtl {
  border-bottom: none;
 /* padding-bottom:100px;*/
}
body.recruit .pageTtl h2 {
  width: 392px;/*352*/
  height: 45px;/*45*/
  background: url(../company/img/title01.gif) no-repeat;
  margin: 0 auto;
}

body.recruit .pageTtl10 h2 {
  background: url(../company/recruit/img/title01.gif) no-repeat center center;
  height:37px;
  margin-bottom:70px;/*40*/
  margin-top:79px;
}
body.recruit .pageTtl10 p {
  line-height: 30px;
  font-size: 14px;
}


body.recruit .pageTtl02 {
  border-bottom: none;
  padding-top:60px;/*41*/
  padding-bottom:88px;
}
body.recruit .pageTtl02 h2 {
  width: 205px;
  height: 42px;
  background: url(../company/recruit/img/title01-02.gif) no-repeat;
  margin: 0 auto;
}
body.recruit .pageTtl03 {
  border-bottom: none;
  padding-top:14px;
  padding-bottom:88px;
}
body.recruit .pageTtl03 h2 {
  width: 235px;
  height: 42px;
  background: url(../company/recruit/img/title01-03.gif) no-repeat;
  margin: 0 auto;
}
body.recruit .photo {
  height: 450px;
  background: url(../company/recruit/img/image01.jpg) no-repeat center center;
  margin-bottom: 50px;
}
body.recruit .sec h3 {
  width: 36px;
  float: left;
}
body.recruit .sec .data p {
  line-height: 24px;
  font-size: 14px;
}
body.recruit table {
  width: 705px;
  table-layout: fixed;
  border-top: 1px solid #ccc;
}
body.recruit table td, body.recruit table th {
  border-bottom: 1px solid #ccc;
  padding: 17px;
  font-size: 14px;
}
body.recruit table th {
  width: 130px;
  background: #eee;
  text-align: center;
}
body.recruit .sec1,
body.recruit .sec2,
body.recruit .sec3,
body.recruit .sec4,
body.recruit .sec5,
body.recruit .sec6{
  margin-bottom: 75px;
}
body.recruit .sec7 {
  margin-bottom: 54px;
}
body.recruit .sec1 .data, 
body.recruit .sec2 .data, 
body.recruit .sec3 .data, 
body.recruit .sec4 .data, 
body.recruit .sec5 .data, 
body.recruit .sec6 .data, 
body.recruit .sec7 .data {
  width: 780px;
  float: right;
}
body.recruit .sec1 h3 {
  height: 81px;
  background: url(../company/recruit/img/title02-01.gif) no-repeat;
  margin-left: 90px;
}
body.recruit .sec2 h3 {
  height: 126px;
  background: url(../company/recruit/img/title02-02.gif) no-repeat;
  margin-left: 90px;
}
body.recruit .sec3 h3 {
  height: 217px;
  background: url(../company/recruit/img/title02-03.gif) no-repeat;
  margin-left: 90px;
}
body.recruit .sec4 h3 {
  height: 219px;
  background: url(../company/recruit/img/title02-04.gif) no-repeat;
  margin-left: 90px;
}
body.recruit .sec5 h3 {
  height: 77px;
  background: url(../company/recruit/img/title02-05.gif) no-repeat;
  margin-left: 90px;
}
body.recruit .sec6 h3 {
  height: 310px;
  background: url(../company/recruit/img/title02-06.gif) no-repeat;
  margin-left: 90px;
}
body.recruit .button01{
  text-align: center;
  padding-bottom:20px;
}
body.recruit .att01{
  text-align: center;
  padding-bottom:134px;
}


body.privacy #body .wrapper {
  width: 820px;
}
body.privacy .pageTtl {
  border-bottom: none;
}
body.privacy .pageTtl h2 {
  width: 613px;
  height: 45px;
  background: url(../privacy/img/title01.gif) no-repeat;
  margin: 0 auto;
}
body.privacy .content01 {
  width: 608px;
  margin: 0 auto 50px;
  text-align:left;
}
body.privacy .content02 {
  width: 608px;
  margin: 0 auto 80px;
  text-align:left;
}
body.privacy .sec1 h3 {
  background: url(../privacy/img/copy01.gif) no-repeat;
  width: 288px;
  height: 30px;
  margin: 30px auto 40px auto;
}

body.privacy .sec2 h3 {
  background: url(../privacy/img/copy02.gif) no-repeat;
  width: 432px;
  height: 29px;
  margin: 0px auto 40px auto;
}

body.privacy .sec3 h3 {
  background: url(../privacy/img/copy03.gif) no-repeat;
  width: 604px;
  height: 30px;
  margin: 0px auto 40px auto;
}

body.privacy p {
  font-size: 13.7px;/*16*/
  line-height: 25px;
  margin-bottom: 30px;
}
body.privacy p.mb0 {margin-bottom:0;}
body.privacy p.mb20 {margin-bottom:20px;}
body.privacy p.eoc01 {text-align:right;}
body.privacy p .bd01 {font-weight:bold;}
body.privacy ol li{  font-size: 13.7px;  line-height: 25px;text-indent:-1.2em;padding-left:1.2em;}

