@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#subNav02 li a, body.recruit .pageTtl10 h2, body.aboutus .sec1 h2, body.identity .sec1 h2, body.message #kv03 p, body.message #kv03 h3, footer .copyright, #anim .linkMaterial, #skip, body.material .summary h3, body.material .summary .txt, body.material .summary2 h3, body.material .summary2 .txt1, body.material .summary2 .txt2, body.material .materials h4, #exp1 section span, #exp1 section h4, #exp2 h4, #exp3 h3, #exp3 h4, body.news .pageTtl h2, body.factory .pageTtl h2, body.factory .about h3, body.aboutus .pageTtl h2, body.recruit .pageTtl h2, body.recruit .pageTtl02 h2, body.recruit .sec h3, body.identity .pageTtl h2, body.identity .sections p, body.message .pageTtl h2, body.recruit .photo, body.recruit .pageTtl03 h2, body.privacy .pageTtl h2, body.privacy h3, footer .icon01, footer .icon02, footer .icon03, body.products .pageTtl h2 {
  text-indent: -9999px;
  overflow: hidden;
}

body.material .materials, #exp1 .wrapper, #exp2, #exp3, body.news .data article, .tabWrap, #adoption .wrapper, body.contact #body .wrapper, body.contact #form dl, body.aboutus .sec, body.aboutus .sec5, body.aboutus .sec6, body.aboutus .sec7, body.recruit .sec, body.recruit .sec5, body.recruit .sec6, body.recruit .sec7, body.identity #body .wrapper, body.message #body .wrapper, body.privacy #body .wrapper {
  overflow: hidden;
  *zoom: 1;
}

.cf01:before, .cf01:after {
  content: "";
  display: table;
}

.cf01:after {
  clear: both;
}

.cf01 {
  zoom: 1;
}

.pr01 {
  position: relative;
  top: 0;
  left: 0;
}

/* common
-------------------------*/
body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  text-align: center;
  -webkit-text-size-adjust: none;
}

a {
  color: black;
  text-decoration: none;
  letter-spacing: 1.5px;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  text-align: left;
  width: 940px;
  margin: 0 auto;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, p, li {
  max-height: 100%;
}

.pageTtl {
  padding: 88px 0 62px;
  /*172*/
}

html {
  height: 100%;
}

h2 {
  text-indent: -9999px;
  overflow: hidden;
}

h3 {
  font-family: "Times New Roman", "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 35px;
  margin: 79px auto 70px;
  letter-spacing: 4px;
  text-align: center;
}
h3 span {
  font-size: 18px;
  padding-left: 5px;
  letter-spacing: 2px;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb70 {
  padding-bottom: 70px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb90 {
  padding-bottom: 90px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mt100 {
  margin-top: 100px !important;
}

.mt120 {
  margin-top: 120px !important;
}

.mt140 {
  margin-top: 140px !important;
}

.mt160 {
  margin-top: 160px !important;
}

.mt180 {
  margin-top: 180px !important;
}

.mt200 {
  margin-top: 200px !important;
}

.mt220 {
  margin-top: 220px !important;
}

.mt240 {
  margin-top: 240px !important;
}

.mt260 {
  margin-top: 260px !important;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

/*--------------------
common
--------------------*/
.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.6px;
  text-align: left;
}

.fs-18 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.5px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
  text-align: left;
}

body.paper #about .sub-nav, body.plastic #about .sub-nav, body.future #about .sub-nav {
  margin: 100px auto 5px;
}
body.paper #about .cnt {
  height: 660px;
}
body.plastic #about .cnt {
  height: 920px;
}
body.future #about .cnt {
  height: 242px;
}
body.about .movie {
  margin: 0 auto 100px;
}
body.about .pageTtl h2, body.paper .pageTtl h2, body.plastic .pageTtl h2, body.future .pageTtl h2,body.lca .pageTtl h2 {
  width: 278px;
  height: 58px;
  background: url(../img/about/title01.gif) no-repeat;
  margin: 0 auto;
}
body.about #subNav01 ul, body.paper #subNav01 ul, body.plastic #subNav01 ul, body.future #subNav01 ul {
  width: 540px;
  left: 424px;
}
body.about #subNav01 ul li.nav1, body.paper #subNav01 ul li.nav1, body.plastic #subNav01 ul li.nav1, body.future #subNav01 ul li.nav1 {
  width: 117px;
}
body.about #subNav01 ul li.nav1 a, body.paper #subNav01 ul li.nav1 a, body.plastic #subNav01 ul li.nav1 a, body.future #subNav01 ul li.nav1 a {
  background-position: 16px 0;
}
body.about #subNav01 ul li.nav1 a:hover, body.about #subNav01 ul li.nav1 a.cur, body.paper #subNav01 ul li.nav1 a:hover, body.paper #subNav01 ul li.nav1 a.cur, body.plastic #subNav01 ul li.nav1 a:hover, body.plastic #subNav01 ul li.nav1 a.cur, body.future #subNav01 ul li.nav1 a:hover, body.future #subNav01 ul li.nav1 a.cur {
  background-position: 16px -19px;
}
body.about #subNav01 ul li.nav2, body.paper #subNav01 ul li.nav2, body.plastic #subNav01 ul li.nav2, body.future #subNav01 ul li.nav2 {
  width: 111px;
}
body.about #subNav01 ul li.nav2 a, body.paper #subNav01 ul li.nav2 a, body.plastic #subNav01 ul li.nav2 a, body.future #subNav01 ul li.nav2 a {
  background-position: -100px 0;
}
body.about #subNav01 ul li.nav2 a:hover, body.about #subNav01 ul li.nav2 a.cur, body.paper #subNav01 ul li.nav2 a:hover, body.paper #subNav01 ul li.nav2 a.cur, body.plastic #subNav01 ul li.nav2 a:hover, body.plastic #subNav01 ul li.nav2 a.cur, body.future #subNav01 ul li.nav2 a:hover, body.future #subNav01 ul li.nav2 a.cur {
  background-position: -100px -19px;
}
body.about #subNav01 ul li.nav3, body.paper #subNav01 ul li.nav3, body.plastic #subNav01 ul li.nav3, body.future #subNav01 ul li.nav3 {
  width: 173px;
}
body.about #subNav01 ul li.nav3 a, body.paper #subNav01 ul li.nav3 a, body.plastic #subNav01 ul li.nav3 a, body.future #subNav01 ul li.nav3 a {
  background-position: -209px 0;
}
body.about #subNav01 ul li.nav3 a:hover, body.about #subNav01 ul li.nav3 a.cur, body.paper #subNav01 ul li.nav3 a:hover, body.paper #subNav01 ul li.nav3 a.cur, body.plastic #subNav01 ul li.nav3 a:hover, body.plastic #subNav01 ul li.nav3 a.cur, body.future #subNav01 ul li.nav3 a:hover, body.future #subNav01 ul li.nav3 a.cur {
  background-position: -209px -19px;
}
body.about #subNav01 ul li.nav4, body.paper #subNav01 ul li.nav4, body.plastic #subNav01 ul li.nav4, body.future #subNav01 ul li.nav4 {
  width: 137px;
}
body.about #subNav01 ul li.nav4 a, body.paper #subNav01 ul li.nav4 a, body.plastic #subNav01 ul li.nav4 a, body.future #subNav01 ul li.nav4 a {
  background-position: -380px 0;
}
body.about #subNav01 ul li.nav4 a:hover, body.about #subNav01 ul li.nav4 a.cur, body.paper #subNav01 ul li.nav4 a:hover, body.paper #subNav01 ul li.nav4 a.cur, body.plastic #subNav01 ul li.nav4 a:hover, body.plastic #subNav01 ul li.nav4 a.cur, body.future #subNav01 ul li.nav4 a:hover, body.future #subNav01 ul li.nav4 a.cur {
  background-position: -380px -19px;
}
body.about #subNav01 ul li a, body.paper #subNav01 ul li a, body.plastic #subNav01 ul li a, body.future #subNav01 ul li a {
  background: url("../img/about/subnav01.gif") no-repeat;
}
body #about {
  font-family: "Times New Roman", "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
body #about .sub-nav {
  margin: 70px auto 5px;
}
body #about .sub-nav a {
  font-family: "Times New Roman", "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  display: inline-block;
  border: 1px solid #e2e2e2;
  text-align: left;
  font-size: 18px;
  letter-spacing: 1.3px;
}
body #about .sub-nav a.about-index {
  width: 250px;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 45px;
}
body #about .sub-nav a.about-index span {
  width: 6px;
  min-height: 15px;
  background: url("../img/common/arrow-right.png") left center no-repeat;
  padding-right: 15px;
}
body #about .sub-nav a:hover {
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
  text-decoration: none;
  background: #f1f1f1;
  color: #474747;
}
body #about .sub-nav p {
  position: inherit;
}
body #about .sub-nav ul {
  zoom: 1;
  width: 710px;
  margin: 0 auto;
}
body #about .sub-nav ul:after {
  display: table;
  clear: both;
  content: "";
}
body #about .sub-nav ul li {
  float: left;
  max-width: 215px;
  height: 70px;
  margin-right: 30px;
}
body #about .sub-nav ul li:last-child {
  margin-right: 0;
}
body #about .sub-nav ul li a {
  width: 215px;
  padding: 25px 0;
  line-height: 1.3;
}
body #about .sub-nav ul li a p {
  text-align: center;
  vertical-align: middle;
}
body #about .sub-nav ul li a span {
  display: inline-block;
  width: 6px;
  min-height: 17px;
  background: url("../img/common/arrow-right.png") left top no-repeat;
  padding-right: 10px;
  vertical-align: middle;
}
body #about .sub-nav ul li:nth-child(2) a {
  zoom: 1;
  padding: 14px 0;
}
body #about .sub-nav ul li:nth-child(2) a:after {
  display: table;
  clear: both;
  content: "";
}
body #about .sub-nav ul li:nth-child(2) a p {
  text-align: left;
  width: 140px;
  margin: 0 auto;
}
body #about .sub-nav ul li:nth-child(2) a span {
  min-height: 40px;
  float: left;
  background: url("../img/common/arrow-right.png") left 16px no-repeat;
}

#about img, #about p {
  display: block;
  position: absolute;
}

.clear {
  color: rgba(255, 255, 255, 0);
  visibility: hidden\9;
}

#about hr {
  width: 1px;
  border: solid #ccc;
  border-width: 0px 1px 0px 0px;
}

.ts14 {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  margin-top: -5px;
}

.ts16 {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-top: -8px;
}

.ts20 {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-top: -6px;
}

.ts20l {
  font-size: 20px;
  line-height: 20px;
  text-align: left;
}

.ts26 {
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 5px;
  text-align: left;
}

.ts34 {
  font-size: 34px;
  line-height: 34px;
  text-align: left;
}

.ts40 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 10px;
  text-align: left;
}

/*--------------------
#about
--------------------*/
#about {
  width: 100%;
  min-width: 940px;
}

#about .cnt {
  position: relative;
  overflow: hidden;
  width: 940px;
  height: 2430px;
  margin: 0px auto;
}
#about .cnt.lca2{

  height: 2100px;

}

#about #about_bk {
  top: 266px;
}

#about hr {
  position: absolute;
}

#about #line11 {
  top: 366px;
  left: 305px;
  height: 310px;
}

#about #line12 {
  top: 366px;
  left: 635px;
  height: 310px;
}

/*--------------------
#about p
--------------------*/
#txt1 {
  top: 407px;
  left: 0px;
  width: 280px;
  height: 86px;
}

#txt2 {
  top: 407px;
  left: 330px;
  width: 280px;
  height: 86px;
}

#txt3 {
  top: 407px;
  left: 660px;
  width: 280px;
  height: 86px;
}

#txt4 {
  top: 415px;
  left: 0px;
  width: 280px;
  height: 92px;
}

#txt5 {
  top: 415px;
  left: 330px;
  width: 280px;
  height: 92px;
}

#txt6 {
  top: 415px;
  left: 660px;
  width: 280px;
  height: 92px;
}

#txt7 {
  top: 880px;
  left: 130px;
  width: 680px;
  height: 62px;
}

#txt8 {
  top: 304px;
  left: 0px;
  width: 940px;
  height: 60px;
}

#txt9 {
  top: 451px;
  left: 500px;
  width: 440px;
  height: 40px;
}

#txt10 {
  top: 520px;
  left: 500px;
  width: 440px;
  height: 183px;
}

#txt11 {
  top: 1035px;
  left: 0px;
  width: 440px;
  height: 40px;
}

#txt12 {
  top: 1104px;
  left: 0px;
  width: 440px;
  height: 154px;
}

#txt13 {
  top: 1035px;
  left: 500px;
  width: 440px;
  height: 40px;
}

#txt14 {
  top: 1104px;
  left: 500px;
  width: 440px;
  height: 154px;
}

#txt15 {
  top: 1984px;
  left: 240px;
  width: 460px;
  height: 100px;
}

#txt16 {
  top: 2161px;
  left: 0px;
  width: 940px;
  height: 40px;
}

#txt17 {
  top: 2352px;
  left: 0px;
  width: 940px;
  height: 54px;
}

#txt18 {
  top: 2468px;
  left: 0px;
  width: 940px;
  height: 30px;
}

#txt19 {
  top: 2526px;
  left: 0px;
  width: 280px;
  height: 32px;
}

#txt20 {
  top: 2526px;
  left: 330px;
  width: 280px;
  height: 32px;
}

#txt21 {
  top: 2526px;
  left: 660px;
  width: 280px;
  height: 32px;
}

#txt22 {
  top: 2936px;
  left: 0px;
  width: 940px;
  height: 40px;
}

#txt23 {
  top: 3127px;
  left: 0px;
  width: 940px;
  height: 54px;
}

#txt24 {
  top: 3243px;
  left: 0px;
  width: 940px;
  height: 30px;
}

#txt25 {
  top: 370px;
  left: 0px;
  width: 280px;
  height: 32px;
}

#txt26 {
  top: 370px;
  left: 330px;
  width: 280px;
  height: 32px;
}

#txt27 {
  top: 370px;
  left: 660px;
  width: 280px;
  height: 32px;
}

#txt28 {
  top: 3944px;
  left: 0px;
  width: 940px;
  height: 40px;
}

#txt29 {
  top: 4136px;
  left: 0px;
  width: 940px;
  height: 54px;
}

/*--------------------
#about top
--------------------*/
#about_top1 {
  top: 0px;
  left: 0px;
  width: 940px;
  height: 150px;
}

#about_top2 {
  top: 190px;
  left: 80px;
  width: 780px;
  height: 60px;
  line-height: 2;
  letter-spacing: 1.5px;
}

#about_b1t {
  top: 337px;
  left: 500px;
  width: 440px;
  height: 40px;
}

#about_b11 {
  top: 400px;
  left: 500px;
  width: 440px;
  height: 183px;
  line-height: 2;
  letter-spacing: 0.6px;
  text-align: left;
}

#about_b1i {
  top: 609px;
  left: 500px;
  width: 440px;
  height: 252px;
}

#about_b2t {
  top: 921px;
  left: 0px;
  width: 440px;
  height: 40px;
}

#about_b21 {
  top: 985px;
  left: 0px;
  width: 440px;
  height: 154px;
  line-height: 2;
  letter-spacing: 0.6px;
  text-align: left;
}

#about_b2i1 {
  top: 1144px;
  left: 0px;
  width: 440px;
  height: 190px;
}

#about_b2i2 {
  top: 1334px;
  left: 0px;
  width: 440px;
  height: 50px;
}

#about_b2i3 {
  top: 1384px;
  left: 0px;
  width: 440px;
  height: 190px;
}

#about_b2i4 {
  top: 1634px;
  left: 0px;
  width: 938px;
  height: 350px;
  padding-top: 75px;
  margin-top: -75px;
}

#about_b3t {
  top: 921px;
  left: 500px;
  width: 440px;
  height: 40px;
}

#about_b31 {
  top: 983px;
  left: 500px;
  width: 440px;
  height: 154px;
  line-height: 2;
  letter-spacing: 0.6px;
  text-align: left;
}

#about_b3i1 {
  top: 1144px;
  left: 500px;
  width: 440px;
  height: 190px;
}

#about_b3i2 {
  top: 1334px;
  left: 500px;
  width: 440px;
  height: 50px;
}

#about_b3i3 {
  top: 1384px;
  left: 500px;
  width: 440px;
  height: 190px;
}

#about_cnt1 {
  top: 2130px;
  left: 240px;
  width: 460px;
  height: 160px;
}

#about_cnt2 {
  top: 2330px;
  left: 240px;
  width: 460px;
  height: 100px;
}

#about_c1t {
  top: 0px;
  left: 0px;
  right: 0;
  width: 392px;
  height: 34px;
  margin: auto;
}

#about_c1i1 {
  top: 78px;
  left: 0px;
  width: 67px;
  height: 80px;
}

#about_c1i2 {
  top: 78px;
  left: 67px;
  width: 90px;
  height: 80px;
}

#about_c1i3 {
  top: 78px;
  left: 157px;
  width: 107px;
  height: 80px;
}

#about_c1i4 {
  top: 78px;
  left: 264px;
  width: 86px;
  height: 80px;
}

#about_c1i5 {
  top: 78px;
  left: 350px;
  width: 86px;
  height: 80px;
}

#about_c1i6 {
  top: 78px;
  left: 436px;
  width: 96px;
  height: 80px;
}

#about_c1i7 {
  top: 78px;
  left: 532px;
  width: 115px;
  height: 80px;
}

#about_c1i8 {
  top: 78px;
  left: 647px;
  width: 87px;
  height: 80px;
}

#about_c1i9 {
  top: 78px;
  left: 734px;
  width: 103px;
  height: 80px;
}

#about_c1i10 {
  top: 78px;
  left: 837px;
  width: 103px;
  height: 80px;
}

#about_c1r {
  top: 193px;
  left: 0px;
  width: 940px;
  height: 54px;
}

#about_c1bt {
  top: 310px;
  left: 0px;
  width: 940px;
  height: 30px;
}

#about_c1b1t {
  top: 366px;
  left: 0px;
  width: 280px;
  height: 32px;
}

#about_c1b1i {
  top: 493px;
  left: 0px;
  width: 280px;
  height: 185px;
}

#about_c1b2t {
  top: 366px;
  left: 330px;
  width: 280px;
  height: 32px;
}

#about_c1b2i {
  top: 493px;
  left: 330px;
  width: 280px;
  height: 185px;
}

#about_c1b3t {
  top: 366px;
  left: 660px;
  width: 280px;
  height: 32px;
}

#about_c1b3i {
  top: 493px;
  left: 660px;
  width: 280px;
  height: 185px;
}

#about #line21 {
  top: 365px;
  left: 305px;
  height: 105px;
}

#about #line22 {
  top: 365px;
  left: 635px;
  height: 105px;
}

#about_c2t {
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 432px;
  height: 34px;
}

#about_c2i1 {
  top: 80px;
  left: 0px;
  width: 47px;
  height: 80px;
}

#about_c2i2 {
  top: 80px;
  left: 47px;
  width: 100px;
  height: 80px;
}

#about_c2i3 {
  top: 80px;
  left: 147px;
  width: 95px;
  height: 80px;
}

#about_c2i4 {
  top: 80px;
  left: 242px;
  width: 90px;
  height: 80px;
}

#about_c2i5 {
  top: 80px;
  left: 332px;
  width: 113px;
  height: 80px;
}

#about_c2i6 {
  top: 80px;
  left: 445px;
  width: 113px;
  height: 80px;
}

#about_c2i7 {
  top: 80px;
  left: 558px;
  width: 115px;
  height: 80px;
}

#about_c2i8 {
  top: 80px;
  left: 673px;
  width: 85px;
  height: 80px;
}

#about_c2i9 {
  top: 80px;
  left: 758px;
  width: 106px;
  height: 80px;
}

#about_c2i10 {
  top: 80px;
  left: 864px;
  width: 76px;
  height: 80px;
}

#about_c2r {
  top: 191px;
  left: 0px;
  width: 940px;
  height: 54px;
}

#about_c2bt {
  top: 309px;
  left: 0px;
  width: 940px;
  height: 30px;
}

#about_c2b1t {
  top: 370px;
  left: 0px;
  width: 280px;
  height: 32px;
}

#about_c2b2t {
  top: 370px;
  left: 330px;
  width: 280px;
  height: 32px;
}

#about_c2b3t {
  top: 370px;
  left: 660px;
  width: 280px;
  height: 32px;
}

#about_c2bi {
  top: 507px;
  left: 0px;
  width: 940px;
  height: 354px;
}

#about_c3t {
  top: 0px;
  left: 0px;
  right: 0;
  width: 474px;
  height: 34px;
  margin: auto;
}

#about_c3i1 {
  top: 78px;
  left: 0px;
  width: 87px;
  height: 80px;
}

#about_c3i2 {
  top: 78px;
  left: 87px;
  width: 120px;
  height: 80px;
}

#about_c3i3 {
  top: 78px;
  left: 207px;
  width: 100px;
  height: 80px;
}

#about_c3i4 {
  top: 78px;
  left: 307px;
  width: 84px;
  height: 80px;
}

#about_c3i5 {
  top: 78px;
  left: 391px;
  width: 113px;
  height: 80px;
}

#about_c3i6 {
  top: 78px;
  left: 504px;
  width: 113px;
  height: 80px;
}

#about_c3i7 {
  top: 78px;
  left: 617px;
  width: 102px;
  height: 80px;
}

#about_c3i8 {
  top: 78px;
  left: 719px;
  width: 72px;
  height: 80px;
}

#about_c3i9 {
  top: 78px;
  left: 791px;
  width: 87px;
  height: 80px;
}

#about_c3i10 {
  top: 78px;
  left: 878px;
  width: 62px;
  height: 80px;
}

#about_c3r {
  top: 185px;
  left: 0px;
  width: 940px;
  height: 54px;
}

/**css for LCA-page below**/
#lca2 .cnt{
	/*height:2083px;*/
	height:5000px !important;
}

#lca2 h4{
	text-align:left; 
	font-size:27.5px; 
	line-height:28px; 
	letter-spacing:3.5px;
	padding-bottom:45px;
}
#lca2 p{
	font-size:16px;  
	line-height: 30px;  
	letter-spacing: 0.9px;
 	text-align: left; 
	padding-bottom:83px;
}

.lca-h4{
	text-align:left; 
	font-size:27.5px; 
	line-height:28px; 
	letter-spacing:3.5px;
	padding-bottom:45px;
}
.lca-p{
	font-size:16px;  
	line-height: 30px;  
	letter-spacing: 0.9px;
 	text-align: left; 
	padding-bottom:83px;
}

#p-cert{
	font-size:10px;
	line-height: 15px;
	letter-spacing: 0.9px;
 	text-align: left; 
	padding-bottom:83px; 
	top:1252px; 
	width:940px; 
	height:15px; 
	left:0px; 
	position:absolute;
}
.lca-centerline{
	top: 882px; 
	left:469px; 
	height: 350px;
}
#lca-img1a{
	top:300px;
}
#lca-img1b{
	top:300px;
	left:645px;
}
#lca-h42a{
	top:545px; 
	width:940px; 
	height:28px; 
	left:0px; 
	position:absolute;
}
#lca-p2a{
	top:618px; 
	width:940px; 
	height:28px; 
	left:0px; 
	position:absolute;
}
#lca-h43a{
	top:809px; 
	width:940px; 
	height:28px; 
	left:0px; 
	position:absolute;
}
.lca-p#lca-p3a{
	font-size:21px; 
	top:882px; 
	width:440px; 
	height:40px; 
	left:0px; 
	position:absolute;
}
.lca-p#lca-p3b{
	font-size:21px; 
	top:882px; 
	width:440px; 
	height:40px; 
	left:500px; 
	position:absolute;
}

#lca-p3c{
	top:922px; 
	width:440px; 
	height:28px; 
	left:0px; 
	position:absolute;
}

#lca-p3d{
	top:922px; 
	width:440px; 
	height:28px; 
	left:500px; 
	position:absolute;
}
#lca-h44a{
	top:1378px; 
	width:940px; 
	height:28px; 
	left:0px; 
	position:absolute;
}
#lca-img4a{
	top:1451px;
	left:30px;
}
#lca-img4b{
	top:1451px;
	left:530px;
}
#lca-img4c{
	top:1526px;
	left:0px;
}
#lca-img4d{
	top:1526px;
	left:500px;
}
#lca-img4e{
	top:1774px;
	left:0px;
}
#lca-img4f{
	top:1774px;
	left:500px;
}
body #about .lca-ul ul{
	width:200px;
}
body #about .lca-ul ul li{
	margin-right:50px;
}
body #about .lca-ul ul li:nth-child(n) a {
  zoom: 1;
  padding: 14px 0;
  width:220px;
  font-size:16px;
  
}
body #about .sub-navd a:after {
  display: table;
  clear: both;
  content: "";
}
body #about .sub-navd a p {
  text-align: left;
  width: 153px;
  margin: 0 auto;
}
body #about .sub-navd a p {
  text-align: left;
  margin: 0 auto;
  width:200px; 
  line-height:1.5;
}
body #about .sub-navd a.about-index span {
  min-height: 40px !important;
  float: left;
  height:54px;
  width:10px;
  background: url("../img/common/arrow-right.png") left center no-repeat;
}
body #about .lca-ul.sub-nav ul li {
  float: left;
  /*max-width: 215px;*/
  height: 70px;
  margin-right: 50px;
}