@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#subNav02 li a, body.recruit .pageTtl10 h2, body.aboutus .sec1 h2, body.identity .sec1 h2, body.message #kv03 p, body.message #kv03 h3, footer .copyright, #anim .linkMaterial, #skip, body.material .summary h3, body.material .summary .txt, body.material .summary2 h3, body.material .summary2 .txt1, body.material .summary2 .txt2, body.material .materials h4, #exp1 section span, #exp1 section h4, #exp2 h4, #exp3 h3, #exp3 h4, body.news .pageTtl h2, body.factory .pageTtl h2, body.factory .about h3, body.aboutus .pageTtl h2, body.recruit .pageTtl h2, body.recruit .pageTtl02 h2, body.recruit .sec h3, body.identity .pageTtl h2, body.identity .sections p, body.message .pageTtl h2, body.recruit .photo, body.recruit .pageTtl03 h2, body.privacy .pageTtl h2, body.privacy h3, footer .icon01, footer .icon02, footer .icon03, body.products .pageTtl h2 {
  text-indent: -9999px;
  overflow: hidden;
}

body.material .materials, #exp1 .wrapper, #exp2, #exp3, body.news .data article, .tabWrap, #adoption .wrapper, body.contact #body .wrapper, body.contact #form dl, body.aboutus .sec, body.aboutus .sec5, body.aboutus .sec6, body.aboutus .sec7, body.recruit .sec, body.recruit .sec5, body.recruit .sec6, body.recruit .sec7, body.identity #body .wrapper, body.message #body .wrapper, body.privacy #body .wrapper {
  overflow: hidden;
  *zoom: 1;
}

.cf01:before, .cf01:after {
  content: "";
  display: table;
}

.cf01:after {
  clear: both;
}

.cf01 {
  zoom: 1;
}

.pr01 {
  position: relative;
  top: 0;
  left: 0;
}

/* common
-------------------------*/
body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  text-align: center;
  -webkit-text-size-adjust: none;
}

a {
  color: black;
  text-decoration: none;
  letter-spacing: 1.5px;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  text-align: left;
  width: 940px;
  margin: 0 auto;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, p, li {
  max-height: 100%;
}

.pageTtl {
  padding: 88px 0 62px;
  /*172*/
}

html {
  height: 100%;
}

h2 {
  text-indent: -9999px;
  overflow: hidden;
}

h3 {
  font-family: "Times New Roman", "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 35px;
  margin: 79px auto 70px;
  letter-spacing: 4px;
  text-align: center;
}
h3 span {
  font-size: 18px;
  padding-left: 5px;
  letter-spacing: 2px;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb70 {
  padding-bottom: 70px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb90 {
  padding-bottom: 90px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mt100 {
  margin-top: 100px !important;
}

.mt120 {
  margin-top: 120px !important;
}

.mt140 {
  margin-top: 140px !important;
}

.mt160 {
  margin-top: 160px !important;
}

.mt180 {
  margin-top: 180px !important;
}

.mt200 {
  margin-top: 200px !important;
}

.mt220 {
  margin-top: 220px !important;
}

.mt240 {
  margin-top: 240px !important;
}

.mt260 {
  margin-top: 260px !important;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

/*--------------------
init
--------------------*/
#top .fv_story {
  display: none;
}

#top .fv_img img, #top .fv_logo img {
  visibility: hidden;
}

/*--------------------
common
--------------------*/
#top img {
  display: block;
}

.btn, .btn_slide {
  cursor: pointer;
}

.over {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: top left;
}

/*--------------------
#top .fv
--------------------*/
#top {
  width: 100%;
  min-width: 940px;
}

#top .fv {
  position: relative;
}

#top .fv_main {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #000000;
}

#top .fv_img > img {
  position: relative;
  width: 100%;
  min-width: 1280px;
}

#top .fv_img > img + img, #top .fv_img > img + img + img {
  position: absolute;
  top: 0px;
  width: 100%;
  min-width: 1280px;
}

#top .fv_logo {
  position: absolute;
  z-index: 2;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 940px;
  height: 280px;
  margin: auto;
}

#top .fv_logo > div > img:first-child {
  position: absolute;
  top: 0px;
  right: -15px;
}

#top .fv_logo > div > img + img {
  position: absolute;
  top: 90px;
}

#top .fv_logo > img {
  position: absolute;
  top: 40px;
}

#top .fv .btn_open {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: -14px;
  right: 0px;
  margin: auto auto 0px auto;
}

#top .fv_story {
  position: absolute;
  z-index: 3;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#top .story_bk {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #000000;
}

#top .story_img {
  position: absolute;
  overflow: hidden;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 940px;
  margin: auto;
}

#top .stone {
  position: absolute;
  top: -60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

#top .story_txt {
  position: absolute;
  top: -30px;
  bottom: 0px;
  right: 0px;
  margin: auto;
}

#top .mask_left {
  position: absolute;
  top: -30px;
  bottom: 0px;
  left: 0px;
  margin: auto auto auto -170px;
}

#top .mask_right {
  position: absolute;
  top: -30px;
  bottom: 0px;
  right: 0px;
  margin: auto -170px auto auto;
}

#top .story_control {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 940px;
  margin: auto;
}

#top .fv .btn_prev {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
}

#top .fv .btn_next {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
}

#top .fv .btn_close {
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0px;
  margin: auto auto 0px auto;
}

#top .fv_control {
  position: relative;
  width: 50%;
  margin: 8px auto 40px auto;
}

#top .fv_control .btn_slide {
  display: inline;
  text-align: center;
  margin: 4px;
}

/*--------------------
#top .news, .media
--------------------*/
#top .limex_action_bnr {
  width: 940px;
  margin: 0px auto 100px auto;
}
#top .news, #top .media {
  position: relative;
  width: 940px;
  margin: 0px auto 100px auto;
}
#top .news h2, #top .media h2 {
  position: relative;
  top: 16px;
  height: 18px;
}
#top .news hr, #top .media hr {
  height: 1px;
  padding-top: 18px;
  margin-bottom: 20px;
  border: solid #ccc;
  border-width: 0px 0px 1px 0px;
}
#top .news .fb, #top .media .fb {
  position: absolute;
  top: 0px;
  right: 0px;
}
#top .news .news_thumb, #top .media .news_thumb {
  margin-top: 30px;
}
#top .news .news_thumb ul, #top .media .news_thumb ul {
  zoom: 1;
}
#top .news .news_thumb ul:after, #top .media .news_thumb ul:after {
  display: table;
  clear: both;
  content: "";
}
#top .news .news_thumb ul li, #top .media .news_thumb ul li {
  width: 440px;
  float: left;
  text-align: left;
  margin-right: 60px;
  margin-top: 40px;
}
#top .news .news_thumb ul li:first-child, #top .media .news_thumb ul li:first-child {
  margin-top: 0;
}
#top .news .news_thumb ul li:nth-child(2), #top .media .news_thumb ul li:nth-child(2) {
  margin-top: 0;
}
#top .news .news_thumb ul li:nth-child(2n), #top .media .news_thumb ul li:nth-child(2n) {
  margin-right: 0;
}
#top .news .news_thumb ul li a, #top .media .news_thumb ul li a {
  display: inline-block;
  width: 100%;
  zoom: 1;
}
#top .news .news_thumb ul li a:after, #top .media .news_thumb ul li a:after {
  display: table;
  clear: both;
  content: "";
}
#top .news .news_thumb ul li a:hover, #top .media .news_thumb ul li a:hover {
  text-decoration: none;
  opacity: 0.7;
}
#top .news .news_thumb ul li a .img, #top .media .news_thumb ul li a .img {
  float: left;
  max-width: 150px;
  max-height: 150px;
}
#top .news .news_thumb ul li a .img img, #top .media .news_thumb ul li a .img img {
  max-width: 150px;
  max-height: 150px;
}
#top .news .news_thumb ul li a .thumb, #top .media .news_thumb ul li a .thumb {
  width: auto;
  margin-left: 180px;
}
#top .news .news_thumb ul li a .thumb .cate, #top .media .news_thumb ul li a .thumb .cate {
  background: #f1f1f1;
  padding: 7px;
  font-size: 12px;
  font-family: "Times New Roman", "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
#top .news .news_thumb ul li a .thumb .cate.top_press_release, #top .media .news_thumb ul li a .thumb .cate.top_press_release {
  width: 10em;
  background: #ececec;
  border: 1px solid #c9c9c9;
}
#top .news .news_thumb ul li a .thumb .cate.top_topics, #top .media .news_thumb ul li a .thumb .cate.top_topics {
  width: 5em;
  background: #c9c9c9;
}
#top .news .news_thumb ul li a .thumb .cate.top_media, #top .media .news_thumb ul li a .thumb .cate.top_media {
  width: 4.5em;
  background: #fff;
  border: 1px solid #c9c9c9;
}
#top .news .news_thumb ul li a .thumb .txt, #top .media .news_thumb ul li a .thumb .txt {
  font-size: 14px;
  line-height: 1.5;
}
#top .news .news_thumb ul li a .thumb .date, #top .media .news_thumb ul li a .thumb .date {
  font-size: 12px;
}
#top .news .date, #top .media .date {
  margin-top: 24px;
  font-size: 12px;
  line-height: 1em;
}
#top .news .cat, #top .media .cat {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
#top .news .body, #top .media .body {
  margin-top: 12px;
  font-size: 14px;
  line-height: 24px;
}
#top .news .more, #top .media .more {
  position: absolute;
  bottom: -30px;
  right: 0px;
  padding: 6px 0px;
  padding: 0px\9;
  margin: 0px;
}
#top .news .category, #top .media .category {
  zoom: 1;
  width: 100%;
}
#top .news .category:after, #top .media .category:after {
  display: table;
  clear: both;
  content: "";
}
#top .news .category li, #top .media .category li {
  float: right;
  margin-right: 20px;
  font-size: 13px;
  font-family: "Times New Roman", "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
#top .news .category li:first-child, #top .media .category li:first-child {
  margin-right: 0;
}
#top .news .category li.cur, #top .media .category li.cur {
  font-weight: bold;
  border-bottom: 1px solid #000;
}
#top .news .category li a:hover, #top .media .category li a:hover {
  text-decoration: none;
  opacity: 0.5;
}
#top .media {
  margin: 0px auto 80px auto;
}

.cate_pr,
.cate_all {
  cursor: pointer;
}


.news-all {
  display: none;
}


/*--------------------
#top .link
--------------------*/
#top .link {
  position: relative;
  width: 940px;
  height: 580px;
  margin: 0px auto 100px auto;
}

#top .link > a:first-child + a img {
  position: absolute;
  top: 0px;
  right: 0px;
}

#top .link > a:first-child + a + a img {
  position: absolute;
  bottom: 0px;
}

#top .link > a:first-child + a + a + a img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/*--------------------
#top 0324
--------------------*/
#top .fv_img > div > img {
  position: absolute;
  width: 100%;
  min-width: 1280px;
}

#top .fv_img > div {
  position: absolute;
  width: 100%;
  min-width: 1280px;
  top: 0px;
  left: -100%;
  z-index: 0;
}

#top .fv_img > div.first {
  left: 0px;
  z-index: 2 !important;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 945px;
  background-color: #000000;
  top: 0px;
}
#top .fv_img > div.first > img {
  position: static;
  min-width: 1280px;
}

.overlay_link {
  width: 100%;
  padding-top: 36.7187%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  z-index: 3;
}

.kv_slider > div {
  width: 100%;
  min-width: 1280px;
}

#top .fv_img .slide {
  min-height: 470px;
  width: 100%;
  z-index: 1;
}
#top .fv_img .slide > img {
  opacity: 1 !important;
}

#youtube-movie {
  margin: 0 auto;
}

.mbYTP_wrapper {
  opacity: 1 !important;
}

#youtube-movie-content {
  padding-top: 0;
  position: relative;
  width: 100%;
}

#youtube-movie-content iframe {
  left: 0;
  position: absolute;
  top: 0;
}

.section-top-main {
  padding-top: 36.7187%;
  width: 100%;
}

#youtube-movie-content {
  overflow: hidden;
}

.section-top-main {
  padding-top: 36.7187%;
  width: 100%;
}

#youtube-movie-content {
  overflow: hidden;
}

.section-top-main {
  padding-top: 36.7187%;
  width: 100%;
}

#youtube-movie-content {
  overflow: hidden;
}

.slide-image-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 1280px;
  width: 100%;
  /*min-height: 470px;*/
  height: auto;
}
.slide-image-top {
  /*position: absolute;*/
  top: 0px;
  left: 0px;
  height: auto;
  width: 100%;
}
.slide-image-left-link {
  cursor: pointer;
  width: 50%;
  height: 100%;
  float: left;
}
.slide-image-right-link {
  cursor: pointer;
  width: 50%;
  height: 100%;
  float: left;
}
.slide-image-bottom {
  /*position: absolute;*/
  /*top: 386px;*/
  width: 100%;
  height: 84px;
}

.slide-image-left-link img,
.slide-image-right-link img,
.slide-image-bottom img {
  width: 100%;
  height: auto;
}

.base-scale-img img {
  width: 100%;
  min-width: 1280px;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
