@charset "utf-8";
//--------------------------------------------
//about
//--------------------------------------------

@import "base/variable";
@import "base/mixins";
@import "base/base";


body {
	&.paper,
	&.plastic,
	&.future {
		#about {
		.sub-nav {
			margin: 100px auto 5px;
			}
		}
	}

	&.paper {
		#about {
			.cnt {
				 height: 780px;
			}
		}
	}

	&.plastic {
		#about {
			.cnt {
				 height: 1028px;
			}
		}
	}

	&.future {
		#about {
			.cnt {
				 height: 242px;
			}
		}
	}

	&.about {
		.movie {
			margin: 0 auto 100px;
		}
	}

	&.about,
	&.paper,
	&.plastic,
	&.future {
		.pageTtl {
			h2 {
				width: 278px;
				height: 58px;
				background: url(../../img/en/about/title01.gif) no-repeat;
				margin: 0 auto;
			}
		}
		#subNav01 {
      ul {
        width: 540px;
        left: 424px;

        li {

          &.nav1 {
              width: 117px;

            a {
              background-position: 16px 0;
              &:hover,
              &.cur {
                background-position: 16px -19px;
              }
            }
          }

          &.nav2 {
            width: 111px;
            a {
              background-position: -100px 0;
              &:hover,
              &.cur {
                background-position: -100px -19px;
              }
            }
          }

          &.nav3 {
              width: 173px;

            a {
              background-position: -209px 0;
              &:hover,
              &.cur {
                background-position: -209px -19px;
              }
            }
          }

          &.nav4 {
              width: 137px;

            a {
              background-position: -380px 0;
              &:hover,
              &.cur {
                background-position: -380px -19px;
              }
            }
          }

          a {
              background: url('../img/about/subnav01.gif') no-repeat;
          }
        }
      }
    }
	}
	#about {
		.sub-nav {
			margin: 70px auto 5px;
			a {
				font-family: $f-yumin;
				display: inline-block;
  			border: 1px solid #e2e2e2;
  			text-align: left;
  			font-size: 18px;
  			letter-spacing: 1.3px;
  			
  			&.about-index {
  				width: 250px;
  				text-align: center;
  				padding: 20px 0;
  				margin-bottom: 45px;
  				
  				span {
  					width: 6px;
  					min-height: 15px;
  					background: url('../../img/en/common/arrow-right.png') left center no-repeat;
  					padding-right: 15px;
  				}
  			}
  			&:hover {
  				@include transition-2;
  				text-decoration: none;
  				background: #f1f1f1;
  				color: #474747;
				}
			}
	  	p {
	  		position: inherit;
	  	}
	  	ul {
	  		@include clearfix;
	  		width: 710px;
	  		margin: 0 auto;

	  		li {
	  			float: left;
	  			max-width: 215px;
	  			height: 70px;
	  			margin-right: 30px;

	  			&:last-child {
	  				margin-right: 0;
	  			}

	  			a {
	  				width: 215px;
	  				padding: 25px 0;
	  				line-height: 1.3;

	  				p {
	  					text-align: center;
	  				}

	  				span {
	  					display: inline-block;
	  					// float: left;
	  					width: 6px;
	  					min-height: 15px;
	  					background: url('../../img/en/common/arrow-right.png') left center no-repeat;
	  					padding-right: 10px;
	  				}
	  			}

	  			&:nth-child(2){
	  				a {
	  					@include clearfix;
	  					padding: 14px 0;

	  					p {
	  						text-align: left;
						    width: 140px;
    						margin: 0 auto;
	  					}

	  					span {
	  						min-height: 40px;
	  						float: left;
	  						background: url('../img/en/common/arrow-right.png') left 16px no-repeat;
	  					}
	  				}
	  			}
	  		}
	  	}
	  }
	}
}


#about img, #about p{
	display:block;
	position:absolute;
}
.clear{
	color:rgba(255, 255, 255, 0);
	visibility:hidden\9;
}
#about hr{
	width:1px;
	border:solid #ccc;
	border-width:0px 1px 0px 0px;
}

.ts14{
	font-size:14px;
	line-height:24px;
	text-align:left;
	margin-top:-5px;
}
.ts16{
	font-size:16px;
	line-height:32px;
	letter-spacing:0.5px;
	text-align:left;
	margin-top:-8px;
}
.ts20{
	font-size:20px;
	line-height:32px;
	text-align:center;
	margin-top:-6px;
}
.ts20l{
	font-size:20px;
	line-height:20px;
	text-align:left;
}
.ts26{
	font-size:26px;
	line-height:26px;
	letter-spacing:5px;
	text-align:left;
}
.ts34{
	font-size:34px;
	line-height:34px;
	text-align:left;
}
.ts40{
	font-size:40px;
	line-height:40px;
	letter-spacing:10px;
	text-align:left;
}

/*--------------------
#about
--------------------*/

#about{
	width:100%;
	min-width:940px;
}
#about .cnt{
	position:relative;
	overflow:hidden;
	width:940px;
	height:1960px;/*4305*/
	margin:0px auto;
}
#about #about_bk{
	top:266px;/*380*/
}

#about hr{
	position:absolute;
}
#about #line11{
	top: 390px;
	left:305px;
	height:380px;/*340 360 310*/
}
#about #line12{
	top: 390px;
	left:635px;
	height:380px;/*340 360 310*/
}
#about #line21{
	top: 395px;
	left:305px;
	height:165px;/*105*/
}
#about #line22{
	top: 395px;
	left:635px;
	height:165px;/*165 105*/
}

/*--------------------
#about p
--------------------*/

#txt1{
	top: 468px;
	left:0px;
	width:280px;
	height:86px;
}
#txt2{
	top: 468px;
	left:330px;
	width:280px;
	height:86px;
}
#txt3{
	top: 468px;
	left:660px;
	width:280px;
	height:86px;
}
#txt4{
	top:478px;
	left:0px;
	width:280px;
	height:92px;
}
#txt5{
	top:478px;
	left:330px;
	width:280px;
	height:92px;
}
#txt6{
	top:478px;
	left:660px;
	width:280px;
	height:92px;
}
#txt7{
	top: 988px;
	left:130px;
	width:680px;
	height:62px;
}
#txt8{
	top:305px;/*304*/
	left:0px;
	width:940px;
	height:91px;/*60*/
}
#txt9{
	top:487px;/*451*/
	left:468px;/*500*/
	width:467px;/*440*/
	height:28px;/*40*/
}
#txt10{
	top:544px;/*520*/
	left:468px;/*500*/
	width:471px;/*470 440*/
	height:200px;/*183*/
}
#txt11{
	top:1053px;/*1035*/
	left:500px;
	width:319px;/*440*/
	height:55px;/*40*/
}
#txt12{
	top:1145px;/*1104*/
	left:500px;
	width:438px;
	height:160px;/*154*/
}
#txt13{
	top:1053px;/*1035*/
	left:0px;
	width:370px;/*440*/
	height:63px;/*40*/
}
#txt14{
	top:1145px;/*1104*/
	left:0px;
	width:414px;/*440*/
	height:160px;/*154*/
}
#txt15{
	top:1999px;/*1984*/
	left:199px;/*240*/
	width:591px;/*460*/
	height:55px;/*100*/
}
#txt16{
	top:2161px;/*2161*/
	left:0px;
	width:940px;
	height:40px;
}
#txt17{
	top:2352px;/*2352*/
	left:0px;
	width:701px;/*907 940*/
	height:44px;/*54*/
}
#txt18{
	top:2481px;/*2468*/
	left:0px;
	width:457px;/*940*/
	height:28px;/*30*/
}
#txt19{
	top:396px;
	left:0px;
	width:226px;/*280*/
	height:50px;/*32*/
}
#txt20{
	top:396px;
	left:330px;
	width:275px;/*280*/
	height:18px;/*32*/
}
#txt21{
	top:396px;
	left:660px;
	width:275px;/*280*/
	height:49px;/*32*/
}
#txt22{
	top:3018px;/*2968 2936*/
	left:0px;
	width:940px;
	height:40px;
}
#txt23{
	top:3209px;/*3162 3127*/
	left:0px;
	width:876px;/*812 940*/
	height:72px;/*44 54*/
}
#txt24{
	top:3367px;/*33393277 3243*/
	left:0px;
	width:486px;/*940*/
	height:28px;/*30*/
}
#txt25{
	top:405px;/*3397 3335 3301*/
	left:0px;
	width:260px;/*280*/
	height:18px;/*32*/
}
#txt26{
	top:405px;/*3397 3335 3301*/
	left:330px;
	width:274px;/*280*/
	height:49px;/*32*/
}
#txt27{
	top:405px;/*3397 3335 3301*/
	left:660px;
	width:271px;/*280*/
	height:49px;/*32*/
}
#txt28{
	top:4138px;/*4110 3944*/
	left:0px;
	width:940px;
	height:40px;
}
#txt29{
	top:4342px;/*4314 4136*/
	left:0px;
	width:914px;/*754 940*/
	height:44px;/*54*/
}

/*--------------------
#about img
--------------------*/

#about_top1{
	top:0px;
	left:0px;
	width:940px;
	height:150px;
}
#about_top2{
	top:190px;/*304*/
	left:0px;
	width:940px;
	height:91px;/*60*/
}
#about_b1t{
	top:337px;/*451*/
	left:468px;/*468 500*/
	width:444px;/*440*/
	height:28px;/*40*/
}
#about_b11{
	top:406px;/*520*/
	left:468px;/*468 500*/
	width:471px;/*470 440*/
	height:200px;/*183*/
}
#about_b1i{
	top:616px;
	left:510px;/*484 500 484 500*/
	width:411px;/*470 440*/
	height:213px;/*220 252*/
}
#about_b2t{
	top:921px;/*1053 1035*/
	left:500px;/*0*/
	width:370px;/*291 440*/
	height:63px;/*40*/
}
#about_b21{
	top:1014px;
	left:500px;/*0*/
	width:414px;/*440*/
	height:160px;/*154*/
}
#about_b2i1{
	top:1177px;/*1258*/
	left:500px;
	width:440px;
	height:175px;/*190*/
}
#about_b2i2{
	top:1349px;
	left:500px;
	width:440px;
	height:50px;
}
#about_b2i3{
	top:1397px;/*1498*/
	left:500px;
	width:440px;
	height:166px;/*190*/
}
#about_b3t{
	top:921px;/*1053 1035*/
	left:0px;/*500*/
	width:319px;/*408 440*/
	height:55px;/*58 40*/
}
#about_b31{
	top:1014px;
	left:0px;/*500*/
	width:438px;/*443 440*/
	height:160px;/*154*/
}
#about_b3i1{
	top:1177px;/*1258*/
	left:0px;
	width:443px;/*443 440*/
	height:175px;/*190*/
}
#about_b3i2{
	top:1349px;
	left:0px;
	width:443px;/*440*/
	height:50px;
}
#about_b3i3{
	top:1397px;/*1498*/
	left:0px;
	width:443px;/*440*/
	height:166px;/*190*/
}
#about_cnt1{
	top:1656px;/*1780*/
	left:240px;
	width:460px;
	height:160px;
}
#about_cnt2{
	top:1862px;/*1984*/
	left:199px;/*240*/
	width:591px;/*539460*/
	height:55px;/*91 100*/
}
#about_c1t{
	top:0px;/*2173 2161*/
	left:0px;
	right:0px;
	margin:auto;
	width:392px;
	height:34px;
}
#about_c1i1{
	top: 86px;
	left:0px;
	width:67px;
	height:80px;
}
#about_c1i2{
	top: 86px;
	left:67px;
	width:90px;
	height:80px;
}
#about_c1i3{
	top: 86px;
	left:157px;
	width:107px;
	height:80px;
}
#about_c1i4{
	top: 86px;
	left:264px;
	width:86px;
	height:80px;
}
#about_c1i5{
	top: 86px;
	left:350px;
	width:86px;
	height:80px;
}
#about_c1i6{
	top: 86px;
	left:436px;
	width:96px;
	height:80px;
}
#about_c1i7{
	top: 86px;
	left:532px;
	width:115px;
	height:80px;
}
#about_c1i8{
	top: 86px;
	left:647px;
	width:87px;
	height:80px;
}
#about_c1i9{
	top: 86px;/*2238*/
	left:734px;
	width:103px;
	height:80px;
}
#about_c1i10{
	top: 86px;
	left:837px;
	width:103px;
	height:80px;
}
#about_c1r{
	top:209px;
	left:0px;
	width:701px;
	height:44px;
}
#about_c1bt{
	top: 339px;
	left:0px;
	width:457px;
	height:28px;
}
#about_c1b1t{
	top:396px;
	left:0px;
	width:226px;
	height:50px;
}
#about_c1b1i{
	top: 594px;
	left:0px;
	width:280px;
	height:185px;
}
#about_c1b2t{
	top:396px;
	left:330px;
	width:275px;/*230 280*/
	height:18px;/*23 32*/
}
#about_c1b2i{
	top: 594px;
	left:330px;
	width:280px;
	height:185px;
}
#about_c1b3t{
	top:396px;
	left:660px;
	width:275px;/*253 280*/
	height:49px;/*23 32*/
}
#about_c1b3i{
	top: 594px;
	left:660px;
	width:280px;
	height:185px;
}
#about_c2t{
	top: 0px;
	left:0px;
	right:0px;
	margin: auto;
	width: 452px;
	height: 34px;
}
#about_c2i1{
	top: 76px;
	left:0px;
	width:47px;
	height:80px;
}
#about_c2i2{
	top: 76px;
	left:47px;
	width:100px;
	height:80px;
}
#about_c2i3{
	top: 76px;
	left:147px;
	width:95px;
	height:80px;
}
#about_c2i4{
	top: 76px;
	left:242px;
	width:90px;
	height:80px;
}
#about_c2i5{
	top: 76px;
	left:332px;
	width:113px;
	height:80px;
}
#about_c2i6{
	top: 76px;
	left:445px;
	width:113px;
	height:80px;
}
#about_c2i7{
	top: 76px;
	left:558px;
	width:115px;
	height:80px;
}
#about_c2i8{
	top: 76px;
	left:673px;
	width:85px;
	height:80px;
}
#about_c2i9{
	top: 76px;
	left:758px;
	width:106px;
	height:80px;
}
#about_c2i10{
	top: 76px;
	left:864px;
	width:76px;
	height:80px;
}
#about_c2r{
	top: 190px;
	left:0px;
	width:876px;/*812 930 940*/
	height:72px;/*44 54*/
}

#about_c2bt{
	top: 348px;
	left:0px;
	width:486px;/*516940*/
	height:28px;/*2230*/
}
#about_c2b1t{
	top:405px;/*3397 3345 3365 3335 3301*/
	left:0px;
	width:260px;/*222 280*/
	height:18px;/*49 32*/
}
#about_c2b2t{
	top:405px;/*3397 3345 3365 3335 3301*/
	left:330px;
	width:274px;/*215 280*/
	height:49px;/*32*/
}
#about_c2b3t{
	top:405px;/*3397 3345 3365 3335 3301*/
	left:660px;
	width:271px;/*187 280*/
	height:49px;/*32*/
}
#about_c2bi{
	top: 608px;
	left:0px;
	width:940px;
	height:364px;/*354*/
}
#about_c3t{
	top: 0px;
	left:0px;
	right:0px;
	margin: auto;
	width:474px;
	height:34px;
}
#about_c3i1{
	top: 77px;
	left:0px;
	width:87px;
	height:80px;
}
#about_c3i2{
	top: 77px;
	left:87px;
	width:120px;
	height:80px;
}
#about_c3i3{
	top: 77px;
	left:207px;
	width:100px;
	height:80px;
}
#about_c3i4{
	top: 77px;
	left:307px;
	width:84px;
	height:80px;
}
#about_c3i5{
	top: 77px;
	left:391px;
	width:113px;
	height:80px;
}
#about_c3i6{
	top: 77px;
	left:504px;
	width:113px;
	height:80px;
}
#about_c3i7{
	top: 77px;
	left:617px;
	width:102px;
	height:80px;
}
#about_c3i8{
	top: 77px;
	left:719px;
	width:72px;
	height:80px;
}
#about_c3i9{
	top: 77px;
	left:791px;
	width:87px;
	height:80px;
}
#about_c3i10{
	top: 77px;
	left:878px;
	width:62px;
	height:80px;
}
#about_c3r{
	top:202px;
	left:0px;
	width:914px;
	height:44px;
}