{% extends 'ag_base/backend.html.twig' %}

{% block javascripts %}

    {{ parent() }}

    <!-- page script -->
    <script type="text/javascript">
        $(function() {
            $("#configs_list").dataTable({
				serverSide: true,
				ajax: 'configs/list',
                paging: false,
                searching: false,
				columns: [
					{% for table_column in table_columns %}
					{ "data": "{{ table_column }}"},
                    {% endfor %}
					{
						"orderable": false,
						"data": null,
						"defaultContent": null,
					}
				],
				rowCallback: function( row, data ) {
					var actions = '<a href="configs/edit/' + data.{{primary_key}} + '" class="btn btn-primary btn-xs">Edit</a>';
					$('td:eq({{ table_columns|length }})', row).html( actions );
				}
			});
        });

        function confirm_delete(){
            if(!confirm("Are you sure? This action cannot be undone.")) { 
                return false;
            }
        }

    </script>
{% endblock %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'configs_list'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Configs list
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">

                        {% include 'ag_alerts.html.twig' %}

                        <div class="box">
                            <div class="box-header">
                                
                            </div><!-- /.box-header -->

                            <div class="box-body table-responsive">
                                <table id="configs_list" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>LIMEX PRODUCT</th>
                                            <th>WATER SAVE</th>
                                            <th>LIMEX名刺 導入社数</th>
                                            <th>LIMEX名刺 流通枚数</th>
                                            <th>WATER SAVE(500ml)</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
