//--------------------------------------------
//header
//--------------------------------------------

header {
  background: #000;
  border-bottom: 1px solid #3f3f3f;
  
  .wrapper {
    width: 940px;
    height: 73px;
    // position: relative;
  }

  .logo {
    display: table-cell;
    vertical-align: middle;
  }

  #gnav {
    display: table-cell;
    vertical-align: middle;
    width: 100%;

    ul {
      float: right;

      .g-sub-navi {
        display: none;
        position: absolute;
        width: 100%;
        min-height: 50px;
        background: rgba(75, 75, 75, 0.9);
        left: 0;
        z-index: 999;

        ul {
          width: 940px;
          margin: 0 auto;
          float: none;
          height: 50px;
          @include clearfix;

          li {
            float: left;
            padding: 17px 0;

            a {
              height: auto;
              font-size: 13px;
              display: inline-block;
              background: none;
              text-indent: inherit;
              vertical-align: middle;
              padding: 0 19px;
              color: #9e9e9e;
              text-decoration: none;
              font-family: $f-yumin;
              border-right: 1px solid #4A4A4A;
              vertical-align: middle;

              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

}

#lang01 {
    height: 50px;
    overflow: hidden;
    width: 940px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
}

#lang02 {
    text-align: right;
    margin-right: 50px;
}

#ext01-01 {
    position: absolute;
    top: 18px;
    left: 570px;
}

#ext01-02 {
    position: absolute;
    top: 18px;
    left: 728px;
}

.header-facebook {
    a {
        height: 30px;
        width: 30px;
        background: url(../../img/en/common/icon_facebook.png) no-repeat center center;
        background-size: cover;
        position: absolute;
        top: 10px;
        right: 0;
        text-indent: -9999px;
        overflow: hidden;
    }
}

// #gnav {
//     height: 73px;
//     position: absolute;
//     top: 0px;
//     left: 365px;

//     /*329*/
//     width: 692px;

//     /*617*/
// }

#gnav {
    li {
        float: left;

        a {
            text-indent: -9999px;
            overflow: hidden;
        }

        a,
        span {
            cursor: pointer;
            display: block;
            height: 73px;
            background: url(../../img/en/common/nav_header.png) no-repeat;
        }
    }
}

#gnav .nav1 {
    width: 94px;
}

#gnav .nav1 a {
    background-position: 0px 0px;
}

#gnav .nav1 a:hover, #gnav .nav1 a.cur {
    background-position: 0px -73px;
}

#gnav .nav2 {
    width: 105px;
}

#gnav .nav2 a {
    background-position: -94px 0px;
}

#gnav .nav2 a:hover, #gnav .nav2 a.cur {
    background-position: -94px -73px;
}

#gnav .nav3 {
    width: 115px;
}

#gnav .nav3 a {
    background-position: -199px 0px;
}

#gnav .nav3 a:hover, #gnav .nav3 a.cur {
    background-position: -199px -73px;
}

#gnav .nav4 {
    width: 119px;
}

#gnav .nav4 a {
    background-position: -314px 0px;
}

#gnav .nav4 a:hover, #gnav .nav4 a.cur {
    background-position: -314px -73px;
}

#gnav .nav5 {
    width: 86px;
}

#gnav .nav5 a {
    background-position: -432px 0px;
}

#gnav .nav5 a:hover, #gnav .nav5 a.cur {
    background-position: -432px -73px;
}

#gnav .nav6 {
    width: 98px;
}

#gnav .nav6 a {
    background-position: -519px 0px;
}

#gnav .nav6 a:hover, #gnav .nav6 a.cur {
    background-position: -519px -73px;
}

#subNav {
    border-bottom: 1px solid #000;
    height: 19px;
}

#subNav01 {
    width: 940px;
    margin: 0 auto;
}

#subNav ul {
    height: 19px;
    position: absolute;
    top: 0px;
    left: 640px;
    width: 310px;
}

/*555 383*/
#subNav ul li {
    float: left;
}

#subNav ul li a {
    cursor: pointer;
    display: block;
    height: 19px;
    background: url(../../img/en/company/subnav01.gif) no-repeat;
}

#subNav .nav1 {
    width: 97px;
}

#subNav .nav1 a {
    background-position: 0px 0px;
}

#subNav .nav1 a:hover, #subNav .nav1 a.cur {
    background-position: 0px -19px;
}

#subNav .nav2 {
    width: 105px;
}

#subNav .nav2 a {
    background-position: -97px 0px;
}

#subNav .nav2 a:hover, #subNav .nav2 a.cur {
    background-position: -97px -19px;
}

#subNav .nav3 {
    width: 107px;
}

#subNav .nav3 a {
    background-position: -202px 0px;
}

#subNav .nav3 a:hover, #subNav .nav3 a.cur {
    background-position: -202px -19px;
}

#subNav .nav4 {
    width: 74px;
}

#subNav .nav4 a {
    background-position: -309px 0px;
}

#subNav .nav4 a:hover, #subNav .nav4 a.cur {
    background-position: -309px -19px;
}

#subNav02 {
    border-bottom: 1px solid #000;
    height: 19px;
    margin-bottom: 70px;
}

#subNav02-01 {
    width: 940px;
    margin: 0 auto;
}

#subNav02 ul {
    height: 19px;
    position: absolute;
    top: 0px;
    left: 723px;
    width: 215px;
}

#subNav02 ul li {
    float: left;
}

#subNav02 ul li a {
    cursor: pointer;
    display: block;
    height: 19px;
    background: url(../../img/en/news/subnav01.gif) no-repeat;
}

#subNav02 .nav1 {
    width: 65px;
}

#subNav02 .nav1 a {
    background-position: 0px 0px;
}

#subNav02 .nav1 a:hover, #subNav02 .nav1 a.cur {
    background-position: 0px -19px;
}

#subNav02 .nav2 {
    width: 87px;
}

#subNav02 .nav2 a {
    background-position: -65px 0px;
}

#subNav02 .nav2 a:hover, #subNav02 .nav2 a.cur {
    background-position: -65px -19px;
}

#subNav02 .nav3 {
    width: 63px;
}

#subNav02 .nav3 a {
    background-position: -152px 0px;
}

#subNav02 .nav3 a:hover, #subNav02 .nav3 a.cur {
    background-position: -152px -19px;
}


.sub-navi {
  border-bottom: 1px solid #000;
  padding-bottom: 8px;

  .inner {
    width: 940px;
    margin: 0 auto;

    @include clearfix;

    ul {
      @include clearfix;
      float: right;

      li {
        float: left;
        margin-left: 40px;

        &:first-child {
          margin-left: 0;
        }

        a {
          font-size: 12px;
          font-family: $f-yumin;

          &:hover,
          &.cur {
            text-decoration: none;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
body {
  &.aboutus,
  &.message,
  &.profile,
  &.identity,
  &.history,
  &.story,
  &.access,
  &.award {
    .pageTtl {
      h2 {
        width: 392px;
        height: 45px;
        background: url(../../img/company/title01.gif) no-repeat;
        margin: 0 auto;
      }
    }
  }
}

#normal, #gnav {
  li {
    &:hover {
      ul {
        display: block;
      }
    }

    ul {
      display: none;
    }
  }

  #dropmenu {
    li {
      ul {
        li {
          overflow: hidden;
          height: 0;
          transition: .2s;
        }
      }

      &:hover {
        ul {
          li {
            overflow: visible;
            height: 38px;
          }
        }
      }
    }
  }
}

.dropmenu {
  *zoom: 1;
  list-style-type: none;
  width: 960px;
  margin: 5px auto 30px;
  padding: 0;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  li {
    position: relative;
    width: 20%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;

    &:hover > a {
      background: #6e7c0c;
    }

    a {
      display: block;
      margin: 0;
      padding: 15px 0 11px;
      background: #8a9b0f;
      color: #fff;
      font-size: 14px;
      line-height: 1;
      text-decoration: none;

      &:hover {
        background: #616d0b;
      }
    }

    ul {
      list-style: none;
      position: absolute;
      z-index: 9999;
      top: 100%;
      left: 0;
      margin: 0;
      padding: 0;

      li {
        width: 100%;

        a {
          padding: 13px 15px;
          border-top: 1px solid #7c8c0e;
          background: #6e7c0c;
          text-align: left;
        }
      }
    }
  }
}

.fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
}