@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#subNav02 li a, body.recruit .pageTtl10 h2, body.aboutus .sec1 h2, body.identity .sec1 h2, body.message #kv03 p, body.message #kv03 h3, footer .copyright, #anim .linkMaterial, #skip, body.material .summary h3, body.material .summary .txt, body.material .summary2 h3, body.material .summary2 .txt1, body.material .summary2 .txt2, body.material .materials h4, #exp1 section span, #exp1 section h4, #exp2 h4, #exp3 h3, #exp3 h4, body.news .pageTtl h2, body.factory .pageTtl h2, body.factory .about h3, body.aboutus .pageTtl h2, body.recruit .pageTtl h2, body.recruit .pageTtl02 h2, body.recruit .sec h3, body.identity .pageTtl h2, body.identity .sections p, body.message .pageTtl h2, body.recruit .photo, body.recruit .pageTtl03 h2, body.privacy .pageTtl h2, body.privacy h3, footer .icon01, footer .icon02, footer .icon03, body.products .pageTtl h2 {
  text-indent: -9999px;
  overflow: hidden;
}

body.material .materials, #exp1 .wrapper, #exp2, #exp3, body.news .data article, .tabWrap, #adoption .wrapper, body.contact #body .wrapper, body.contact #form dl, body.aboutus .sec, body.aboutus .sec5, body.aboutus .sec6, body.aboutus .sec7, body.recruit .sec, body.recruit .sec5, body.recruit .sec6, body.recruit .sec7, body.identity #body .wrapper, body.message #body .wrapper, body.privacy #body .wrapper {
  overflow: hidden;
  *zoom: 1;
}

.cf01:before, .cf01:after {
  content: "";
  display: table;
}

.cf01:after {
  clear: both;
}

.cf01 {
  zoom: 1;
}

.pr01 {
  position: relative;
  top: 0;
  left: 0;
}

/* common
-------------------------*/
body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  text-align: center;
  -webkit-text-size-adjust: none;
}

a {
  color: black;
  text-decoration: none;
  letter-spacing: 1.5px;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  text-align: left;
  width: 940px;
  margin: 0 auto;
  text-align: left;
}

h1, h2, h3, h4, h5, h6, p, li {
  max-height: 100%;
}

.pageTtl {
  padding: 88px 0 62px;
  /*172*/
}

html {
  height: 100%;
}

h2 {
  text-indent: -9999px;
  overflow: hidden;
}

h3 {
  font-family: "Times New Roman", "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 35px;
  margin: 79px auto 70px;
  letter-spacing: 4px;
  text-align: center;
}
h3 span {
  font-size: 18px;
  padding-left: 5px;
  letter-spacing: 2px;
}

.pt0 {
  padding-top: 0px !important;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pt60 {
  padding-top: 60px;
}

.pt70 {
  padding-top: 70px;
}

.pt80 {
  padding-top: 80px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb70 {
  padding-bottom: 70px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb90 {
  padding-bottom: 90px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mt100 {
  margin-top: 100px !important;
}

.mt120 {
  margin-top: 120px !important;
}

.mt140 {
  margin-top: 140px !important;
}

.mt160 {
  margin-top: 160px !important;
}

.mt180 {
  margin-top: 180px !important;
}

.mt200 {
  margin-top: 200px !important;
}

.mt220 {
  margin-top: 220px !important;
}

.mt240 {
  margin-top: 240px !important;
}

.mt260 {
  margin-top: 260px !important;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.v-top {
  vertical-align: top;
}

.pageTtl {
  border-bottom: 1px solid #000;
}

.btn_black {
  margin: 60px auto 0;
  width: 250px;
}
.btn_black a {
  display: inline-block;
  background: #000 url("../img/arrow_right.png") 20px center no-repeat;
  padding: 20px 0;
  width: 250px;
  text-align: center;
  color: #fff;
}
.btn_black a:hover {
  background: #4d4d4d url("../img/arrow_right.png") 20px center no-repeat;
  text-decoration: none;
}
.btn_black #btn_submit {
  display: inline-block;
  background: #000 url("../img/arrow_right.png") 20px center no-repeat;
  padding: 15px 0;
  width: 250px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.btn_black #btn_submit:hover {
  background: #4d4d4d url("../img/arrow_right.png") 20px center no-repeat;
}

.order .btn_sample {
  margin-top: 10px;
  padding: 10px 0 10px 15px;
  text-align: center;
  display: inline-block;
  border: 1px solid #bfbfbf;
  background: url("../img/arrow_right_02.png") 10px center no-repeat;
  width: 205px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}
.order .btn_sample:hover {
  cursor: pointer;
  text-decoration: none;
  background: #000 url("../img/arrow_right.png") 10px center no-repeat;
  color: #fff;
}

.price table {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #e6e6e6;
}
.price table tr td,
.price table tr th {
  padding: 20px;
}
.price table tr td span,
.price table tr th span {
  font-size: 12px;
}
.price table tr th {
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
}
.price table tr td {
  border: 1px solid #e6e6e6;
}
.price table.sheets tr.head {
  background: #f7f7f7;
}

table.option tr th {
  background: #e6e6e6;
  line-height: 1.3;
}
table.option tr td.head {
  background: #f7f7f7;
  line-height: 1.3;
}

ul.disc {
  list-style-type: disc;
  padding: 20px 0 0 20px;
}
ul.disc li {
  padding: 5px 0;
}

.order .order_modal .inner {
  padding: 30px;
}
.order .order_modal .inner .title {
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
}
.order .order_modal .inner p {
  padding-top: 80px;
}
.order #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/btn_close.png) center center no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.order #cboxClose:hover {
  background: url(../img/btn_close.png) center center no-repeat;
  width: 50px;
  height: 50px;
}

.explain h3 {
  margin: 30px auto 70px;
}
.explain .keyv {
  font-family: "Times New Roman", "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  margin-bottom: 60px;
}
.explain .keyv .img {
  width: 940px;
  background: url("../img/explain-kv.png") no-repeat;
  min-height: 620px;
}
.explain .keyv h3 {
  margin: 40px auto 20px;
  width: 569px;
  min-height: 35px;
  background: url("../img/keyv-title.png") center no-repeat;
  background-size: contain;
}
.explain .keyv .des {
  width: 940px;
  background: url("../img/keyv-title-sub.png") center bottom no-repeat;
  background-size: contain;
  min-height: 288px;
  padding: 20px 0 0;
}
.explain .contents {
  padding-top: 130px;
}
.explain .about .about-text {
  width: 940px;
  min-height: 300px;
  background: url("../img/about-text.png") center no-repeat;
  padding: 20px 0;
}
.explain .about .des {
  padding-top: 20px;
}
.explain .about .des.column_2 li {
  width: 335px;
}
.explain .about .des.column_2 li.text {
  min-height: 180px;
  background: url("../img/about-des-text.png") center left no-repeat;
  background-size: contain;
  width: 575px;
}
.explain .column_2 {
  zoom: 1;
}
.explain .column_2:after {
  display: table;
  clear: both;
  content: "";
}
.explain .column_2 li {
  float: left;
  width: 424px;
  line-height: 1.8;
  margin-right: 30px;
}
.explain .column_2 li:last-child {
  margin-right: 0;
}
.explain .column_2 li .text {
  font-size: 15px;
}
.explain .column_2 li img {
  width: 100%;
}
.explain .price .title {
  padding-top: 40px;
  font-weight: bold;
}
.explain .price .title:first-child {
  padding-top: 0;
}
.explain .price .note {
  padding-top: 10px;
  font-size: 12px;
  line-height: 1.6;
  width: 950px;
}
.explain .points ul {
  border-top: 1px solid #cccccc;
  padding-top: 30px;
}
.explain .points ul li {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cccccc;
}
.explain .points ul li .title {
  font-family: YuGothic, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  margin-bottom: 15px;
  font-size: 17px;
}
.explain .points ul li .text {
  line-height: 1.8;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif !important;
}

body h2 {
  width: 371px;
  height: 48px;
  background: url(/order/img/title01.png) no-repeat;
  margin: 0 auto;
}

footer {
  clear: both;
}

input::-webkit-input-placeholder {
  font-weight: inherit;
  font-size: 14px;
}

input:-moz-placeholder {
  font-weight: inherit;
  font-size: 14px;
}

.cf:after {
  content: "";
  clear: both;
  display: block;
}

.mb_llll {
  margin-bottom: 50px !important;
}

.mb_lll {
  margin-bottom: 45px !important;
}

.mb_ll {
  margin-bottom: 40px !important;
}

.mb_m {
  margin-bottom: 35px !important;
}

.mb_s {
  margin-bottom: 30px !important;
}

.mb_ss {
  margin-bottom: 25px !important;
}

.mb_sss {
  margin-bottom: 20px !important;
}

.mb_ssss {
  margin-bottom: 15px !important;
}

.mb_sssss {
  margin-bottom: 10px !important;
}

.mb_ssssss {
  margin-bottom: 5px !important;
}

.mt_llll {
  margin-top: 50px !important;
}

.mt_lll {
  margin-top: 45px !important;
}

.mt_ll {
  margin-top: 40px !important;
}

.mt_m {
  margin-top: 35px !important;
}

.mt_s {
  margin-top: 30px !important;
}

.mt_ss {
  margin-top: 25px !important;
}

.mt_sss {
  margin-top: 20px !important;
}

.mt_ssss {
  margin-top: 15px !important;
}

.mt_sssss {
  margin-top: 10px !important;
}

.pb_llll {
  padding-bottom: 50px !important;
}

.pb_lll {
  padding-bottom: 45px !important;
}

.pb_ll {
  padding-bottom: 40px !important;
}

.pb_m {
  padding-bottom: 35px !important;
}

.pb_s {
  padding-bottom: 30px !important;
}

.pb_ss {
  padding-bottom: 25px !important;
}

.pb_sss {
  padding-bottom: 20px !important;
}

.pb_ssss {
  padding-bottom: 15px !important;
}

.pb_sssss {
  padding-bottom: 10px !important;
}

.pt_llll {
  padding-top: 50px !important;
}

.pt_lll {
  padding-top: 45px !important;
}

.pt_ll {
  padding-top: 40px !important;
}

.pt_m {
  padding-top: 35px !important;
}

.pt_s {
  padding-top: 30px !important;
}

.pt_ss {
  padding-top: 25px !important;
}

.pt_sss {
  padding-top: 20px !important;
}

.pt_ssss {
  padding-top: 15px !important;
}

.pt_sssss {
  padding-top: 10px !important;
}

.caution {
  color: #000;
}

.order-content {
  border: solid 1px gray;
  position: relative;
  left: -100px;
  width: 50%;
  display: table-cell;
}

div.head {
  margin-top: 10px;
  margin-bottom: 10px;
}

.order_title {
  font-family: "游明朝体 Light", "Yu Mincho", YuMincho, serif;
  /*width: 700px;*/
  border-bottom: solid 1px black;
  color: #000;
  padding: 0 15px 15px 0px;
  font-size: 20px;
  /*display: table-cell;*/
  vertical-align: middle;
}

.order-row {
  border: solid 1px gray;
  width: 100%;
  display: table;
  clear: both;
}

.order_post {
  border: none;
  background: #eee;
  font-size: 16px;
  padding: 8px 5px;
  margin-bottom: 5px;
}

.btn {
  outline: none;
  border-style: none;
  font-family: "游明朝体 Light", "Yu Mincho", YuMincho, serif;
  background: #000;
  font-size: 12px;
  color: white;
  margin-bottom: 5px;
  padding: 15px;
}

.btn:hover {
  cursor: pointer;
  filter: alpha(opacity=60);
  /* ie lt 8 */
  -ms-filter: "alpha(opacity=60)";
  /* ie 8 */
  -moz-opacity: 0.6;
  /* FF lt 1.5, Netscape */
  -khtml-opacity: 0.6;
  /* Safari 1.x */
  opacity: 0.6;
  zoom: 1;
}

.filebtn {
  font-family: "游明朝体 Light", "Yu Mincho", YuMincho, serif;
  background: #aaa;
  font-size: 10px;
  color: white;
  margin-bottom: 5px;
  padding: 7px 12px;
}

.errmsg {
  color: #FF0000;
  padding: 8px 0;
}

.order #form dl {
  padding-bottom: 20px !important;
}

.wrapper.input, .wrapper.cofirm {
  /*padding-bottom: 100px;*/
}

.wrapper dt, .wrapper dd {
  padding: 0 0 0 0 !important;
}

.wrapper .form_small {
  width: 100px;
}

.cofirm {
  vertical-align: bottom !important;
}

.cofirm dl {
  border-bottom: solid 1px #ccc;
  padding-top: 20px;
}

.cofirm dl:last-child {
  border-bottom: none;
}

/*explain*/
.explain .text_base {
  line-height: 1.7;
}

.explain .content_wrap {
  float: right;
  width: 720px;
  padding-bottom: 50px;
}

.explain .caution {
  font-size: 12px;
}

.explain .caution li {
  margin-bottom: 4px;
  line-height: 1.7;
}

.explain .caution li:before {
  content: "※";
}

.explain .list li {
  margin-bottom: 8px;
  list-style-type: disc;
  margin-left: 20px;
  line-height: 1.7;
}

.explain dl dd dl {
  border-bottom: solid 1px #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.explain dl dd dl dd {
  line-height: 1.7;
}

.a_btn_wrap {
  padding: 10px 0;
  text-align: center;
}

.a_btn_wrap .a_btn {
  font-family: "游明朝体 Light", "Yu Mincho", YuMincho, serif;
  background: #000;
  font-size: 12px;
  color: white;
  margin-bottom: 5px;
  padding: 15px 25px;
}

.a_btn_wrap .a_btn:hover {
  filter: alpha(opacity=60);
  /* ie lt 8 */
  -ms-filter: "alpha(opacity=60)";
  /* ie 8 */
  -moz-opacity: 0.6;
  /* FF lt 1.5, Netscape */
  -khtml-opacity: 0.6;
  /* Safari 1.x */
  opacity: 0.6;
  zoom: 1;
  text-decoration: none;
}

.order .pageTtl {
  border-bottom: 1px solid #000;
}

body h3 {
  background: none;
  width: auto;
  font-family: "Times New Roman", "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 35px;
  margin: 79px auto 70px;
  letter-spacing: 4px;
  text-align: center;
  float: none;
  height: auto;
}

body.order #body .wrapper {
  width: 780px;
}

body.order .note {
  text-align: left;
  margin-bottom: 30px;
}

body.order #form {
  /*float: right;*/
  width: 780px;
}

body.order #form dl dt {
  float: left;
  line-height: 1.5;
  clear: both;
}

body.order #form dl dd {
  width: 540px;
  padding: 0 0 32px 0;
  float: right;
}

body.order #form select {
  background: #f6f6f6 url(../form/contact_lime-x/contact/img/bg_select.png) no-repeat 285px center;
  border: 1px solid #dcdcdc;
  width: 290px;
  padding: 5px 0 5px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
}

body.order #form select {
  background: #f6f6f6 url(../form/contact_lime-x/contact/img/bg_select.png) no-repeat 285px center;
  border: 1px solid #dcdcdc;
  width: 290px;
  padding: 5px 0 5px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
}

body.order #form .input_001, body.order #form .post {
  border: none;
  background: #eee;
  font-size: 16px;
  padding: 8px 5px;
  width: 530px;
}

body.order #form dl dd label {
  margin-right: 20px;
}

body.order #form .inline-block {
  display: block;
}

body.order #form .form-pattern-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
body.order #form .form-pattern-table td {
  padding: 10px;
  border: 1px solid #ccc;
  line-height: 1.5;
}

.order .meishi-img {
  padding: 30px 0;
}
.order .select-design {
  padding-top: 20px;
}
.order .consent {
  text-align: center;
}
.order .consent label {
  padding-right: 20px;
}
.order .consent label:last-child {
  padding-right: 0;
}

.order .complate_text {
  padding: 70px 0;
}
.order .complate_text .thanks {
  font-size: 18px;
  font-family: "Times New Roman", "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.order .complate_text .orderid {
  padding-top: 30px;
  font-size: 16px;
}
.order .complate_text .text {
  padding-top: 30px;
  line-height: 1.6;
}
.order .complate_text .text a {
  text-decoration: underline;
}
.order .share-sns {
  width: 700px;
  margin: auto;
  padding: 21px 0;
  border: 2px solid #cdcecd;
}
.order .share-sns p {
  font-size: 22px;
}
.order .share-sns p.title {
  font-weight: bold;
}
.order .share-sns p.txt-share {
  margin: 20px 0 5px;
}
.order .share-sns .share-btns {
  overflow: hidden;
  text-align: center;
  letter-spacing: -0.4em;
}
.order .share-sns .share-btns li {
  display: inline-block;
  letter-spacing: normal;
}
.order .share-sns .share-btns li:first-child {
  margin-right: 10px;
}
.order .share-sns .share-btns li img {
  width: 43px;
  height: 43px;
}
.doublecol .left {
  float: left;
  width: 15%;
}
.doublecol .right {
  float: right;
  width: 85%;
  margin-top: 3px;
}

body.order #form  dl.color_number dd {
  width: 270px
}

body.order #form  dl.color_number dd:nth-child(1) {
  width: 150px;
  float: left;
}

body.order #form  dl.color_number dd:nth-child(2) {
  width: 150px;
  float: right;
}
body.order #form  dl.color_number .color_number_right dd:nth-child(1) {
  width: 390px;
}

body.order #form  dl.color_number .color_number_right dd:nth-child(2) {
  width: 390px;
}
body.order #form  dl.color_number .color_number_right dd:nth-child(3) {
  width: 390px;
}
body.order #form  dl.color_number dd.file_caution{
  width: 540px

}
.color_number_block{
  width: 540px;
  float: right;
}