<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css;" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title>メールマガジン/{$ml_app_name}</title>
    <link type="text/css" rel="stylesheet" href="css/layout.css" />
</head>

<body>

<div id="contents_wrapper">

    <div id="contents">

        <div id="main">
            エラーが発生しました。<br />
            再度、始めから退会手続きを行ってください。<br />
        </div>

    </div>
</div>

</body>
</html>

