@charset "UTF-8";
body {
  background-color: #fff;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #000;
  line-height: 1.5;
}

a {
  color: #000;
}

p {
  line-height: 1.5;
}

img {
  vertical-align: bottom;
}

header.global {
  border-bottom: 1px solid #fff;
  height: 50px;
  background-color: #000000;
  position: relative;
  z-index: 100;
}
header.global h1 img {
  width: 110px;
  margin: 13px 0 0 15px;
}
header.global .button-menu {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 18px 20px;
  cursor: pointer;
  width: 65px;
  height: 50px;
  box-sizing: border-box;
}
header.global .button-menu div {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  box-sizing: border-box;
  width: 30px;
  height: 16px;
  position: relative;
}
header.global .button-menu span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}
header.global .button-menu span:nth-of-type(1) {
  top: 0;
}
header.global .button-menu span:nth-of-type(2) {
  top: 7px;
}
header.global .button-menu span:nth-of-type(3) {
  bottom: 0;
}
header.global .button-menu.active span:nth-of-type(1) {
  -webkit-transform: translateY(7px) rotate(-45deg);
          transform: translateY(7px) rotate(-45deg);
}
header.global .button-menu.active span:nth-of-type(2) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
header.global .button-menu.active span:nth-of-type(3) {
  -webkit-transform: translateY(-7px) rotate(45deg);
          transform: translateY(-7px) rotate(45deg);
}

nav.nav-global {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 1001;
  width: 100%;
  font-family: "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  padding-top: 20px;
  padding-bottom: 100px;
  display: none;
}
nav.nav-global a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.1em;
}
nav.nav-global .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
nav.nav-global > ul {
  z-index: 1;
  position: relative;
}
nav.nav-global > ul > li {
  text-align: center;
}
nav.nav-global > ul > li > a {
  font-size: 18px;
  padding: 15px 10px;
  margin-top: 20px;
}
nav.nav-global > ul > li li a {
  font-size: 12px;
  color: #cbcbcb;
  padding: 10px 20px;
}

.footer-global .nav-footer {
  border-bottom: 1px solid #cbcbcb;
  margin-top: 40px;
}
.footer-global .nav-footer a {
  display: block;
  text-decoration: none;
  font-size: 11px;
  padding: 13px 0;
  background-image: url(../images/icon-link-arrow.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 5px auto;
}
.footer-global .nav-footer li {
  border-top: 1px solid #cbcbcb;
}
.footer-global .sns {
  text-align: center;
  margin-top: 35px;
}
.footer-global .sns li {
  display: inline-block;
  margin: 0 5px;
}
.footer-global .sns li img {
  width: 40px;
}
.footer-global .cr {
  margin-top: 40px;
  padding-bottom: 20px;
  font-size: 10px;
  text-align: center;
  font-family: "Times New Roman", "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

/*
explain
------------------*/
.explain p {
  font-size: 14px;
}
.explain h2 {
  letter-spacing: 0.2em;
  margin-top: 40px;
  font-size: 28px;
  text-align: center;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
.explain h2 + * {
  margin-top: 20px;
}
.explain h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
.explain h3 + * {
  margin-top: 10px;
}
.explain table {
  width: 100%;
}
.explain table th, .explain table td {
  font-size: 14px;
  border: 1px solid #e6e6e6;
  padding: 10px;
  text-align: left;
}
.explain table th {
  background-color: #f7f7f7;
}
.explain .note {
  font-size: 11px;
  padding-left: 1em;
  text-indent: -1em;
}
.explain .points li {
  padding-left: 1em;
  text-indent: -1em;
  font-size: 14px;
}
.explain dl {
  border-bottom: 1px solid #e6e6e6;
}
.explain dt, .explain dd {
  font-size: 14px;
}
.explain dt {
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
  font-weight: bold;
}
.explain dd {
  margin-top: 10px;
  padding-bottom: 10px;
}
.explain .lead {
  margin-top: 20px;
}
.explain .lead p {
  margin-top: 10px;
  text-align: center;
  font-family: "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.explain table.option th {
    background: #e6e6e6;
}

.explain table.option .head {
  background: #f7f7f7;
}

a.button {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 20px 0;
  width: 100%;
  text-decoration: none;
  background-image: url(../images/icon-button-arrow.png);
  background-repeat: no-repeat;
  background-position: 20px center;
}

.wrapper {
  padding: 0 15px;
}

img.full {
  width: 100%;
}

.center {
  text-align: center;
}

.cf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.cf {
  min-height: 1px;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}
