@charset "UTF-8";
h2 {
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
h2 img {
  height: 15px;
}

.story {
  background-color: rgba(0, 0, 0, 0.85);
  font-family: "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  padding: 20px 40px 80px 40px;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  z-index: 1001;
  box-sizing: border-box;
  display: none;
}
.story p {
  color: #fff;
  font-size: 11px;
  line-height: 2;
  margin-top: 2em;
  letter-spacing: 0.2em;
}

.key {
  line-height: 1;
}
.key .key-slider {
  width: 100%;
  overflow: hidden;
}
.key .key-slider ul {
  width: 99999px;
}
.key .key-slider li {
  float: left;
}
.key .key-slider li img {
  width: 100%;
}
.key .key-slider-ui {
  text-align: center;
  font-size: 0;
  padding-bottom: 30px;
  margin-top: 15px;
}
.key .key-slider-ui div, .key .key-slider-ui ul, .key .key-slider-ui li {
  display: inline-block;
  vertical-align: middle;
}
.key .key-slider-ui .circles li {
  background-color: #d0d0d0;
  width: 8px;
  height: 8px;
  margin: 0 9px;
  border-radius: 15px;
}
.key .key-slider-ui .circles li.current {
  background-color: #535353;
}

.articles li {
  margin-top: 15px;
  overflow: hidden;
}
.articles a {
  display: block;
  text-decoration: none;
  background-image: url(../images/icon-link-circle.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 10px auto;
  overflow: hidden;
}
.articles .left {
  width: 90px;
  float: left;
}
.articles .left img {
  width: 100%;
}
.articles .left .cat {
  font-family: "Times New Roman", "游明朝", YuMincho, "HG明朝B", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  background-color: #ececec;
  border: 1px solid #c9c9c9;
  font-size: 9px;
  text-align: center;
  padding: 3px 0;
  margin-bottom: 5px;
}
.articles .right {
  margin-left: 100px;
}
.articles .right p {
  font-size: 11px;
  padding-right: 15px;
  text-align: justify;
}
.articles .right time {
  font-size: 9px;
  display: block;
  margin-top: 5px;
}
.news .articles .right {
  padding-top: 28px;
}

.button-more {
  margin-top: 25px;
  text-align: center;
}
.button-more img {
  width: 150px;
}

nav.nav-contents {
  margin-top: 35px;
}
nav.nav-contents li {
  margin-top: 10px;
}
nav.nav-contents img {
  width: 100%;
}
